    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><%= link_to "Introdução", "#{base_url_v1}/manual/introducao/como-usar" %></li>
          <li><%= link_to "Componentes", "#{base_url_v1}/manual/componentes/abas" %></li>
          <li><%= link_to "Formulários", "#{base_url_v1}/manual/formularios/campos" %></li>
          <li><%= link_to "Aplicações", "#{base_url_v1}/manual/aplicacoes/box-com-colunas" %></li>
          <li><%= link_to "Layout", "#{base_url_v1}/manual/layout/cores-principais" %></li>
          <li><%= link_to "Acessibilidade", "#{base_url_v1}/manual/acessibilidade/tabindex" %></li>
          <li><%= link_to "Cartilha de Elementos", "#{base_url_v1}/manual/elementos", :target => '_blank' %></li>
        </ul>
      </div>
    </div>
