<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to "Box com colunas", "#{base_url_v1}/manual/aplicacoes/box-com-colunas" %></li>
		<li><%= link_to "Busca avançada", "#{base_url_v1}/manual/aplicacoes/busca-avancada" %></li>
		<!-- <li><%= link_to "Chamada vários links", "#{base_url_v1}/manual/aplicacoes/chamada-varios-links" %></li> -->
		<li><%= link_to "Collapse", "#{base_url_v1}/manual/aplicacoes/collapse" %></li>
		<li><%= link_to "Filtro exibição e paginação", "#{base_url_v1}/manual/aplicacoes/paginacao" %></li>
		<li><%= link_to "Lista", "#{base_url_v1}/manual/aplicacoes/lista" %></li>
		<li><%= link_to "Soma Valores", "#{base_url_v1}/manual/aplicacoes/soma-valores" %></li>
		<li><%= link_to "Tour Guiado", "#{base_url_v1}/manual/aplicacoes/tour-guiado" %></li>
	</ul>
</nav>
