<!-- Menu de Componentes -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to "Abas ou Tabs", "#{base_url_v1}/manual/componentes/abas" %></li>
		<li><%= link_to "Alertas", "#{base_url_v1}/manual/componentes/alertas" %></li>
		<li><%= link_to "Alternador de texto", "#{base_url_v1}/manual/componentes/alternando-textos" %></li>
		<li><%= link_to "Barra de progresso", "#{base_url_v1}/manual/componentes/barra-progresso" %></li>
		<li><%= link_to "Botões", "#{base_url_v1}/manual/componentes/botoes" %></li>
		<!--
		<li>Chamada 1 elemento</li>
		<li>Choose box</li>
		-->
		<li><%= link_to "Classes funcionais", "#{base_url_v1}/manual/componentes/classes-funcionais" %></li>
		<li><%= link_to "Ícones", "#{base_url_v1}/manual/componentes/icones" %></li>
		<li><%= link_to "Labels", "#{base_url_v1}/manual/componentes/labels" %></li>
		<li><%= link_to "Modal ou Lightbox", "#{base_url_v1}/manual/componentes/modal" %></li>
		<li><%= link_to "Paths", "#{base_url_v1}/manual/componentes/path" %></li>
		<li><%= link_to "Slider", "#{base_url_v1}/manual/componentes/slider" %></li>
		<!-- <li><%= link_to "Sub-menu", "#{base_url_v1}/manual/componentes/submenu" %></li> -->
		<li><%= link_to "Tabelas", "#{base_url_v1}/manual/componentes/tabelas" %></li>
		<li><%= link_to "Tooltip", "#{base_url_v1}/manual/componentes/tooltip" %></li>
	</ul>
</nav>
