<!-- Menu de Formulários -->
<nav>
	<h1>Informações</h1>
	<ul>
      	<li><%= link_to "Campos", "#{base_url_v1}/manual/formularios/campos" %></li>
      	<li><%= link_to "Máscaras de formulários", "#{base_url_v1}/manual/formularios/mascaras-forms" %></li>
      	<li><%= link_to "Indicando as validações", "#{base_url_v1}/manual/formularios/validacoes" %></li>
      	<li><%= link_to "Calendários", "#{base_url_v1}/manual/formularios/calendarios" %></li>
      	<li><%= link_to "Customizando os selects", "#{base_url_v1}/manual/formularios/selects" %></li>
      	<li><%= link_to "Medidor de senha", "#{base_url_v1}/manual/formularios/medidor-senhas" %></li>
	</ul>
</nav>
