<div class="ls-steps">
  <div class="ls-steps-mobile">
    <a class="ls-steps-mobile-btn ls-ico-chevron-down"></a>
  </div>
  <ol class="ls-steps-nav">
    <li>
      <button class="ls-steps-btn" data-ls-module="steps" data-target="#step1" title="Informações"></button>
    </li>
    <li>
      <button class="ls-steps-btn" data-ls-module="steps" data-target="#step2" title="Aparência"></button>
    </li>
    <li>
      <button class="ls-steps-btn" data-ls-module="steps" data-target="#step3" title="Conteúdo"></button>
    </li>
    <li>
      <button class="ls-steps-btn" data-ls-module="steps" data-target="#step4" title="Destinatários"></button>
    </li>
    <li>
      <button class="ls-steps-btn" data-ls-module="steps" data-target="#step5" title="Envios"></button>
    </li>
  </ol>
  <div class="ls-steps-main">
    <div class="ls-steps-content" id="step1">
      <p><%= lorem.paragraphs 3 %></p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn-primary ls-float-right" data-action="next">Próximo</a>
      </div>
    </div>
    <div class="ls-steps-content" id="step2">
      <p><%= lorem.paragraphs 3 %></p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn" data-action="prev">Anterior</a>
        <a href="#" class="ls-btn-primary ls-float-right" data-action="next">Próximo</a>
      </div>
    </div>
    <div class="ls-steps-content" id="step3">
      <p><%= lorem.paragraphs 3 %></p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn" data-action="prev">Anterior</a>
        <a href="#" class="ls-btn-primary ls-float-right" data-action="next">Próximo</a>
      </div>
    </div>
    <div class="ls-steps-content" id="step4">
      <p><%= lorem.paragraphs 3 %></p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn" data-action="prev">Anterior</a>
        <a href="#" class="ls-btn-primary ls-float-right" data-action="next">Próximo</a>
      </div>
    </div>
    <div class="ls-steps-content" id="step5">
      <p><%= lorem.paragraphs 3 %></p>
      <div class="ls-actions-btn">
        <a href="#" class="ls-btn" data-action="prev">Anterior</a>
        <a href="#" class="ls-btn-primary ls-float-right">Finalizar</a>
      </div>
    </div>
  </div>
</div>
