---
title: Calendário
description: Calendário e para facilitar a selação de datas
---

<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>

  <p>Para usar calendário no campo desejado, basta usar o seletor <code>.datapicker</code> no campo.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-calendar.erb' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/form-calendar.erb' %><% end %>

  <p>Utilizamos o plugin <a href="https://github.com/dbushell/Pikaday" target="_blank">Pikaday</a> para o calendário do Locawebstyle, pré-configurado para <b>pt-br</b>.</p>
  <p>Para iniciar um novo datapicker com javascript, utilizando as mesmas configurações, use, no javascript:</p>

  <% code("javascript") do %>locastyle.datepicker.newDatepicker('#id ou .classe do elemento');<% end %>

  <p>Todas as demais configurações e métodos do plugin Pikaday podem ser utilizados, conforme descrito na sua <a href="https://github.com/dbushell/Pikaday" target="_blank">documentação</a>.</p>

  <h2 class="doc-title-3">Disparo alternativo</h2>
  <p>Para disparar o calendário através do clique em outro elemento, basta acrescentar o atributo <code>data-trigger-calendar</code> ao elemento que terá essa funcionalidade. Observe o exemplo abaixo:</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-calendar-prefix.erb' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/form-calendar-prefix.erb' %><% end %>

</section>
