---
title: Campos desabilitados
description: Opções para desabilitar campos ou mostrar em forma de texto
---

<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>

  <p>Adicione a classe <code>ls-form-disable</code> para desabilitar tudo dentro do elemento (uma <code>div</code> ou todo o <code>form</code>) ou <code>ls-label-disable</code> para desabilitar um campo.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-disable.erb' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/form-disable.erb' %><% end %>

  <hr>

  <h3 class="doc-title-3">Formulários como texto</h3>
  <p>Adicione a classe <code>ls-form-text</code> no elemento pai para deixar com aparência de texto todos os campos que estiverem dentro (uma <code>div</code> ou todo o <code>form</code>) ou insira essa mesma classe no input desejado para desabilitá-lo. Pode editar.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-as-text.erb' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/form-as-text.erb' %><% end %>

  <p>Você pode combinar os comportamentos para ter um formulário com aparência de texto e desabilitado. Não pode editar.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-as-text-disabled.erb' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/form-as-text-disabled.erb' %><% end %>

  <hr>

  <h3 class="doc-title-3">Habilitando e desabilitando campos</h3>

  <p>Essa funcionalidade é muito, muito legal. Combinando as propriedades que vimos anteriormente de desabilitar um botão e mostrá-lo como texto, você pode fazer um botão que habilita e desabilita os campos. Veja como funciona:</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/fields-toggle.erb' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/fields-toggle.erb' %><% end %>

  <p>Eu tenho um formulário normal, com as classes <code>ls-form-disable</code> no fieldset que envolve os campos que quero desabilitar. Esse fieldset (que poderia ser um DIV), tem um ID para sua identificação. Até aqui tranquilo.</p>

  <p>Agora, depois do Fieldset, existem 3 botões, vou explicar um por um: um botão para EDITAR OS CAMPOS, que é onde o usuário vai clicar para que os campos fiquem editáveis. Os outros dois botões, de SALVAR e CANCELAR estão escondidos. Veja o código do botão EDITAR:</p>
  <% code("html") do %>
<button class="ls-btn-primary hidden-elements" data-toggle-class="ls-display-none" data-target=".hidden-elements" data-ls-fields-enable="#fields-disabled">Editar campos</button>
  <% end %>

  <p>O valor do atributo <code>data-ls-fields-enable</code> deve ser o ID ou a CLASSE do elemento PAI que envolve os campos que você quer habilitar/desabilitar.</p>

  <p>O atributo <code>data-toggle-class</code> e o <code>data-target</code> trabalham juntos: o data-target indica qual o elemento (no nosso caso qualquer elemento com a classe <code>.hidden-elements</code>) vai ter a classe que está no <code>data-toggle-class</code> alternada (no nosso caso a classe <code>.ls-display-none</code>, que faz os botões CANCELAR e SALVAR ficarem escondidos).</p>

  <p>Quando o botão editar é clicado, ele retira a classe <code>.ls-display-none</code> dos elementos com a classe <code>.hidden-elements</code>.</p>

  <p>Os botões de CANCELAR e SALVAR, são simples botões, com as classes que serão manipuladas pelo botão EDITAR do nosso exemplo. Veja o código abaixo:</p>

  <% code("html") do %>
<button class="ls-btn-primary ls-display-none hidden-elements" type="submit">Salvar</button>
<button data-toggle-class="ls-display-none"  data-target=".hidden-elements" data-ls-fields-enable="#fields-disabled" class="ls-btn-danger ls-display-none hidden-elements" type="button">Cancelar</button>
  <% end %>

</section>
