---
title: Campos personalizados
description: Campos personalizados
type: forms
---

<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">

  <!-- Title page -->
  <div class="doc-intro-content">
    <h1><%= current_page.data.title %></h1>
    <p><%= current_page.data.description %></p>
  </div>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Classes</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>.ls-form</td>
        <td>Customiza todos os selects.</td>
      </tr>
      <tr>
        <td>.ls-input-original</td>
        <td>Mantém a aparência original do input.</td>
      </tr>
    </tbody>
  </table>

  <h2 class="ls-title-1">Exemplos</h2>
  <!-- Select -->
  <div class="ls-box-demo">
    <p class="ls-title2"> Select customizada </p>
    <%= partial 'documentacao/shared/custom-fields', locals: {field: 'select'} %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/custom-fields', locals: {field: 'select'} %>
  </code>
  <!-- End Select -->
</section>
