---
title: Vertical e horizontal
description: Elementos padrão de formulários e disposição de campos
type: forms
---
<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">

<%= partial 'partials/doc-intro-content' %>

  <h3 class="ls-title-3">Formulários verticais</h3>
  <p>Você não precisa fazer praticamente nada para que o form funcione na vertical. Esse já é o comportamento padrão. Você pode definir a largura das áreas do formulário com as classes do GRID.</p>

  <div class="ls-box-demo">
   <%= partial 'documentacao/shared/form/form-vertical.erb' %>
  </div>
  <code class="language-html">
    <%= partial 'documentacao/shared/form/form-vertical.erb'  %>
  </code>

  <h3 class="ls-title-3">Formulários horizontais</h3>
  <p>Para colocar os formulários um ao lado do outro, basta inserir a classe <code>ls-form-horizontal</code> na tag FORM.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-horizontal.erb' %>
  </div>
  <code class="language-html">
    <%= partial 'documentacao/shared/form/form-horizontal.erb' %>
  </code>


  <h3>Etiqueta ao lado do campo</h3>
  <p>Essa formato deve ser usado com consciência. A largura dos campos são automáticos. Basta adicionar a classe <code>ls-form-inline</code>. Veja exemplos abaixo:</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-horizontal-inline.erb' %>
  </div>
  <code class="language-html">
    <%= partial 'documentacao/shared/form/form-horizontal-inline.erb' %>
  </code>


  <p>É possível fazer um formulário usando elementos verticais e horizontais, usando o <i>grid</i> padrão e a classe para <i>form inline</i>.</p>



<!-- <div id="todos-campos-de-formulario" class="doc-section">
  <h3 class="ls-title-3">Campos de formulário</h3>
  <p>Aparência de <i>inputs</i> dentro de um <i>container</i> com a classe <code>ls-form</code></p>
  <div class="doc-example">


    <form action="" class="ls-form">
      <div class="row" >
        <label class="ls-field col-md-3" data-doc-support="">
          <span class="ls-label">Text</span>
          <input type="text" name="nome" placeholder="text" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">Url</span>
          <input type="url" name="nome" placeholder="url" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">Email</span>
          <input type="email" name="nome" placeholder="email" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">Tel</span>
          <input type="tel" name="nome" placeholder="tel" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">Number</span>
          <input type="number" name="nome" placeholder="number" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">date</span>
          <input type="date" name="date" placeholder="date" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">time</span>
          <input type="time" name="time" placeholder="time" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">datetime</span>
          <input type="datetime" name="datetime" placeholder="datetime" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">datetime-local</span>
          <input type="datetime-local" name="datetime-local" placeholder="datetime-local" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">week</span>
          <input type="week" name="week" placeholder="week" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">month</span>
          <input type="month" name="month" placeholder="month" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">password</span>
          <input type="password" name="password" placeholder="password" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">search</span>
          <input type="search" name="search" placeholder="search" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">select original</span>
          <select name="">
            <option value="">Selecione</option>
            <option value="">um</option>
            <option value="">dois</option>
          </select>
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">select customizado</span>
          <div data-ls-module="customFields">
            <select name="" class="ls-custom-select-one">
              <option value="">Selecione</option>
              <option value="">um</option>
              <option value="">dois</option>
            </select>
          </div>
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">Text com datalist</span>
          <input type="text" name="nome" placeholder="text" list="opcoes" >
          <datalist id="opcoes">
            <option value="opção 1">
              <option value="opção 2">
                <option value="opção 3">
                </datalist>
              </label>


              <label class="ls-field col-md-3">
                <span class="ls-label">radio</span>
                <input type="radio" name="radio1">
                <span class="ls-form-text-inline">Aceito os termos.</span>
              </label>

              <span class="ls-field col-md-3">
                <span class="ls-label">radio group</span>
                <label>
                  <input type="radio" name="radio2" value="1">
                  <span class="ls-form-text-inline">Opção 1</span>
                </label>
                <label>
                  <input type="radio" name="radio2" value="2">
                  <span class="ls-form-text-inline">Opção 2</span>
                </label>
              </span>

              <label class="ls-field col-md-3">
                <span class="ls-label">checkbox</span>
                <input type="checkbox" name="checkbox1">
                <span class="ls-form-text-inline">Aceito os termos.</span>
              </label>

              <span class="ls-field col-md-3">
                <span class="ls-label">checkboxes</span>
                <label>
                  <input type="checkbox" name="checkbox2" value="1">
                  <span class="ls-form-text-inline">Opção 1</span>
                </label>
                <label>
                  <input type="checkbox" name="checkbox2" value="2">
                  <span class="ls-form-text-inline">Opção 2</span>
                </label>
              </span>

              <span class="col-md-3">
                <label class="ls-field">
                  <span class="ls-label">range</span>
                  <input type="range" name="range" value="30" min="10" max="100" step="5" onchange="rangeValueId.value=value">
                  <output id="rangeValueId">30</output>
                </label>
                <label class="ls-field">
                  <span class="ls-label">range com marcadores</span>
                  <input type="range" name="range2" value="30" min="0" max="100" step="20" list="rangeLines">
                  <datalist id="rangeLines">
                    <option>0</option>
                    <option>20</option>
                    <option>40</option>
                    <option>60</option>
                    <option>80</option>
                    <option>100</option>
                  </datalist>
                </label>
              </span>
              <label class="ls-field col-md-1">
                <span class="ls-label">vertical</span>
                <input type="range" name="range3" value="30" min="0" max="100" step="5" class="ls-input-range-vertical">
              </label>
              <label class="ls-field col-md-1">
                <span class="ls-label">vertical</span>
                <input type="range" name="range2" value="30" min="0" max="100" step="5" list="rangeLines" class="ls-input-range-vertical">
                <datalist id="rangeLines">
                  <option>0</option>
                  <option>20</option>
                  <option>40</option>
                  <option>60</option>
                  <option>80</option>
                  <option>100</option>
                </datalist>
              </label>

              <label class="ls-field col-md-3">
                <span class="ls-label">textarea</span>
                <textarea name="" id=""rows="3"></textarea>
              </label>
            </div>
          </form>





        </div>
</div> -->
</section>
