---
title: Formulários verticais
description: Elementos padrão de formulários e disposição de campos
type: forms
---
<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">

  <!-- Title page -->
  <div class="doc-intro-content">
    <h1><%= current_page.data.title %></h1>
    <p><%= current_page.data.description %></p>
  </div>

  <h3 class="ls-title-3">Formulários verticais</h3>
  <p>Você não precisa fazer praticamente nada para que o form funcione na vertical. Esse já é o comportamento padrão. Você pode definir a largura das áreas do formulário com as classes do GRID.</p>

  <div class="ls-box-demo">
   <%= partial 'documentacao/shared/form/form-vertical.erb' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/form/form-vertical.erb'  %>
  </code>

  <h3 class="ls-title-3">Formulários horizontais</h3>
  <p>Para colocar os formulários um ao lado do outro, basta inserir a classe <code>ls-form-horizontal</code> na tag FORM.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-horizontal.erb' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/form/form-horizontal.erb' %>
  </code>


  <h3>Etiqueta ao lado do campo</h3>
  <p>Essa formato deve ser usado com consciência. A largura dos campos são automáticos. Basta adicionar a classe <code>ls-form-inline</code>. Veja exemplos abaixo:</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-horizontal-inline.erb' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/form/form-horizontal-inline.erb' %>
  </code>


  <p>É possível fazer um formulário usando elementos verticais e horizontais, usando o <i>grid</i> padrão e a classe para <i>form inline</i>.</p>

  <div id="desabilitando-campos" class="doc-section">
    <h3 class="ls-title-3">Desabilitando campos</h3>
    <p>Adicione a classe <code>ls-form-disable</code> para desabilitar tudo dentro do elemento (uma <code>div</code> ou todo o <code>form</code>) ou <code>ls-field-disable</code> para desabilitar um campo.</p>
    <div class="ls-box-demo">
      <%= partial 'documentacao/shared/form/form-disable.erb' %>
    </div>
    <code class="language-html ls-well-example">
      <%= partial 'documentacao/shared/form/form-disable.erb' %>
    </code>
  </div>

  <div id="formularios-como-texto" class="doc-section">
    <h3 class="ls-title-3">Formulários como texto</h3>
    <p>Adicione a classe <code>ls-form-text</code> no elemento pai para desabilitar tudo dentro do elemento (uma <code>div</code> ou todo o <code>form</code>) ou insira essa mesma classe no input desejado para desabilitá-lo.</p>

    <div class="ls-box-demo">
      <%= partial 'documentacao/shared/form/form-as-text.erb' %>
    </div>
    <code class="language-html ls-well-example">
      <%= partial 'documentacao/shared/form/form-as-text.erb' %>
    </code>

    <p>Você pode combinar os comportamentos para ter um formulário como texto e não editável.</p>
    <div class="ls-box-demo">
      <%= partial 'documentacao/shared/form/form-as-text-disabled.erb' %>
    </div>
    <code class="language-html ls-well-example">
      <%= partial 'documentacao/shared/form/form-as-text-disabled.erb' %>
    </code>
  </div>

  <div id="habilitando-e-desabilitando-campos" class="doc-section">
    <h3 class="ls-title-3">Habilitando e desabilitando campos</h3>

    <p>Essa funcionalidade é muito, muito legal. Combinando as propriedades que vimos anteriormente de desabilitar um botão e mostrá-lo como texto, você pode fazer um botão que habilita e desabilita os campos. Veja como funciona:</p>

    <div class="ls-box-demo">
      <%= partial 'documentacao/shared/form/fields-toggle.erb' %>
    </div>
    <code class="language-html ls-well-example">
      <%= partial 'documentacao/shared/form/fields-toggle.erb' %>
    </code>

    <p>Eu tenho um formulário normal, com as classes <code>ls-form-disable</code> no fieldset que envolve os campos que quero desabilitar. Esse fieldset (que poderia ser um DIV), tem um ID para sua identificação. Até aqui tranquilo.</p>

    <p>Agora, depois do Fieldset, existem 3 botões, vou explicar um por um: um botão para EDITAR OS CAMPOS, que é onde o usuário vai clicar para que os campos fiquem editáveis. Os outros dois botões, de SALVAR e CANCELAR estão escondidos. Veja o código do botão EDITAR:</p>
    <code class="language-html ls-well-example">
      <button class="ls-btn-primary hidden-elements" data-toggle-class="ls-display-none" data-target=".hidden-elements" data-ls-toggle-fields="#fields-disabled">Editar campos</button>
    </code>

    <p>O valor do atributo <code>data-ls-toggle-fields</code> deve ser o ID ou a CLASSE do elemento PAI que envolve os campos que você quer habilitar/desabilitar. Nesse caso nossa Fieldset.</p>

    <p>O atributo <code>data-toggle-class</code> e o <code>data-target</code> trabalham juntos: o data-target indica qual o elemento (no nosso caso qualquer elemento com a classe <code>.hidden-elements</code>) vai ter a classe que está no <code>data-toggle-class</code> alternada (no nosso caso a classe <code>ls-display-none</code>, que faz os botões CANCELAR e SALVAR ficarem escondidos).</p>

    <p>Quando o botão editar é clicado, ele retira a classe <code>ls-display-none</code> dos elementos com a classe <code>.hidden-elements</code>.</p>

    <p>Os botões de CANCELAR e SALVAR são simples botões, com as classes que serão manipuladas pelo botão EDITAR do nosso exemplo. Veja o código abaixo:</p>

    <code class="language-html ls-well-example">
      <button class="ls-btn-primary ls-display-none hidden-elements" type="submit">Salvar</button>
    <button data-toggle-class="ls-display-none"  data-target=".hidden-elements" data-ls-toggle-fields="#fields-disabled" class="ls-btn-danger ls-display-none hidden-elements" type="submit">Cancelar</button>
    </code>

  </div>


  <div id="estilo-de-validacao" class="doc-section">
    <h3 class="ls-title-3">Estilo de customização</h3>
    <p>Este é nosso padrão para indicar validação de formulários: basta utilizar as classes <code>.ls-error</code>, <code>.ls-warning</code> ou <code>.ls-success</code> no elemento pai deles, ou seja no <code>.ls-field</code>.</p>
    <p>A mensagem de ajuda é exibida na classe <code>.ls-help-message</code>, conforme o exemplo abaixo:</p>

    <div class="ls-box-demo">
      <%= partial 'documentacao/shared/form/form-vertical-validacao.erb' %>
    </div>
    <code class="language-html ls-well-example">
  <%= partial 'documentacao/shared/form/form-vertical-validacao.erb' %>
    </code>

  </div>

  <div id="campos-de-formulario" class="doc-section">
    <h3 class="ls-title-3">Textareas</h3>

    <div class="ls-box ls-box-gray">
      <h4>Acessibilidade</h4>
      <p>Ao usar  o atributo<code>placeholder</code> adicionamos a classe <code>ls-hidden-accessible </code> no <code>ls-label</code>, assim escondemos o elemento, porém os leitores de tela conseguem entender. Faça isso e a Acessibilidade agradece =)</p>
    </div>

      <p>O elemento <code>textarea</code> tem a altura determinada pela propriedade padrão <code>rows="10"</code> com o número de linhas desejadas.</p>

      <div class="ls-box-demo">
        <form action="" class="ls-form">
          <%= partial 'documentacao/shared/form/form-field-textarea.erb' %>
        </form>
      </div>
      <code class="language-html ls-well-example">
        <%= partial 'documentacao/shared/form/form-field-textarea.erb' %>
      </code>
      <p>O <code>textarea</code> vem com o <i>resize</i> desabilitado por padrão, mas pode ser ativado usando as classes <code>ls-textarea-resize-both</code>, <code>ls-textarea-resize-horizontal</code>, <code>ls-textarea-resize-vertical</code>.</p>

      <p>Para um <code>textarea</code> com o comportamento de aumentar de acordo com o texto, insira a classe <code>ls-textarea-autoresize</code> no <code>textarea</code></p>
      <div class="ls-box-demo">
        <%= partial 'documentacao/shared/form/form-field-textarea-autoresize.erb' %>
      </div>
      <code class="language-html ls-well-example">
        <%= partial 'documentacao/shared/form/form-field-textarea-autoresize.erb' %>
      </code>


  </div>

  <div id="mascaras-de-campos" class="doc-section">
    <h3 class="ls-title-3">Máscaras de campos</h3>
    <p>Para as máscaras utilizamos o plugin <a href="https://github.com/igorescobar/jQuery-Mask-Plugin">jQuery-Mask-Plugin</a> com alguns atalhos definidos</p>
    <table class="ls-table">
      <thead>
        <tr>
          <th>classe</th>
          <th>mascara</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <tr><td>.ls-mask-date</td><td>11/11/1111</td></tr>
          <tr><td>.ls-mask-time</td><td>00:00:00</td></tr>
          <tr><td>.ls-mask-date_time</td><td>00/00/0000 00:00:00</td></tr>
          <tr><td>.ls-mask-cep</td><td>00000-000</td></tr>
          <tr><td>.ls-mask-phone8</td><td>0000-0000</td></tr>
          <tr><td>.ls-mask-phone9</td><td>90000-0000</td></tr>
          <tr><td>.ls-mask-phone8_with_ddd</td><td>(00) 0000-0000</td></tr>
          <tr><td>.ls-mask-phone9_with_ddd</td><td>(00) 90000-0000</td></tr>
          <tr><td>.ls-mask-cpf</td><td>000.000.000-00</td></tr>
          <tr><td>.ls-mask-cnpj</td><td>00.000.000/0000-00</td></tr>
          <tr><td>.ls-mask-money</td><td>#.##0,00</td></tr>
          <tr><td>.ls-mask-ip_address</td><td>0ZZ.0ZZ.0ZZ.0ZZ</td></tr>
          <tr><td>.ls-mask-percent</td><td>##0,00%</td></tr>
        </tr>
      </tbody>
    </table>

    <div class="ls-box-demo">
      <%= partial 'documentacao/shared/form/fields-masks.erb' %>
    </div>
    <code class="language-html ls-well-example">
      <%= partial 'documentacao/shared/form/fields-masks.erb' %>
    </code>

  </div>

  <div id="prefixos-e-sufixos" class="doc-section">
    <h3 class="ls-title-3">Prefixos e sufixos de campo</h3>
    <p>Pra inserir um adendo ao input no início ou no final, envolva o <code>input</code> em um elemento com a classe <code>ls-prefix-group</code>. Depois coloque outro elemento (sugerimos <code>span</code>) com a classe <code>ls-label-prefix</code> antes ou depois do input.</p>

    <div class="ls-box-demo">
      <%= partial 'documentacao/shared/form/fields-prefix-sufix.erb' %>
    </div>
    <code class="language-html ls-well-example">
      <%= partial 'documentacao/shared/form/fields-prefix-sufix.erb' %>
    </code>

  </div>

<!-- <div id="todos-campos-de-formulario" class="doc-section">
  <h3 class="ls-title-3">Campos de formulário</h3>
  <p>Aparência de <i>inputs</i> dentro de um <i>container</i> com a classe <code>ls-form</code></p>
  <div class="doc-example">


    <form action="" class="ls-form">
      <div class="row" >
        <label class="ls-field col-md-3" data-doc-support="">
          <span class="ls-label">Text</span>
          <input type="text" name="nome" placeholder="text" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">Url</span>
          <input type="url" name="nome" placeholder="url" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">Email</span>
          <input type="email" name="nome" placeholder="email" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">Tel</span>
          <input type="tel" name="nome" placeholder="tel" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">Number</span>
          <input type="number" name="nome" placeholder="number" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">date</span>
          <input type="date" name="date" placeholder="date" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">time</span>
          <input type="time" name="time" placeholder="time" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">datetime</span>
          <input type="datetime" name="datetime" placeholder="datetime" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">datetime-local</span>
          <input type="datetime-local" name="datetime-local" placeholder="datetime-local" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">week</span>
          <input type="week" name="week" placeholder="week" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">month</span>
          <input type="month" name="month" placeholder="month" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">password</span>
          <input type="password" name="password" placeholder="password" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">search</span>
          <input type="search" name="search" placeholder="search" required >
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">select original</span>
          <select name="">
            <option value="">Selecione</option>
            <option value="">um</option>
            <option value="">dois</option>
          </select>
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">select customizado</span>
          <div data-ls-module="customFields">
            <select name="" class="ls-custom-select-one">
              <option value="">Selecione</option>
              <option value="">um</option>
              <option value="">dois</option>
            </select>
          </div>
        </label>
        <label class="ls-field col-md-3">
          <span class="ls-label">Text com datalist</span>
          <input type="text" name="nome" placeholder="text" list="opcoes" >
          <datalist id="opcoes">
            <option value="opção 1">
              <option value="opção 2">
                <option value="opção 3">
                </datalist>
              </label>


              <label class="ls-field col-md-3">
                <span class="ls-label">radio</span>
                <input type="radio" name="radio1">
                <span class="ls-form-text-inline">Aceito os termos.</span>
              </label>

              <span class="ls-field col-md-3">
                <span class="ls-label">radio group</span>
                <label>
                  <input type="radio" name="radio2" value="1">
                  <span class="ls-form-text-inline">Opção 1</span>
                </label>
                <label>
                  <input type="radio" name="radio2" value="2">
                  <span class="ls-form-text-inline">Opção 2</span>
                </label>
              </span>

              <label class="ls-field col-md-3">
                <span class="ls-label">checkbox</span>
                <input type="checkbox" name="checkbox1">
                <span class="ls-form-text-inline">Aceito os termos.</span>
              </label>

              <span class="ls-field col-md-3">
                <span class="ls-label">checkboxes</span>
                <label>
                  <input type="checkbox" name="checkbox2" value="1">
                  <span class="ls-form-text-inline">Opção 1</span>
                </label>
                <label>
                  <input type="checkbox" name="checkbox2" value="2">
                  <span class="ls-form-text-inline">Opção 2</span>
                </label>
              </span>

              <span class="col-md-3">
                <label class="ls-field">
                  <span class="ls-label">range</span>
                  <input type="range" name="range" value="30" min="10" max="100" step="5" onchange="rangeValueId.value=value">
                  <output id="rangeValueId">30</output>
                </label>
                <label class="ls-field">
                  <span class="ls-label">range com marcadores</span>
                  <input type="range" name="range2" value="30" min="0" max="100" step="20" list="rangeLines">
                  <datalist id="rangeLines">
                    <option>0</option>
                    <option>20</option>
                    <option>40</option>
                    <option>60</option>
                    <option>80</option>
                    <option>100</option>
                  </datalist>
                </label>
              </span>
              <label class="ls-field col-md-1">
                <span class="ls-label">vertical</span>
                <input type="range" name="range3" value="30" min="0" max="100" step="5" class="ls-input-range-vertical">
              </label>
              <label class="ls-field col-md-1">
                <span class="ls-label">vertical</span>
                <input type="range" name="range2" value="30" min="0" max="100" step="5" list="rangeLines" class="ls-input-range-vertical">
                <datalist id="rangeLines">
                  <option>0</option>
                  <option>20</option>
                  <option>40</option>
                  <option>60</option>
                  <option>80</option>
                  <option>100</option>
                </datalist>
              </label>

              <label class="ls-field col-md-3">
                <span class="ls-label">textarea</span>
                <textarea name="" id=""rows="3"></textarea>
              </label>
            </div>
          </form>





        </div>
</div> -->
</section>
