---
title: Prefixos e sufixos
description: Personalização com adendos para os campos
---

<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>

  <p>Pra inserir um adendo ao input no início ou no final, envolva o <code>input</code> em um elemento com a classe <code>ls-prefix-group</code>. Depois coloque outro elemento (sugerimos <code>span</code>) com a classe <code>ls-label-text-prefix</code> antes ou depois do input.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/fields-prefix-sufix.erb' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/fields-prefix-sufix.erb' %><% end %>



  <p>Pra mudar o layout basta adicionar no form a classe <code>.ls-form-inline</code></p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/fields-prefix-sufix-inline.erb' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/fields-prefix-sufix-inline.erb' %><% end %>
</section>
