---
title: Tamanho dos campos
description: "Gostaria de deixar o input de texto seguindo o tamanho dos botões? Veja nossas opções:"
---

<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>
  <p>Adicionando a classe <code>.ls-field-lg</code> o input recebe os padrões de altura, texto e espaçamento de um botão grande.</p>
  <div class="ls-box-demo">
    <input type="text" class="ls-field-lg" placeholder="Placeholder">&nbsp;&nbsp;<input type="submit" class="ls-btn ls-btn-lg" value="Botão">
  </div>
  <% code("html") do %><input type="text" class="ls-field-lg" placeholder="Placeholder">&nbsp;&nbsp;<input type="submit" class="ls-btn ls-btn-lg" value="Botão"><% end %>
  <p>Para alterar o tamanho dos campos, basta incluir as classes abaixo:</p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>ls-field-lg</td><td><input type="text" class="ls-field-lg" placeholder="Grande">&nbsp;&nbsp;<input type="submit" class="ls-btn ls-btn-lg" value="Botão"></td></tr>
      <tr><td>ls-field-md (<i>tamanho default</i>)</td><td><input type="text" class="ls-field-md" placeholder="Normal">&nbsp;&nbsp;<input type="submit" class="ls-btn" value="Botão"></td></tr>
      <tr><td>ls-field-sm</td><td><input type="text" class="ls-field-sm" placeholder="Pequeno">&nbsp;&nbsp;<input type="submit" class="ls-btn ls-btn-sm" value="Botão"></td></tr>
      <tr><td>ls-field-xs</td><td><input type="text" class="ls-field-xs" placeholder="Bem pequeno">&nbsp;&nbsp;<input type="submit" class="ls-btn ls-btn-xs" value="Botão"></td></tr>
    </tbody>
  </table>

  <hr class="doc-hr">

  <h2 class="doc-title-3">Alterando o tamanho dos selects</h2>
  <p>Em selects customizados, basta adicionar as classes abaixo no elemento pai que recebe o atributo <code>data-ls-module="customFields"</code>.</p>
  <div class="ls-box-demo">
    <div data-ls-module="customFields" class="ls-field-sm">
      <select>
        <option value="">Pequeno</option>
        <%- 2.times do |i| %>
          <option value="<%= i %>"> <%= lorem.words 3 %> </option>
        <% end %>
      </select>
    </div>
  </div>
  <% code("html") do %>
<div data-ls-module="customFields" class="ls-field-sm">
  <select>
    <option value="">Pequeno</option>
    <%- 2.times do |i| %>
    <option value="<%= i %>"> <%= lorem.words 3 %> </option>
    <% end %>
  </select>
</div>
<input type="submit" class="ls-btn ls-btn-sm" value="Botão">
  <% end %>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ls-field-lg</td>
        <td>
          <div data-ls-module="customFields" class="ls-field-lg col-md-9">
            <select>
              <option value="">Grande</option>
              <%- 2.times do |i| %>
                <option value="<%= i %>"> <%= lorem.words 3 %> </option>
              <% end %>
            </select>
          </div>
          <input type="submit" class="ls-btn ls-btn-lg" value="Botão">
        </td>
      </tr>
      <tr>
        <td>ls-field-md (<i>tamanho default</i>)</td>
        <td>
          <div data-ls-module="customFields" class="ls-field-md col-md-9">
            <select>
              <option value="">Normal</option>
              <%- 2.times do |i| %>
                <option value="<%= i %>"> <%= lorem.words 3 %> </option>
              <% end %>
            </select>
          </div>
          <input type="submit" class="ls-btn ls-btn-md" value="Botão">
        </td>
      </tr>
      <tr>
        <td>ls-field-sm</td>
        <td>
          <div data-ls-module="customFields" class="ls-field-sm col-md-9">
            <select>
              <option value="">Pequeno</option>
              <%- 2.times do |i| %>
                <option value="<%= i %>"> <%= lorem.words 3 %> </option>
              <% end %>
            </select>
          </div>
          <input type="submit" class="ls-btn ls-btn-sm" value="Botão">
        </td>
      </tr>
      <tr>
        <td>ls-field-xs</td>
        <td>
          <div data-ls-module="customFields" class="ls-field-xs col-md-9">
            <select>
              <option value="">Bem pequeno</option>
              <%- 2.times do |i| %>
                <option value="<%= i %>"> <%= lorem.words 3 %> </option>
              <% end %>
            </select>
          </div>
          <input type="submit" class="ls-btn ls-btn-xs" value="Botão">
        </td>
      </tr>
    </tbody>
  </table>

</section>
