---
title: Textarea
description: Particularidades do textarea
---

<%= partial 'partials/doc-menu-forms'%>

<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>

  <p>O elemento <code>textarea</code> tem a altura determinada pela propriedade padrão, <code>rows="10"</code> com o número de linhas desejadas.</p>

  <div class="ls-box-demo">
    <form action="" class="ls-form">
      <%= partial 'documentacao/shared/form/form-field-textarea.erb' %>
    </form>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/form-field-textarea.erb' %><% end %>

  <p>O <code>textarea</code> vem com o <i>resize</i> desabilitado por padrão, mas pode ser ativado usando as classes <code>ls-textarea-resize-both</code>, <code>ls-textarea-resize-horizontal</code>, <code>ls-textarea-resize-vertical</code>.</p>

  <p>Para um <code>textarea</code> com o comportamento de aumentar de acordo com o texto, insira a classe <code>ls-textarea-autoresize</code> no <code>textarea</code>.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/form/form-field-textarea-autoresize.erb' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/form/form-field-textarea-autoresize.erb' %><% end %>

</section>
