<%= partial 'partials/doc-header' %>

<header class="doc-header container">
  <%= partial 'partials/doc-menu'%>
  <h1 class="doc-logo"><a href="/"><strong>Locaweb</strong> Style</a></h1>
</header>

<div class="doc-title-intro">
  <div class="container">
    <h1>Documentação</h1>
    <p>Saiba todas as features que te ajudarão a produzir sistemas mais rapidamente.</p>
  </div>
</div>

<nav class="doc-menu-top">
  <div class="container">
    <ul>
      <li><%= link_to "Introdução", "/" %></li>
      <li><%= link_to "Práticas e Padrões", base_url+"/documentacao/praticas/" %></li>
      <li><%= link_to "Layout", "/documentacao/alertas/" %></li>
      <li><%= link_to "Componentes", "/documentacao/abas/" %></li>
      <li><%= link_to "Formulários", base_url+"/" %></li>
      <li><%= link_to "Telas de Exemplo", base_url+"/" %></li>
      <li><%= link_to "Cartilha de Elementos", base_url+"/documentacao/cartilha-de-elementos" %></li>
    </ul>
  </div>
</nav>

<div class="doc-content container">
  <div class="row">
    <%= yield %>
  </div>
</div>

<%= partial 'partials/_doc-footer' %>
