<!DOCTYPE html>
<html lang="pt-br" class="ls-theme-green">
<head>
  <meta charset="UTF-8">
  <title><%= data.page.title || "Locaweb Style Framework" %></title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="" name="description">

  <%= stylesheet_link_tag "docs" %>
  <link rel="stylesheet" href="http://assets.locaweb.com.br/locastyle/3.0.0-beta1/stylesheets/locastyle.css">
</head>
<body class="<%= page_classes %>">

<header class="doc-header container">
  <%= partial 'partials/doc-menu'%>
  <h1 class="doc-logo"><strong>Locaweb</strong> Style</h1>
</header>

<div class="doc-title-intro">
  <div class="container">
    <h1>Documentação</h1>
    <p>Saiba todas as features que te ajudarão a produzir sistemas mais rapidamente.</p>
  </div>
</div>

<nav class="doc-menu-top">
  <div class="container">
    <ul>
      <li><%= link_to "Introdução", "/" %></li>
      <li><%= link_to "Práticas e Padrões", base_url+"/" %></li>
      <li><%= link_to "Layout", "/documentacao/alertas/" %></li>
      <li><%= link_to "Componentes", "/documentacao/abas/" %></li>
      <li><%= link_to "Formulários", base_url+"/" %></li>
      <li><%= link_to "Telas de Exemplo", base_url+"/" %></li>
      <li><%= link_to "Cartilha de Elementos", base_url+"/documentacao/cartilha-de-elementos" %></li>
    </ul>
  </div>
</nav>

<div class="doc-content container">
  <div class="row">
    <%= yield %>
  </div>
</div>

<footer class="doc-footer">
  <div class="container">
   <ul class="doc-social-link">
      <li> <a href="" class="doc-social-facebook">facebook</a> </li>
      <li> <a href="" class="doc-social-twitter">twitter</a> </li>
    </ul>
    <a href="" class="doc-logo-footer"><img src="/assets/images/docs/locaweb-logo.png" alt=""></a>
    <p class="doc-copyright">
      Copyright © 1997-2014 Locaweb Serviços de Internet S/A. Todo o conteúdo deste site é de uso exclusivo da Locaweb.
    </p>
  </div>
</footer>
<%= javascript_include_tag "libs/jquery-2.1.0.min", "locastyle", "docs" %>
</body>
</html>
