<%= partial "partials/header" %>
<!-- highlight -->
<div class="highlight heading">
	<div class="container">
		<h1>Changelog <span>Locaweb Style</span></h1>
	</div>
</div>

<section class="container blog">
	<div class="row">
		<div class="col-lg-9">
			<article>
				<h1><%= current_article.title %></h1>
				<div class="infoPost">
					<small><%= current_article.date.strftime('%Y/%m/%d') %></small>
				</div>
				<%= yield %>
			</article>
		</div>
		<div class="col-lg-3">
			<%= partial "partials/sidebar-changelog" %>
		</div>
	</div>
</section>

<%= partial "partials/footer" %>