<% @documentation = sub_pages('documentacao') %>
<!doctype html>
<html class="ls-theme-green">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title><%= current_page.data.title %></title>
  <meta name="description" content="<%= current_page.data.description %>" />
  <meta name="keywords" content="<%= current_page.data.keywords %>" />
  <%= stylesheet_link_tag "locastyle" %>
  <%= stylesheet_link_tag "docs" %>
</head>
<body class="<%= page_classes %>">
  <div class="ls-topbar">
    <h1 class="ls-brand-name">
      <a href="<%= base_url %>">Locastyle</a>
    </h1>
  </div>
  <aside class="ls-sidebar">
    <form action="" class="ls-form">
      <input type="email" id="search" placeholder="Buscar páginas">
      <div id="results"></div>
    </form>
    <nav class="ls-menu">
      <ul>
        <li>
          <a href="<%= base_url %>/documentacao/">Documentação</a>
        </li>
        <% @documentation.each do |resource| %>
          <% if resource.data.type != 'css' && resource.data.type != 'component' && resource.url.split('/')[2] != 'exemplos' && resource.url.split('/')[2].to_s != '' && resource.url.split('.')[1] != 'json' %>
            <li>
              <a <% if current_page.url == resource.url%>class="ls-active"<% end %> href="<%= base_url + resource.url %>"><%= resource.data.title%></a>
            </li>
          <% end %>
        <% end %>

        <li class="ls-submenu">
          <a href="">Estilos</a>
          <ul>
            <% @documentation.each do |resource| %>
              <% if resource.data.type == 'css' %>
                <li>
                  <a <% if current_page.url == resource.url%>class="ls-active"<% end %> href="<%= base_url + resource.url %>"><%= resource.data.title %></a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li class="ls-submenu">
          <a href="">Módulos</a>
          <ul>
            <% @documentation.each do |resource| %>
              <% if resource.data.type == 'component' %>
                <li>
                  <a <% if current_page.url == resource.url%>class="ls-active"<% end %> href="<%= base_url + resource.url %>"><%= resource.data.title %></a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li class="ls-submenu">
          <a href="#">Exemplos</a>
          <ul>
            <% sub_pages('documentacao/exemplos/rev').each do |resource| %>
              <li>
                <a <% if current_page.url == resource.url%>class="ls-active"<% end %> href="<%= base_url + resource.url %>"><%= resource.data.title%></a>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="ls-main">
    <div class="ls-container">
      <h1 class="ls-title-intro"><%= current_page.data.title %></h1>
      <p class="ls-title-2">
        <%= current_page.data.description %>
      </p>
      <hr class="ls-sep">
      <%= yield %>
    </div>
  </main>
  <%= javascript_include_tag  "libs/jquery-2.1.0.min" %>
  <%= javascript_include_tag  "locastyle" %>
  <%= javascript_include_tag  "docs" %>
 </body>
</html>
