<!doctype html>
<html class="ls-theme-gold">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title><%= current_page.data.title %></title>
  <meta name="description" content="<%= current_page.data.description %>" />
  <meta name="keywords" content="<%= current_page.data.keywords %>" />
  <%= stylesheet_link_tag "locastyle" %>
</head>
<body class="<%= page_classes %>">

<div class="ls-topbar">

  <!-- Barra de Notificações -->
  <div class="ls-notification-topbar">

    <!-- Links de apoio -->
    <div class="ls-alerts-list">
      <a href="#" class="ls-ico-bell-o" data-module="popover" data-title="O que é essa bolinha vermelha?" data-content="São suas notificações" data-placement="bottom" data-counter="8"><span>Notificações</span></a>
      <a href="#" class="ls-ico-bullhorn" data-counter="6"><span>Ajuda</span></a>
      <a href="#" class="ls-ico-question"><span>Sugestões</span></a>
    </div>

    <!-- Dropdown com detalhes da conta de usuário -->
    <div class="ls-user-account">
      <a href="#" class="ls-ico-user">
        Franco
        <small>(fmolina)</small>
        <input type="checkbox" name="user" value="">
      </a>
    </div>
  </div>

  <span class="show-sidebar ls-ico-menu"></span>

  <!-- Nome do produto/marca -->
  <h1 class="ls-brand-name ls-ico-envelope"><a href="#">Revenda Email Marketing</a></h1>
</div>
  <aside class="ls-sidebar">
    <div class="ls-area-account ls-ico-user">
      <h2 class="ls-title-2">Administrando</h2>
      <h3 class="ls-title-3">subdominio.locaweb.com.br</h3>
      <a href="#" class="ls-btn-xs ls-btn-dark">VER TODOS</a>
    </div>
    <nav class="ls-menu">
      <ul>
         <li><a href="#" class="ls-ico-home">Página inicial</a></li>
         <li><a href="#" class="ls-ico-users">Clientes</a></li>
         <li><a href="#" class="ls-ico-stats">Relatórios</a></li>
         <li class="ls-submenu">
          <a href="#" class="ls-ico-cog">Configurações</a>
          <ul>
            <li><a href="">Submenu</a></li>
            <li><a href="">Submenu</a></li>
            <li><a href="">Submenu</a></li>
          </ul>
        </li>
       </ul>
    </nav>
  </aside>
  <main class="ls-main">
    <div class="ls-container">
      <%= yield %>
    </div>
  </main>
  <%= javascript_include_tag  "libs/jquery-2.1.0.min" %>
  <%= javascript_include_tag  "locastyle" %>

</body>
</html>
