<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title><%= current_page.data.title %></title>
  <meta name="description" content="<%= current_page.data.description %>" />
  <meta name="keywords" content="<%= current_page.data.keywords %>" />
  <%= stylesheet_link_tag "locastyle" %>
  <%= stylesheet_link_tag "documentacao" %>
</head>
<body class="<%= page_classes %>">
  <div class="ls-topbar">
    <div class="brand-name">
      <h1><a href="#">Revenda Email Marketing</a></h1>
    </div>
  </div>
  <aside class="ls-sidebar">
    <div class="ls-area-account">
      <h2>Administrando</h2>
      <h3>subdominio.locaweb.com.br</h3>
      <a href="#" class="btn-small btn-dark">Ver todos</a>
    </div>
    <nav class="ls-menu">
      <ul>
         <li><a href="#">Página inicial</a></li>
         <li><a href="#">Clientes</a></li>
         <li><a href="#">Relatórios</a></li>
         <li>
          <a href="#">Configurações</a>
          <ul>
            <li><a href="">Submenu</a></li>
            <li><a href="">Submenu</a></li>
            <li><a href="">Submenu</a></li>
          </ul>
        </li>
       </ul>
    </nav>
  </aside>
  <main class="ls-main">
    <div class="ls-container">
      <%= yield %>
    </div>
  </main>
  <%= javascript_include_tag  "locastyle" %>
  <%= javascript_include_tag  "documentacao" %>
</body>
</html>
