<!DOCTYPE html>
<html class="ls-theme-gold">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title><%= current_page.data.title %></title>
  <meta name="description" content="<%= current_page.data.description %>" />
  <meta name="keywords" content="<%= current_page.data.keywords %>" />
  <%= stylesheet_link_tag "locastyle" %>
</head>
<body class="<%= page_classes %>">

<div class="ls-topbar">

  <!-- Barra de Notificações -->
  <div class="ls-notification-topbar">

    <!-- Links de apoio -->
    <div class="ls-alerts-list">
      <a href="#" class="ls-ico-bell-o" data-counter="8" data-ls-module="topbarCurtain" data-target="#ls-notification-curtain"><span>Notificações</span></a>
      <a href="#" class="ls-ico-bullhorn" data-ls-module="topbarCurtain" data-target="#ls-help-curtain"><span>Ajuda</span></a>
      <a href="#" class="ls-ico-question" data-ls-module="topbarCurtain" data-target="#ls-feedback-curtain"><span>Sugestões</span></a>
    </div>

    <!-- Dropdown com detalhes da conta de usuário -->
    <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
      <a href="#" class="ls-ico-user">
        Franco
        <small>(fmolina)</small>
      </a>
      <nav class="ls-dropdown-nav ls-user-menu">
        <ul>
          <li><a href="#">Meus dados</a></li>
          <li><a href="#">Faturas</a></li>
          <li><a href="#">Planos</a></li>
          <li><a href="#">Sair</a></li>
         </ul>
      </nav>
    </div>
  </div>

  <span class="show-sidebar ls-ico-menu"></span>
  <span class="show-notifications ls-ico-question"></span>

  <!-- Nome do produto/marca -->

  <h1 class="ls-brand-name ls-ico-envelope"><%= link_to 'Revenda Email Marketing', 'base' %></h1>

</div>

  <main class="ls-main <%= current_page.data.body_class %>">
    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= partial 'documentacao/shared/footer' %>
  </main>

  <aside class="ls-sidebar">
    <div class="ls-area-account ls-ico-user">
      <h2 class="ls-title-2">Administrando</h2>
      <h3 class="ls-title-3">revenda.fmolina</h3>
      <a href="<%= base_url %>/documentacao/exemplos/rev/pre-painel" class="ls-btn-xs ls-btn-dark">VER TODOS</a>
    </div>
    <nav class="ls-menu">
      <ul>
         <li><a href="<%= base_url %>/documentacao/exemplos/rev/home" class="ls-ico-home">Página inicial</a></li>
         <!-- <li><a href="<%= base_url %>/documentacao/exemplos/rev/base" class="ls-ico-home">Primeiros passos</a></li> -->
         <li><a href="<%= base_url %>/documentacao/exemplos/rev/clients" class="ls-ico-users">Clientes</a></li>
         <li><a href="<%= base_url %>/documentacao/exemplos/rev/stats" class="ls-ico-stats">Relatórios da revenda</a></li>
         <li class="ls-submenu">
          <a href="#" class="ls-ico-cog">Configurações</a>
          <ul>
            <li><a class="ls-submenu-item" href="<%= base_url %>/documentacao/exemplos/rev/config-domain">Domínios da Revenda</a></li>
            <li><a class="ls-submenu-item" href="<%= base_url %>/documentacao/exemplos/rev/config-email">E-mail de Remetente</a></li>
            <li><a class="ls-submenu-item" href="<%= base_url %>/documentacao/exemplos/rev/config-aspect">Aparência</a></li>
            <li><a class="ls-submenu-item" href="<%= base_url %>/documentacao/exemplos/rev/config-answer">Atendimento</a></li>
            <li><a class="ls-submenu-item" href="<%= base_url %>/documentacao/exemplos/rev/config-api">Chave de acesso para API</a></li>
          </ul>
        </li>
       </ul>
    </nav>
  </aside>

  <aside class="ls-notification">
    <nav class="ls-notification-list" id="ls-notification-curtain">
      <h3 class="ls-title-2">Notificações</h3>
      <ul>
        <%- 5.times do %>
          <li class="ls-dismissable">
            <a href="#"><%= lorem.sentence%></a>
            <a href="#" data-ls-module="dismiss" class="ls-ico-close ls-close-notification"></a>
          </li>
        <% end %>
      </ul>
    </nav>
    <nav class="ls-notification-list" id="ls-help-curtain">
      <h3 class="ls-title-2">Feedback</h3>
      <ul>
        <%- 2.times do %>
          <li><a href="#">> <%= lorem.words 6 %></a></li>
        <% end %>
      </ul>
    </nav>
    <nav class="ls-notification-list" id="ls-feedback-curtain">
      <h3 class="ls-title-2">Ajuda</h3>
      <ul>
        <li class="ls-txt-center hidden-xs">
          <a href="#" class="ls-btn-dark">Fazer um Tour</a>
        </li>
        <li><a href="#">> Guia</a></li>
        <li><a href="#">> Wiki</a></li>
      </ul>
    </nav>
  </aside>

  <%= javascript_include_tag  "libs/jquery-2.1.0.min" %>
  <%= javascript_include_tag  "locastyle" %>

</body>
</html>
