<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title %></title>
    <meta name="description" content="<%= current_page.data.description %>" />
    <meta name="keywords" content="<%= current_page.data.keywords %>" />
    <%= stylesheet_link_tag "locastyle" %>
    <%= stylesheet_link_tag "documentacao" %>
  </head>
  <body class="<%= page_classes %>">
    <header class="header">
      <button type="button" class="show-menu">Exibir menu</button>
      <h1>
        <a href="/">
          <%= I18n.t(:name) %>
        </a>
      </h1>
    </header>
    <%= yield %>
    <%= javascript_include_tag  "libs/jquery-2.1.0.min" %>
    <%= javascript_include_tag  "locastyle" %>
    <%= javascript_include_tag  "documentacao" %>
  </body>
</html>
