<aside class="doc-sidebar col-md-3">
<div class="doc-sidebar-inner">
  <nav class="doc-sidebar-menu">
    <ul>
      <%= menu_tag("/documentacao/funcoes-js/", "Iniciando Funções JS (ajax)")%>
      <%= menu_tag("/documentacao/funcoes-js/alternar-classes/", "Alternar Classes")%>
      <%= menu_tag("/documentacao/funcoes-js/alternar-textos/", "Alternar textos")%>
      <%= menu_tag("/documentacao/funcoes-js/rastreando-eventos/", "Track Eventos do GA") %>
      <%= menu_tag("/documentacao/funcoes-js/dismiss/", "Dismiss")%>
      <%= menu_tag("/documentacao/funcoes-js/auto-trigger/", "Clique automático")%>
      <%#= menu_tag("/documentacao/funcoes-js/rolagem-suave", "Rolagem suave")%>
    </ul>
  </nav>
</div>
</aside>
