<aside class="doc-sidebar col-md-3">
<div class="doc-sidebar-inner">
  <nav class="doc-sidebar-menu">
    <ul>
      <%= menu_tag("/documentacao/formularios/", "Básico") %>
      <%= menu_tag("/documentacao/formularios/contador/", "Limite e Contador de caracteres") %>
      <%= menu_tag("/documentacao/formularios/exibir-senha/", "Exibir e esconder a senha") %>
      <%= menu_tag("/documentacao/formularios/campos-desabilitados/", "Campos desabilitados") %>
      <%= menu_tag("/documentacao/formularios/select-customizado/", "Select customizado") %>
      <%= menu_tag("/documentacao/formularios/tamanho-dos-campos/", "Tamanho dos campos") %>
      <%= menu_tag("/documentacao/formularios/estilo-das-validacoes/", "Estilo das validações") %>
      <%= menu_tag("/documentacao/formularios/mascaras/", "Máscaras") %>
      <%= menu_tag("/documentacao/formularios/prefixos-sufixos/", "Prefixos e sufixos") %>
      <%= menu_tag("/documentacao/formularios/textarea/", "Textarea") %>
      <%= menu_tag("/documentacao/formularios/calendario/", "Calendário") %>
    </ul>
  </nav>
</div>
</aside>
