<aside class="doc-sidebar col-md-3">
<div class="doc-sidebar-inner">
  <nav class="doc-sidebar-menu">
    <ul>
      <%= menu_tag("/documentacao/css/grid/", "Estrutura de Grid")%>
      <%= menu_tag("/documentacao/css/classes-de-breakpoints/", "Classes de breakpoints")%>
      <%= menu_tag("/documentacao/css/classes-funcionais/", "Classes funcionais")%>
      <%= menu_tag("/documentacao/css/cores-do-tema/", "Cores do tema")%>
      <%= menu_tag("/documentacao/css/icones/", "Ícones")%>
      <%= menu_tag("/documentacao/css/icones-panel/", "Ícones de painel")%>
    </ul>
  </nav>
</div>
</aside>
