<nav class="doc-menu-top">
  <div class="container">
    <ul>
      <%= menu_tag("/documentacao/introducao/", "Introdução")%>
      <%= menu_tag("/documentacao/css/grid/", "CSS")%>
      <%= menu_tag("/documentacao/funcoes-js/", "Funções JS")%>
      <%= menu_tag("/documentacao/componentes/", "Componentes")%>
      <%= menu_tag("/documentacao/formularios/", "Formulários")%>
      <%= menu_tag("/documentacao/exemplos/", "Telas de Exemplo")%>
      <%= menu_tag("/documentacao/cartilha-de-elementos/", "Cartilha de Elementos")%>
    </ul>
  </div>
</nav>
