<nav class="doc-menu">
  <span class="sandwich"></span>
  <input type="checkbox">
  <ul>
    <li><%= link_to "Home", "/" %></li>
    <li><%= link_to "Use agora", base_url+'/documentacao/introducao/' %></li>
    <li><%= link_to "Documentação", base_url+'/documentacao' %></li>
    <li><%= link_to "Changelog / Blog", base_url+'/blog' %></li>
    <li><%= link_to "Documentação V1", base_url+'/documentacao' %></li>
    <li><%= link_to "Documentação V2", base_url+'/documentacao' %></li>
  </ul>
</nav>
