<aside class="doc-sidebar col-md-3">
<div class="doc-sidebar-inner">
  <nav class="doc-sidebar-menu">
    <ul>
      <%= menu_tag("/documentacao/introducao/", "Informações iniciais")%>
      <%= menu_tag("/documentacao/introducao/estrutura-principal/", "Estrutura principal") %>
      <%= menu_tag("/documentacao/introducao/boilerplate/", "Comece por aqui")%>
      <%= menu_tag("/documentacao/praticas/css/", "Padrões de CSS")%>
      <%= menu_tag("/documentacao/praticas/javascript/", "Padrões de Javascript")%>
      <%= menu_tag("/documentacao/introducao/chrome/", "Extensão para Chrome")%>
      <%= menu_tag("/documentacao/introducao/suporte-browsers/", "Suporte para Browsers Antigos")%>
      <%= menu_tag("/documentacao/introducao/contribua/", "Contribua")%>
    </ul>
  </nav>
</div>
</aside>
