<aside class="col-md-3">
  <nav class="doc-sidebar-menu">
    <ul>
      <%= menu_tag("/documentacao/componentes/abas/", "Abas") %>
      <%= menu_tag("/documentacao/componentes/alertas/", "Alertas") %>
      <%= menu_tag("/documentacao/componentes/barra-de-progresso/", "Barra de Progresso") %>
      <%= menu_tag("/documentacao/componentes/botao-switch/", "Botão Switch") %>
      <%= menu_tag("/documentacao/componentes/botoes/", "Botões") %>
      <%= menu_tag("/documentacao/componentes/box/", "Box genérico") %>
      <%= menu_tag("/documentacao/componentes/breadcrumb/", "Breadcrumb") %>
      <%= menu_tag("/documentacao/componentes/collapse/", "Collapse &amp; Accordeon") %>
      <%= menu_tag("/documentacao/componentes/dropdown/", "Dropdown") %>
      <%= menu_tag("/documentacao/componentes/chrome/", "Extensão para o chrome") %>
      <%= menu_tag("/documentacao/componentes/paginacao/", "Filtro de exibição e paginação") %>
      <%= menu_tag("/documentacao/componentes/listas/", "Listas") %>
      <%= menu_tag("/documentacao/componentes/modal/", "Modal") %>
      <%= menu_tag("/documentacao/componentes/popover/", "Popover") %>
      <%= menu_tag("/documentacao/componentes/tabelas/", "Tebelas") %>
      <%= menu_tag("/documentacao/componentes/tags/", "Tags") %>
      <%= menu_tag("/documentacao/componentes/tooltip/", "Tooltip") %>
      <%= menu_tag("/documentacao/componentes/tour-guiado/", "Tour Guiado") %>
    </ul>
  </nav>
</aside>
