<nav class="doc-menu">
  <span class="sandwich"></span>
  <ul>
    <li><%= link_to "Home", "#{base_url}" %></li>
    <li><%= link_to "Documentação", "#{base_url}/documentacao/introducao/" %></li>
    <li><%= link_to "Comece por aqui", "#{base_url}/documentacao/introducao/boilerplate/" %></li>
    <li><%= link_to "Changelog", "https://github.com/locaweb/locawebstyle/releases" %></li>
    <li><%= link_to "Documentação V1", "http://locaweb.github.io/locawebstyle-v1/" %></li>
    <li><%= link_to "Documentação V2", "http://locaweb.github.io/locawebstyle-v2/" %></li>
  </ul>
</nav>
