<aside class="doc-sidebar col-md-3">
<div class="doc-sidebar-inner doc-sidebar-componentes">
  <nav class="doc-sidebar-menu">
    <ul>
      <%= menu_tag("/documentacao/componentes/", "Abas") %>
      <%= menu_tag("/documentacao/componentes/alertas/", "Alertas") %>
      <%= menu_tag("/documentacao/componentes/alert-box/", "Box de notificações") %>
      <%= menu_tag("/documentacao/componentes/barra-de-progresso/", "Barra de Progresso") %>
      <%= menu_tag("/documentacao/componentes/botao-switch/", "Botão Switch") %>
      <%= menu_tag("/documentacao/componentes/botoes/", "Botões") %>
      <%= menu_tag("/documentacao/componentes/box-de-selecao/", "Box de seleção") %>
      <%= menu_tag("/documentacao/componentes/box-de-filtro/", "Box de Filtro") %>
      <%= menu_tag("/documentacao/componentes/box-generico/", "Box genérico") %>
      <%= menu_tag("/documentacao/componentes/box-info/", "Box Informativo") %>
      <%= menu_tag("/documentacao/componentes/breadcrumb/", "Breadcrumb") %>
      <%= menu_tag("/documentacao/componentes/collapse/", "Collapse &amp; Accordeon") %>
      <%= menu_tag("/documentacao/componentes/dropdown/", "Dropdown") %>
      <%= menu_tag("/documentacao/componentes/listas/", "Listas") %>
      <%= menu_tag("/documentacao/componentes/modal/", "Modal") %>
      <%= menu_tag("/documentacao/componentes/paginacao/", "Filtro de exibição e paginação") %>
      <%= menu_tag("/documentacao/componentes/passo-a-passo/", "Passo a passo") %>
      <%= menu_tag("/documentacao/componentes/popover/", "Popover") %>
      <%= menu_tag("/documentacao/componentes/shop-cart/", "Carrinho de compras") %>
      <%= menu_tag("/documentacao/componentes/tabelas/", "Tabelas") %>
      <%= menu_tag("/documentacao/componentes/tags/", "Tags") %>
      <%= menu_tag("/documentacao/componentes/tooltip/", "Tooltip") %>
      <%= menu_tag("/documentacao/componentes/tour-guiado/", "Tour Guiado") %>
    </ul>
  </nav>
</div>
</aside>
