

<!-- footer -->
<footer class="footer">
  <div class="container">
    <h1 class="logo">
      <a href="http://developer.locaweb.com.br/locawebstyle/"><%= image_tag 'manual/logo-footer.png', :alt => 'Locaweb Style',:class => 'img-logo-footer' %></a>
    </h1>
    <p>Copyright © 1997-2013 Locaweb Serviços de Internet S/A. <br>Todo o conteúdo deste site é de uso exclusivo da Locaweb.</p>
  </div>
</footer>
<!-- END footer-->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32633790-2']);
  _gaq.push(['_setDomainName', 'locaweb.com.br']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <%= javascript_include_tag "locastyle" %>
  <script src="<%= base_url + bootstrap_js %>"></script>
  <script src="<%= base_url + '/assets/google-code-prettify/src/prettify.js' %>"></script>
  <%= javascript_include_tag "manual" %>

</body>
</html>
