    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><%= link_to "Introdução", "#{base_url}/manual/introducao/informacoes-iniciais.html" %></li>
          <li><%= link_to "Componentes", "#{base_url}/manual/componentes/abas.html" %></li>
          <li><%= link_to "Formulários", "#{base_url}/manual/formularios/campos.html" %></li>
          <li><%= link_to "Aplicações", "#{base_url}/manual/aplicacoes/busca-avancada.html" %></li>
          <li><%= link_to "Layout", "#{base_url}/manual/layout/cores-principais.html" %></li>
          <li><%= link_to "Acessibilidade", "#{base_url}/manual/acessibilidade/tabindex.html" %></li>
          <li><%= link_to "Cartilha de Elementos", "#{base_url}/manual/elementos.html" %></li>
        </ul>
      </div>
    </div>
