<nav id="menu" class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="navbar-inner">
		<ul class="nav navbar-nav">
			<li><%= link_to "Introdução", "#{base_url}/manual/introducao/como-usar" %></li>
			<li><%= link_to "Práticas e Padrões", "#{base_url}/manual/praticas-padroes/introducao" %></li>
			<li><%= link_to "Layout", "#{base_url}/manual/layout/boilerplate" %></li>
			<li><%= link_to "Componentes", "#{base_url}/manual/componentes/abas" %></li>
			<li><%= link_to "Formulários", "#{base_url}/manual/formularios" %></li>
			<li><%= link_to "Telas de Exemplos", "#{base_url}/manual/exemplos" %></li>
			<li><%= link_to "Cartilha de Elementos", "#{base_url}/manual/elementos", target: "_blank" %></li>
		</ul>
	</div>
</nav>