    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Introdução', '/manual/introducao/informacoes-iniciais.html' %></li>
          <li><%= link_to 'Componentes', '/manual/componentes/abas.html' %></li>
          <li><%= link_to 'Formulários', '/manual/formularios/campos.html' %></li>
          <li><%= link_to 'Aplicações', '/manual/aplicacoes/busca-avancada.html' %></li>
          <li><%= link_to 'Layout', '/manual/layout/cores-principais.html' %></li>
          <li><%= link_to 'Acessibilidade', '/manual/acessibilidade/tabindex.html' %></li>
          <li><%= link_to 'Cartilha de Elementos', '/manual/elementos.html' %></li>
        </ul>
      </div>
    </div>
