    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li><%= link_to "Introdução", "#{base_url}/manual/introducao/como-usar" %></li>
          <li><%= link_to "Componentes", "#{base_url}/manual/componentes/abas" %></li>
          <li><%= link_to "Formulários", "#{base_url}/manual/formularios/campos" %></li>
          <li><%= link_to "Aplicações", "#{base_url}/manual/aplicacoes/busca-avancada" %></li>
          <li><%= link_to "Layout", "#{base_url}/manual/layout/cores-principais" %></li>
          <li><%= link_to "Acessibilidade", "#{base_url}/manual/acessibilidade/tabindex" %></li>
          <li><%= link_to "Cartilha de Elementos", "#{base_url}/manual/elementos" %></li>
        </ul>
      </div>
    </div>
