<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to 'Cores principais', 'cores-principais' %></li>
		<!-- <li><%= link_to 'Erro 404', 'erro404' %></li> -->
		<!-- <li><%= link_to 'Erro 505', 'erro505' %></li> -->
		<li><%= link_to 'Footer', 'footer' %></li>
		<li><%= link_to 'Header', 'header' %></li>
		<li><%= link_to 'Sidebar', 'sidebar' %></li>
	</ul>
</nav>
