<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to "Acessibilidade", "#{base_url}/manual/praticas-padroes/acessibilidade/acessibilidade" %></li>
		<li><%= link_to "Funcionalidades Gerais", "#{base_url}/manual/praticas-padroes/acessibilidade/funcionalidades" %></li>
		<li><%= link_to "Menu escondido", "#{base_url}/manual/praticas-padroes/acessibilidade/menu-escondido" %></li>
		<li><%= link_to "Link ir direto para o conteúdo", "#{base_url}/manual/praticas-padroes/acessibilidade/link-content" %></li>
		<li><%= link_to "Leitores de tela", "#{base_url}/manual/praticas-padroes/acessibilidade/leitores-de-tela" %></li>
		<li><%= link_to "WAI-ARIA", "#{base_url}/manual/praticas-padroes/acessibilidade/wai-aria" %></li>
	</ul>
</nav>
