<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to "Boilerplate", "#{base_url}/manual/layout/boilerplate" %></li>
		<li><%= link_to "Grid", "#{base_url}/manual/layout/grid" %></li>
		<li><%= link_to "Cores principais", "#{base_url}/manual/layout/cores-principais" %></li>
		<li><%= link_to "Ícones", "#{base_url}/manual/layout/icones" %></li>
		<li><%= link_to "Footer", "#{base_url}/manual/layout/footer" %></li>
		<li><%= link_to "Header", "#{base_url}/manual/layout/header" %></li>
		<li><%= link_to "Sidebar", "#{base_url}/manual/layout/sidebar" %></li>
		<!-- <li><%= link_to "Erro 404", "#{base_url}/manual/layout/erro404" %></li>
		<li><%= link_to "Erro 505", "#{base_url}/manual/layout/erro500" %></li> -->
		<li><%= link_to "Fontes", "#{base_url}/manual/layout/fontes" %></li>
		<li><%= link_to "Tela de Login", "#{base_url}/manual/layout/tela-login" %></li>
	</ul>
</nav>
