<!-- Menu de Componentes -->
<nav>
	<h1>Informações</h1>
	<ul>
      	<li><%= link_to 'Abas ou Tabs', 'abas' %></li>
		<li><%= link_to 'Alertas', 'alertas' %></li>
		<li><%= link_to 'Alternador de texto', 'alternando-textos' %></li>
		<li><%= link_to 'Barra de progresso', 'barra-progresso' %></li>
		<li><%= link_to 'Botões', 'botoes' %></li>
<!--
		<li>Chamada 1 elemento</li>
		<li>Choose box</li>
 -->
		<li><%= link_to 'Ícones', 'icones' %></li>
		<li><%= link_to 'Labels', 'labels' %></li>
		<li><%= link_to 'Modal ou Lightbox', 'modal' %></li>
		<li><%= link_to 'Paths', 'path' %></li>
		<li><%= link_to 'Slider', 'slider' %></li>
		<!-- <li><%= link_to 'Sub-menu', 'submenu' %></li> -->
		<li><%= link_to 'Tabelas', 'tabelas' %></li>
		<li><%= link_to 'Tooltip', 'tooltip' %></li>
	</ul>
</nav>
