<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
      	<li><%= link_to 'Abas ou Tabs', 'abas.html' %></li>
		<li><%= link_to 'Alertas', 'alertas.html' %></li>
		<li><%= link_to 'Alternador de texto', 'alternando-textos.html' %></li>
		<li><%= link_to 'Barra de progresso', 'barra-progresso.html' %></li>
		<li><%= link_to 'Botões', 'botoes.html' %></li>
<!--
		<li>Chamada 1 elemento</li>
		<li>Choose box</li>
 -->
		<li><%= link_to 'Ícones', 'icones.html' %></li>
		<li><%= link_to 'Labels', 'labels.html' %></li>
		<li><%= link_to 'Modal ou Lightbox', 'modal.html' %></li>
		<li><%= link_to 'Paths', 'path.html' %></li>
		<li><%= link_to 'Slider', 'slider.html' %></li>
		<!-- <li><%= link_to 'Sub-menu', 'submenu.html' %></li> -->
		<li><%= link_to 'Tabelas', 'tabelas.html' %></li>
		<li><%= link_to 'Tooltip', 'tooltip.html' %></li>
	</ul>
</nav>