<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to 'Busca avançada', 'busca-avancada.html' %></li>
		<!-- <li><%= link_to 'Chamada vários links', 'chamada-varios-links.html' %></li> -->
		<li><%= link_to 'Collapse', 'collapse.html' %></li>
		<li><%= link_to 'Filtro exibição e paginação', 'paginacao.html' %></li>
		<li><%= link_to 'Lista', 'lista.html' %></li>
		<li><%= link_to 'Alertas e Notificações', 'alertas.html' %></li>
	</ul>
</nav>