<!-- Menu de Componentes -->
<nav>
	<h1>Informações</h1>
	<ul>
		<!-- <li><%= link_to "Paths", "#{base_url}/manual/componentes/path" %></li> -->
		<!-- <li><%= link_to "Sub-menu", "#{base_url}/manual/componentes/submenu" %></li> -->
		<li><%= link_to "Abas ou Tabs", "#{base_url}/manual/componentes/abas" %></li>
		<li><%= link_to "Alertas", "#{base_url}/manual/componentes/alertas" %></li>
		<li><%= link_to "Alternador de classes", "#{base_url}/manual/componentes/alternando-classes" %></li>
		<li><%= link_to "Alternador de texto", "#{base_url}/manual/componentes/alternando-textos" %></li>
		<li><%= link_to "Barra de progresso", "#{base_url}/manual/componentes/barra-progresso" %></li>
		<li><%= link_to "Botão switch", "#{base_url}/manual/componentes/botao-switch" %></li>
		<li><%= link_to "Botões", "#{base_url}/manual/componentes/botoes" %></li>
		<li><%= link_to "Box de Informações", "#{base_url}/manual/componentes/box-info" %></li>
		<li><%= link_to "Breadcrumb", "#{base_url}/manual/componentes/breadcrumb" %></li>
		<li><%= link_to "Carousel", "#{base_url}/manual/componentes/carousel" %></li>
		<li><%= link_to "Classes funcionais", "#{base_url}/manual/componentes/classes-funcionais" %></li>
		<li><%= link_to "Collapse", "#{base_url}/manual/componentes/collapse" %></li>
		<li><%= link_to "Dropdowns", "#{base_url}/manual/componentes/dropdowns" %></li>
		<li><%= link_to "Filtro de exibição e paginação", "#{base_url}/manual/componentes/paginacao" %></li>
		<li><%= link_to "Labels ou Tags", "#{base_url}/manual/componentes/labels" %></li>
		<li><%= link_to "Listas", "#{base_url}/manual/componentes/listas" %></li>
		<li><%= link_to "Modal ou Lightbox", "#{base_url}/manual/componentes/modal" %></li>
		<li><%= link_to "Popover", "#{base_url}/manual/componentes/popover" %></li>
		<li><%= link_to "Select personalizado", "#{base_url}/manual/componentes/select" %></li>
		<li><%= link_to "Tabelas", "#{base_url}/manual/componentes/tabelas" %></li>
		<li><%= link_to "Tooltip", "#{base_url}/manual/componentes/tooltip" %></li>
		<li><%= link_to "Tour Guiado", "#{base_url}/manual/componentes/tour-guiado" %></li>
		<li><%= link_to "Track Events", "#{base_url}/manual/componentes/track-events" %></li>
		<li><%= link_to "Wells ou Boxes", "#{base_url}/manual/componentes/wells" %></li>
	</ul>
</nav>
