<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to 'Cores principais', 'cores-principais.html' %></li>
		<!-- <li><%= link_to 'Erro 404', 'erro404.html' %></li> -->
		<!-- <li><%= link_to 'Erro 505', 'erro505.html' %></li> -->
		<li><%= link_to 'Footer', 'footer.html' %></li>
		<li><%= link_to 'Header', 'header.html' %></li>
		<li><%= link_to 'Sidebar', 'sidebar.html' %></li>
	</ul>
</nav>