<!-- Menu de Formulários -->
<nav>
	<h1>Informações</h1>
	<ul>
      	<li><%= link_to 'Campos', 'campos' %></li>
      	<li><%= link_to 'Máscaras de formulários', 'mascaras-forms' %></li>
      	<li><%= link_to 'Indicando as validações', 'validacoes' %></li>
      	<li><%= link_to 'Calendários', 'calendarios' %></li>
      	<li><%= link_to 'Customizando os selects', 'selects' %></li>
      	<li><%= link_to 'Medidor de senha', 'medidor-senhas' %></li>
	</ul>
</nav>
