<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to "Introdução", "#{base_url}/manual/praticas-padroes/introducao" %></li>
		<li><%= link_to "HTML", "#{base_url}/manual/praticas-padroes/html" %></li>
		<li><%= link_to "CSS", "#{base_url}/manual/praticas-padroes/css" %></li>
		<li><%= link_to "Javascript", "#{base_url}/manual/praticas-padroes/javascript" %></li>
		<li><%= link_to "Acessibilidade", "#{base_url}/manual/praticas-padroes/acessibilidade/acessibilidade" %></li>
	</ul>
</nav>
