<!-- Menu de Informações Iniciais -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to 'Busca avançada', 'busca-avancada' %></li>
		<!-- <li><%= link_to 'Chamada vários links', 'chamada-varios-links' %></li> -->
		<li><%= link_to 'Collapse', 'collapse' %></li>
		<li><%= link_to 'Filtro exibição e paginação', 'paginacao' %></li>
		<li><%= link_to 'Lista', 'lista' %></li>
		<li><%= link_to 'Alertas e Notificações', 'alertas' %></li>
	</ul>
</nav>
