<!-- Menu de Formulários -->
<nav>
	<h1>Informações</h1>
	<ul>
		<li><%= link_to "Formulário Básico", "#{base_url}/manual/formularios" %></li>
		<li><%= link_to "Posição dos campos", "#{base_url}/manual/formularios/posicao-dos-campos" %></li>
		<li><%= link_to "Campos de formulário", "#{base_url}/manual/formularios/campos" %></li>
		<li><%= link_to "Desabilitando campos de formulário", "#{base_url}/manual/formularios/desabilitando-campos" %></li>
		<li><%= link_to "Formulários como texto", "#{base_url}/manual/formularios/formularios-como-texto" %></li>
		<li><%= link_to "Máscaras de formulários", "#{base_url}/manual/formularios/mascaras-forms" %></li>
		<li><%= link_to "Prefixos e sufixos de campos", "#{base_url}/manual/formularios/prefixos-sufixos" %></li>
		<li><%= link_to "Indicando as validações", "#{base_url}/manual/formularios/validacoes" %></li>
		<li><%= link_to "Calendários", "#{base_url}/manual/formularios/calendarios" %></li>
		<li><%= link_to "Força de senha", "#{base_url}/manual/formularios/forca-de-senha" %></li>
		<li><%= link_to "Alternando campos", "#{base_url}/manual/formularios/alternando-campos" %></li>
	</ul>
</nav>
