<aside class="ls-sidebar">

  <% if current_page.data.pre_panel %>
    <h1 class="ls-brand-name ls-ico-earth"><%= link_to current_page.data.title_product, 'home' %></h1>
  <% else %>
    <div class="ls-sidebar-inner">
      <a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/pre-painel"  class="ls-go-prev"><span class="ls-text">Voltar à lista de serviços</span></a>
      <nav class="ls-menu">
        <ul>
          <li><a href="<%= base_url %>/documentacao/exemplos/painel2/home" class="ls-ico-dashboard">Dashboard</a></li>
          <li>
            <a href="#" class="ls-ico-stats">Relatórios</a>
            <ul>
              <li><a href="<%= base_url %>/documentacao/exemplos/painel2/resume">Resumo</a></li>
              <li><a href="<%= base_url %>/documentacao/exemplos/painel2/openings">Aberturas</a></li>
              <li><a href="<%= base_url %>/documentacao/exemplos/painel2/bounces">Bounces</a></li>
              <li><a href="<%= base_url %>/documentacao/exemplos/painel2/complaints">Denúncias</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="ls-ico-cog" title="Configurações">Configurações</a>
            <ul>
              <li><a href="<%= base_url %>/documentacao/exemplos/painel2/config-server">Dados do Servidor SMTP</a></li>
              <li><a href="<%= base_url %>/documentacao/exemplos/painel2/config-email">E-mail de remetente</a></li>
              <li><a href="<%= base_url %>/documentacao/exemplos/painel2/config-excess">Envios excedentes</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

  <% end %>
</aside>
