<div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
  <a href="#" class="ls-ico-user">
    <span class="ls-name">João Marques Gonçalves deiivd</span>
    (fmolina)</small>
  </a>
  <nav class="ls-dropdown-nav ls-user-menu">
    <ul>
      <li><a href="#">Meus dados</a></li>
      <li><a href="#">Faturas</a></li>
      <li><a href="#">Planos</a></li>
     </ul>
     <a href="#" class="ls-btn-logout">Sair</a>
  </nav>
</div>
<% if current_page.data.pre_panel %>
  <h1 class="ls-brand-name ls-ico-earth"><%= link_to current_page.data.title_product, 'home' %></h1>
<% else %>
  <div class="ls-sidebar-inner">
    <a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/pre-painel"  class="ls-go-prev"><span class="ls-text">Voltar à lista de serviços</span></a>
    <nav class="ls-menu">
      <ul>
        <li><a href="<%= base_url %>/documentacao/exemplos/painel2/home" class="ls-ico-dashboard">Dashboard</a></li>
        <li><a href="<%= base_url %>/documentacao/exemplos/painel2/stats" class="ls-ico-stats">Relatórios</a></li>
        <li>
          <a href="#" class="ls-ico-cog">Configurações</a>
          <ul>
            <li><a href="<%= base_url %>/documentacao/exemplos/painel2/config-server">Dados do Servidor SMTP</a></li>
            <li><a href="<%= base_url %>/documentacao/exemplos/painel2/config-email">E-mail de remetente</a></li>
            <li><a href="<%= base_url %>/documentacao/exemplos/painel2/config-excess">Envios excedentes</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

<% end %>
