---
title: Dados do Servidor SMTP
layout: panel
theme_name: ls-theme-light-green
title_product: SMTP Locaweb
---

  <h1 class="ls-title-intro ls-ico-cog">E-mail de remetente</h1>
  <p>Adicione e gerencie o e-mail de remetente que será exibido em seus envios.</p>
  <div class="ls-box ls-box-gray">
    <form class="ls-form ls-form-inline">
      <label class="ls-label" role="search">
        <b class="ls-label-text ls-hidden-accessible">E-mail</b>
        <input type="text" id="q" name="q" aria-label="Digite um e-mail" accesskey="s" placeholder="E-mail" required="">
      </label>
      <div class="ls-actions-btn">
        <button type="submit" class="ls-btn-primary">Adicionar</button>
      </div>
    </form>
  </div>
  <table class="ls-table">
    <thead>
      <tr>
        <th>E-mail adicionado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- 3.times do |num| %>
        <tr>
          <td><%= lorem.email %>
            <span class="ls-tag-success">Confirmado</span>
          </td>
          <td class="ls-txt-right"> <button data-action="<%= base_url %>" data-class="ls-btn-danger" data-close="Não tenho certeza" data-content="<div class='ls-txt-center'><h3 class='ls-title-3'>Você tem certeza que deseja excluir esse email?</h2><p>A exclusão do e-mail afetará os próximos envios com este remetente.</p></div>" data-ls-module="modal" data-save="Sim, desativar" data-title="Desativar email" class="ls-btn-danger">Excluir</button>  </td>
        </tr>
      <% end %>
        <tr>
          <td>
            <%= lorem.email %>
            <span class="ls-tag-warning">Não confirmado</span>
          </td>
          <td class="ls-txt-right">
            <div data-ls-module="dropdown" class="ls-dropdown ls-pos-right">
              <a href="#" class="ls-btn">Ações</a>
              <ul class="ls-dropdown-nav">
                <li><a href="#">Reenviar e-mail</a></li>
                <li><a href="#" data-action="<%= base_url %>" data-class="ls-btn-danger" data-close="Não tenho certeza" data-content="<div class='ls-txt-center'> <h3 class='ls-title-3'>Você tem certeza que deseja excluir esse email?</h2><p>A exclusão do e-mail afetará os próximos envios com este remetente.</p></div>" data-ls-module="modal" data-save="Sim, desativar" data-title="Desativar email" class="ls-color-danger">Excluir</a></li>
              </ul>
            </div>
            <!-- <button data-action="<%= base_url %>" data-class="ls-btn-danger" data-close="Não tenho certeza" data-content="<h3 class='ls-title-2'>Você tem certeza que deseja excluir esse email?</h2><p>A exclusão do e-mail afetará os próximos envios com este remetente.</p>" data-ls-module="modal" data-save="Sim, desativar" data-title="Desativar email" class="ls-btn-danger ls-btn-sm">Excluir</button> -->
          </td>
        </tr>
    </tbody>
  </table>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel2/sidebar' %>
<% end %>
