---
layout: changelog_layout
pageable: true
---
<% if paginate %>
	<ul class="pager">
		<p class="page_counter">P치gina <%= page_number %> de <%= num_pages %></p>

		<% if prev_page %>
			<li class="previous"><a href="<%= base_url + prev_page.url %>">< P치gina anterior</a></li>
		<% end %>
	</ul>
<% end %>

<h1>Arquivo de
  <% case page_type when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h1>

<% page_articles.each_with_index do |article, i| %>
	<article>
		<h1><a href="<%= "#{base_url}/changelog/#{article.date.strftime('%Y/%m/%d')}/#{article.slug}" %>"><%= article.title %></a></h1>
		<div class="infoPost">
			<small><%= article.date.strftime('%Y/%m/%d') %></small>
		</div>
		<%= article.summary(250) %>
	</article>
	<hr>
<% end %>

<% if paginate %>
	<ul class="pager">
		<% if next_page %>
			<li class="next"><a href="<%= base_url + next_page.url %>">Pr칩xima p치gina ></a></li>
		<% end %>
	</ul>
<% end %>
