---
title: Changelog do Locaweb Style
layout: changelog_layout
pageable: true
per_page: 10
---
<% if paginate %>
	<ul class="pager">
		<p class="page_counter">P치gina <%= page_number %> de <%= num_pages %></p>

		<% if prev_page %>
			<li class="previous"><a href="<%= base_url + prev_page.url %>">< P치gina anterior</a></li>
		<% end %>
	</ul>
<% end %>

<% page_articles.each_with_index do |article, i| %>
	<article>
		<h1><a href="<%= "#{base_url}/changelog/#{article.date.strftime('%Y/%m/%d')}/#{article.slug}" %>"><%= article.title %></a></h1>
		<div class="infoPost">
			<small><%= article.date.strftime('%Y/%m/%d') %></small>
		</div>
		<!-- use article.summary(250) if you have Nokogiri available to show just
		the first 250 characters -->
		<%= article.body %>
	</article>
	<hr>
<% end %>

<% if paginate %>
	<ul class="pager">
		<% if next_page %>
			<li class="next"><a href="<%= base_url + next_page.url %>">Pr칩xima p치gina ></a></li>
		<% end %>
	</ul>
<% end %>