---
title: Changelog
description: Acompanhe o changelog
layout: changelog
---
<%= partial 'partials/doc-menu-changelog'%>
<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>
  <% if paginate %>
    <ul class="pager">
      <p class="page_counter">P치gina <%= page_number %> de <%= num_pages %></p>

      <% if prev_page %>
        <li class="previous"><a href="<%= base_url + prev_page.url %>">< P치gina anterior</a></li>
      <% end %>
    </ul>
  <% end %>

  <% page_articles.each_with_index do |article, i| %>
    <article>
      <h2 class="doc-title-4">
         <a href="<%= "#{base_url}/changelog/#{article.date.strftime('%Y/%m/%d')}/#{article.slug}" %>"><%= article.title %></a>
      </h2>
      <p><time><%= article.date.strftime('%d/%m/%Y') %></time></p>
    </article>
    <hr>
  <% end %>

  <% if paginate %>
    <ul class="pager">
      <% if next_page %>
        <li class="next"><a href="<%= base_url + next_page.url %>">Pr칩xima p치gina ></a></li>
      <% end %>
    </ul>
  <% end %>
</section>
