---
layout: false
---
<!DOCTYPE html>
<html lang="pt-br" class="color-green" nofocus>
<head>
	<title>Cartilha de elementos do Locaweb Style</title>

	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="<%= base_url + bootstrap_css %>">
	<link rel="stylesheet" type="text/css" href="<%= base_url + '/assets/stylesheets/manual.css' %>">

	<%= stylesheet_link_tag "locastyle" %>
	<style>
	.separator{
		margin: 100px 0 !important;
		clear: both;
	}

	[class*="title-"] {
		margin-bottom: 20px;
	}

	.toggle-markup-example {
		margin: 25px 0;
	}
	</style>
</head>
<body>

<header class="header" role="banner">
	<div class="container">
		<span class="control-menu visible-xs ico-menu-2"></span>
		<span class="control-sidebar visible-xs ico-list"></span>
		<h1 class="project-name"><a href="#">Nome do sistema</a></h1>
		<a href="#" class="help-suggestions ico-help-circle hidden-xs">Ajuda e Sugestões</a>

		<div class="dropdown hidden-xs">
			<a href="#" data-toggle="dropdown" class="title-dropdown">emkt2013</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="#" role="menuitem">Option 1</a></li>
				<li><a href="#" role="menuitem">Option 2</a></li>
				<li><a href="#" role="menuitem">Option 3</a></li>
			</ul>
		</div>
	</div>
</header>

<div class="nav-content">
	<menu class="menu">
		<ul class="container">
			<li><a href="#" class="active ico-home" role="menuitem">Home</a></li>
			<li><a href="#" role="menuitem">Lista de contatos</a></li>
			<li><a href="#" role="menuitem">Mensagens</a>
				<ul>
					<li><a href="#">Enviar</a></li>
					<li><a href="#">Criar</a></li>
					<li><a href="#">Editar</a></li>
					<li><a href="#">Relatórios</a></li>
				</ul>
			</li>
			<li><a href="#" role="menuitem">Campanhas</a></li>
			<li><a href="#" role="menuitem">Templates</a></li>
			<li><a href="#" role="menuitem">Relatórios</a></li>
			<li><a href="#" role="menuitem">Configurações</a></li>
		</ul>
	</menu>
	<h2 class="title-sep visible-xs">Mais</h2>
	<ul class="nav-mob-list visible-xs">
		<li><a href="#" class="ico-help-circle">Ajuda e sugestões</a></li>
	</ul>
</div>

<main class="main">
<div class="container">
	<span class="bg-shortcut-workaround" style="height: 324px;"></span>

	<div class="content" role="main">

		<div class="shortcut-box">
			<header class="header-content">
				<h1 class="title-2">Comece a usar seu sistema aqui</h1>
				<p class="hidden-xs">It is a long established fact that a reader will be distracted</p>
			</header>
			<div class="shortcuts">
				<div class="col-md-4 col-xs-4">
					<a href="#"><h2 class="shortcut-title ico-user">Cadastre seus contatos</h2></a>
				</div>
				<div class="col-md-4 col-xs-4">
					<a href="#"><h2 class="shortcut-title ico-download">Crie e Envie mensagens</h2></a>
				</div>
				<div class="col-md-4 col-xs-4">
					<a href="#"><h2 class="shortcut-title ico-flag">Acompanhe os resultados</h2></a>
				</div>
			</div>
		</div>

			<hr class="separator">

			<h2 class="title-2" id="example-progress-bar">Barra de progresso</h2>
			<div class="element-example">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						<span class="sr-only">40% Complete</span>
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span>60% Complete</span>
					</div>
				</div>
				<div class="progress progress-striped active">
					<div class="progress-bar"  role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
						<span class="sr-only">25% Complete</span>
					</div>
				</div>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-tooltip">Tooltips</h2>
			<p>Passe o mouse para ver:</p>
			<div class="element-example">
				<button class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Esquerda">Esquerda</button>
				<button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="em Cima">em Cima</button>
				<button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="em Baixo">em Baixo</button>
				<button class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Direita">Direita</button>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-carousel">Carousel</h2>

			<div class="element-example">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<img src="http://31.media.tumblr.com/6c5d3876dd9858685cc8b584503101b1/tumblr_mve3kz3WG21st5lhmo1_1280.jpg" alt="">
							<div class="carousel-caption">
								<h3>Primeiro Slide</h3>
							</div>
						</div>
						<div class="item">
							<img src="http://24.media.tumblr.com/23e3f4bb271b8bdc415275fb7061f204/tumblr_mve3rvxwaP1st5lhmo1_1280.jpg" alt="">
							<div class="carousel-caption">
								<h3>Segundo Slide</h3>
							</div>
						</div>
						<div class="item">
							<img src="http://31.media.tumblr.com/098217f18533a8971385d0c59004d810/tumblr_muuj37kqN21st5lhmo1_1280.jpg" alt="">
							<div class="carousel-caption">
								<h3>Terceiro Slide</h3>
							</div>
						</div>
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
						<span class="ico-direction-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
						<span class="ico-direction-right"></span>
					</a>
				</div>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-breadcrumb">Breadcrumb</h2>
			<div class="element-example">
				<!-- Breadcrumb com 3 itens -->
				<ol class="breadcrumb container">
					<li><a href="#">Início</a></li>
					<li><a href="#">Mensagens</a></li>
					<li class="active">Enviar</li>
				</ol>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-popover">Popover</h2>
			<p>Clique nos botões para ver:</p>

			<div class="element-example">
        <p>
          <button data-container="body" data-toggle="popover" data-placement="left" class="btn btn-default" data-content="Um texto bem legal a esquerda.">esquerda</button>
          <button data-container="body" data-toggle="popover" data-placement="top" class="btn btn-default" data-content="Um texto bem legal em cima.">topo</button>
          <button data-container="body" data-toggle="popover" data-placement="bottom" class="btn btn-default" data-content="Um texto bem legal em baixo.">baixo</button>
          <button data-container="body" data-toggle="popover" data-placement="right" class="btn btn-default" data-content="Um texto bem legal a direita.">direita</button>
        </p>
        <p>
          <button class="btn btn-danger" data-container="body" data-inherit="background-color" data-toggle="popover" data-placement="top" data-content="Um texto bem legal e bonito por aqui." data-title="Título">Top herdando a cor</button>
          <button class="btn btn-info" data-container="body" data-inherit="background-color" data-toggle="popover" data-placement="top" data-html="true" data-content="Um texto e um <a href='#'>link colorido</a>." data-title="Título">Top herdando a cor, com link</button>
          <button class="btn btn-warning" data-container="body" data-inherit="background-color" data-inherit-apply="background" data-toggle="popover" data-placement="top" data-html="true" data-content="Um texto e um <a href='#'>link colorido</a>." data-title="Título">Cor no background</button>
        </p>
        <p>
          <button class="btn label" style="color: navy;" data-container="body" data-inherit="color" data-toggle="popover" data-placement="bottom" data-content="Um texto bem legal e bonito por aqui." data-title="Título">label</button>
          <span class="label label-warning" data-container="body" data-inherit="background-color" data-toggle="popover" data-placement="right" data-content="Um texto bem legal e bonito por aqui." data-title="Título">label</span>
          <a href="#" class="ico-question" data-container="body" data-inherit="background-color" data-toggle="popover" data-placement="left" data-content="Um texto bem legal e bonito por aqui." data-title="Título"></a>
        </p>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-well">Boxes Genéricos</h2>
			<div class="element-example">
				<div class="row">
					<div class="col-md-6">
						<div class="well well-lg">
							Texto de exemplo
						</div>
						<div class="well well-sm">
							Texto de exemplo
						</div>

					</div>
					<div class="col-md-6">

						<div class="well well-lg no-bg">
							Texto de exemplo
						</div>
						<div class="well well-sm no-bg">
							Texto de exemplo
						</div>
					</div>

					<div class="col-md-6">
						<div class="well arrow-up">
							texto
						</div>
					</div>
					<div class="col-md-6">
						<div class="well arrow-up no-bg">
							texto
						</div>
					</div>
				</div>

			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-tabs">Abas</h2>
			<div class="element-example">
				<ul class="nav nav-tabs">
					<li><a href="#home" data-toggle="tab">Home</a></li>
					<li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane" id="home">
						<p><strong>HOME</strong>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
					</div>
					<div class="tab-pane active in" id="profile">
						<p><strong>PROFILE</strong>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
					</div>
				</div>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-tables">Tabela</h2>
			<div class="element-example">
				<div class="table-responsive">
					<div class="well hidden well-sm clearfix" data-target="tabela1">
						<p class="d-inline-block">
							<strong class="counterChecks">0</strong> itens selecionados
						</p>
						<div class="actions">
							<div class="btn-group">
								<button type="button" class="btn btn-default">Duplicar</button>
								<a href="#" class="btn btn-default">Relatorio</a>
								<a href="#" class="btn btn-default">Arquivar</a>
							</div>
							<button type="button" class="btn btn-danger">Excluir</button>
						</div>
					</div>
					<table class="table ls-table" id="tabela1">
						<thead>
							<tr>
								<th class="txt-center"><input type="checkbox"></th>
								<th>Título</th>
								<th class="hidden-xs">Campanha</th>
								<th>Status</th>
								<th class="hidden-xs">Data de envio</th>
							</tr>
						</thead>
						<tbody>
							<%- 4.times do |i| %>
							<tr>
								<td class="txt-center"><input type="checkbox"></td>
								<td><a href="" title="">Mensagem Teste Locastyle <%= i %></a></td>
								<td class="hidden-xs">Campanha <%= i %></td>
								<td>Enviada</td>
								<td class="hidden-xs">21/09/2013 as 20:00 PM</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-collapse">Collapses</h2>
			<div class="element-example">
				<div class="ls-collapse">
					<div class="panel-heading">
						<span data-toggle="collapse" data-target="#collapseOne">
							<h4 class="panel-title">Exemplo de layout com formulário</h4>
							<p>Você pode colocar formulários da maneira que quiser aqui dentro.</p>
						</span>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">
							<p>Um formulário de cadastro:</p>
							<form role="form">
								<fieldset>
									<div class="row">
										<div class="form-group col-lg-4">
											<label for="">Campo simples</label>
											<input type="text" class="form-control" id="" placeholder="Insira seu texto aqui">
										</div>
										<div class="form-group col-lg-8">
											<label for="">Campo simples</label>
											<input type="text" class="form-control" id="" placeholder="Insira seu texto aqui">
										</div>
									</div>
									<div class="row">
										<div class="form-group col-lg-6">
											<label for="">Seletor</label>
											<select class="form-control">
												<option value="">Selecione algo</option>
												<option value="">Opção 1</option>
												<option value="">Opção 2</option>
											</select>
										</div>
										<div class="form-group col-lg-6">
											<label for="">Seletor</label>
											<select class="form-control">
												<option value="">Selecione algo</option>
												<option value="">Opção 1</option>
												<option value="">Opção 2</option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-lg-3">
											<label for="">Senha</label>
											<input type="password" class="form-control" id="" placeholder="senha">
										</div>
										<div class="form-group col-lg-6">
											<label for="">Email</label>
											<input type="email" class="form-control" id="" placeholder="Insira seu emai aqui">
										</div>
										<div class="form-group col-lg-3">
											<label for="">Data</label>
											<input type="date" class="form-control" id="" placeholder="Insira seu emai aqui">
										</div>
									</div>
									<div class="box-actions">
										<button type="submit" class="btn btn-primary">Enviar</button>
										<button class="btn btn-danger">Cancelar</button>
									</div>
								</fieldset>
							</form>

						</div>
					</div>
				</div>
			</div>
			<div class="element-example">
				<div class="ls-collapse">
					<div class="panel-heading">
						<a data-toggle="collapse" href="#collapseTwo">
							<h4 class="panel-title">Um exemplo simples com texto</h4>
							<p>Se tiver só texto, o negócio funciona que é uma beleza.</p>
						</a>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							<h3>Fernando Pessoa</h3>
							<p>
								Batatinha quando nasce espalha a rama pelo chão. Menininha quando dorme põe a mão no coração. Sou pequenininha do tamanho de um botão, carrego papai no bolso e mamãe no coração. O bolso furou e o papai caiu no chão. Mamãe que é mais querida ficou no coração.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="element-example">
				<form role="form">
	<div class="panel-group" id="formularioSteps">
			<!-- Passo 1 -->
			<div class="panel panel-default ls-collapse">
				<div class="panel-heading">
					<h4 class="panel-title">Formulário em etapas - 1</h4>
					<p>Descrição do passo 1</p>
				</div>
				<div id="passo1" class="panel-collapse collapse in">
					<div class="col-md-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Campo simples</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Insira seu texto aqui">
						</div>
						<div class="box-actions">
							<button class="btn" data-toggle="collapse" data-parent="#formularioSteps" data-target="#passo2" type="button">Ir para o passo 2</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Passo 2 -->
			<div class="panel panel-default ls-collapse">
				<div class="panel-heading">
					<h4 class="panel-title">Formulário em etapas - 2</h4>
					<p>Descrição do passo 2</p>
				</div>
				<div id="passo2" class="panel-collapse collapse">
					<div class="col-md-12">
						<div class="form-group">
							<label for="exampleSelect">Seletor</label>
							<select id="exampleSelect" class="form-control">
								<option value="">Escolha uma opção</option>
								<option value="">Isso mesmo :D</option>
							</select>
						</div>
						<div class="box-actions">
							<button class="btn" data-toggle="collapse" data-parent="#formularioSteps" data-target="#passo1" type="button">Voltar ao passo 1</button>
						</div>
					</div>
				</div>
			</div>

	</div>
	</form>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-alerts">Alertas</h2>
			<div class="element-example">
				<div class="alert alert-success"><p><strong>Sucesso!</strong> Você conseguiu, parabéns!</p></div>
				<div class="alert alert-info"><p><strong>Atenção:</strong> você tem informações importantes para ler.</p></div>
				<div class="alert alert-warning"><p><strong>Cuidado:</strong> cheque duas vezes. Você pode ter esquecido alguma informação. <a href="#">Veja mais detalhes aqui</a> </p></div>
				<div class="alert alert-danger"><p><strong>Mórreu:</strong> Algo muito ruim aconteceu e você vai precisar refazer tudo.</p></div>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-selects">Select personalizado</h2>
			<div class="element-example">
				<form>
					<select name="select-simples" class="ls-select">
						<option value="MG">Minas Gerais</option>
						<option value="SP">São Paulo</option>
						<option value="RJ">Rio de Janeiro</option>
					</select>
				</form>
				<br>
				<form>
					<select name="select-simples-grande" class="ls-select" style="width:300px">
						<option value="ac">Acre</option>
						<option value="al">Alagoas</option>
						<option value="ap">Amapá</option>
						<option value="am">Amazonas</option>
						<option value="ba">Bahia</option>
						<option value="ce">Ceará</option>
						<option value="df">Distrito Federal</option>
						<option value="es">Espirito Santo</option>
						<option value="go">Goiás</option>
						<option value="ma">Maranhão</option>
						<option value="ms">Mato Grosso do Sul</option>
						<option value="mt">Mato Grosso</option>
						<option value="mg">Minas Gerais</option>
						<option value="pa">Pará</option>
						<option value="pb">Paraíba</option>
						<option value="pr">Paraná</option>
						<option value="pe">Pernambuco</option>
						<option value="pi">Piauí</option>
						<option value="rj">Rio de Janeiro</option>
						<option value="rn">Rio Grande do Norte</option>
						<option value="rs">Rio Grande do Sul</option>
						<option value="ro">Rondônia</option>
						<option value="rr">Roraima</option>
						<option value="sc">Santa Catarina</option>
						<option value="sp">São Paulo</option>
						<option value="se">Sergipe</option>
						<option value="to">Tocantins</option>
					</select>
				</form>
				<br>
				<form>
					<select multiple name="select-multiplo-placeholder" class="ls-select" style="width:300px" placeholder="Selecione um estado">
						<option value="MG">Minas Gerais</option>
						<option value="SP">São Paulo</option>
						<option value="RJ">Rio de Janeiro</option>
					</select>
				</form>

			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-forms">Formulário</h2>
			<div class="element-example">
				<form role="form">
					<fieldset>
						<div class="form-group">
							<label for="ipt1">Campo simples</label>
							<input type="email" class="form-control" id="ipt1" placeholder="Insira seu texto aqui">
							<p class="help-block">Exemplo de texto de ajuda.</p>
						</div>
						<div class="form-group">
							<label for="exampleSelect">Seletor</label>
							<select id="exampleSelect" class="form-control">
								<option value="">Escolha uma opção</option>
								<option value="">Isso mesmo :D</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Campo de senha</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
						</div>
						<div class="form-group">
							<label for="exampleInputFile">Campo para envio de arquivo</label>
							<input type="file" id="exampleInputFile">
						</div>
						<div class="checkbox">
							<input type="checkbox" id="checkbox-1">
							<label for="checkbox-1">Marque aqui</label>
						</div>
						<div class="checkbox">
							<input type="checkbox" id="checkbox-2">
							<label for="checkbox-2">Marque aqui</label>
						</div>
						<div class="checkbox">
							<input type="checkbox" id="checkbox-3">
							<label for="checkbox-3">Marque aqui</label>
						</div>
						<div class="radio">
							<input name="radios" type="radio" id="radio-button-1">
							<label for="radio-button-1">Ou aqui</label>
						</div>
						<div class="radio">
							<input name="radios" type="radio" id="radio-button-2">
							<label for="radio-button-2">Ou aqui</label>
						</div>
						<div class="radio">
							<input name="radios" type="radio" id="radio-button-3">
							<label for="radio-button-3">Ou aqui</label>
						</div>
						<div class="box-actions">
							<button type="submit" class="btn btn-primary">Enviar</button>
						</div>
					</fieldset>
				</form>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-formshor">Formulários horizontais</h2>
			<div class="element-example">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">
							<input type="email" class="form-control" id="inputEmail1" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword1" class="col-lg-2 control-label">Senha</label>
						<div class="col-lg-10">
							<input type="password" class="form-control" id="inputPassword1" placeholder="Senha">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<div class="checkbox">
								<input type="checkbox" id="checkbox-x">
								<label for="checkbox-x">Me manter conectado</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-primary">Entrar</button>
						</div>
					</div>
				</form>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-forms-line">Formulários em linha</h2>
			<div class="element-example">
				<form class="form-inline" role="form">
					<div class="form-group">
						<label class="sr-only" for="exampleInputEmail2">Endereço de email</label>
						<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Digite seu email">
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputPassword2">Senha</label>
						<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Senha">
					</div>
					<div class="checkbox">
						<input type="checkbox" id="checkbox-y">
						<label for="checkbox-y">Me manter conectado</label>
					</div>
					<button type="submit" class="btn btn-primary">Entrar</button>
				</form>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-buttons">Botões</h2>
			<div class="element-example">
				<button type="button" class="btn btn-xs btn-default">Default</button>
				<button type="button" class="btn btn-xs btn-primary">Primary</button>
				<button type="button" class="btn btn-xs btn-success">Success</button>
				<button type="button" class="btn btn-xs btn-info">Info</button>
				<button type="button" class="btn btn-xs btn-warning">Warning</button>
				<button type="button" class="btn btn-xs btn-danger">Danger</button>
				<br>
				<br>
				<button type="button" class="btn btn-sm btn-default">Default</button>
				<button type="button" class="btn btn-sm btn-primary">Primary</button>
				<button type="button" class="btn btn-sm btn-success">Success</button>
				<button type="button" class="btn btn-sm btn-info">Info</button>
				<button type="button" class="btn btn-sm btn-warning">Warning</button>
				<button type="button" class="btn btn-sm btn-danger">Danger</button>
				<br>
				<br>
				<button type="button" class="btn btn-default">Default</button>
				<button type="button" class="btn btn-primary">Primary</button>
				<button type="button" class="btn btn-success">Success</button>
				<button type="button" class="btn btn-info">Info</button>
				<button type="button" class="btn btn-warning">Warning</button>
				<button type="button" class="btn btn-danger">Danger</button>
				<br>
				<br>
				<button type="button" class="btn btn-lg btn-default">Default</button>
				<button type="button" class="btn btn-lg btn-primary">Primary</button>
				<button type="button" class="btn btn-lg btn-success">Success</button>
				<button type="button" class="btn btn-lg btn-info">Info</button>
				<button type="button" class="btn btn-lg btn-warning">Warning</button>
				<button type="button" class="btn btn-lg btn-danger">Danger</button>
			</div>


			<hr class="separator">

			<h2 class="title-2" id="example-label">Label ou Tags</h2>
			<div class="element-example">
				<span class="label label-default">Default</span>
				<span class="label label-primary">Primary</span>
				<span class="label label-success">Success</span>
				<span class="label label-info">Info</span>
				<span class="label label-warning">Warning</span>
				<span class="label label-danger">Danger</span>
			</div>

			<hr class="separator">

			<h2 class="title-2" id="example-icons">Ícones</h2>
			<div class="element-example">
				<span aria-hidden="true" class="ico-home"></span> &nbsp;ico-home
			</div>
			<%= partial 'partials/elements/icons' %>

			<hr class="separator">

		</div>
	</div>
</div>
</main>

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<%= javascript_include_tag "locastyle" %>
	<script src="<%= base_url + bootstrap_js %>"></script>
	<script src="<%= base_url + '/assets/google-code-prettify/src/prettify.js' %>"></script>
	<%= javascript_include_tag "manual" %>
</body>
</html>
