---
layout: false
---
<!DOCTYPE html>
<html lang="pt-br" class="color-green">
	<head>
		<title>Cartilha de elementos do Locaweb Style</title>

		<meta charset="utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="<%= base_url + bootstrap_css %>">
		<%= stylesheet_link_tag "locastyle" %>
		<%= javascript_include_tag "libs" %>
	</head>
	<body>


		<main id="main">
			<div class="container">
				<h1 class="title-1 txt-center">Elementos</h1>

				<h2 class="title-4">Barra de progresso</h2>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>

				<div class="progress progress-striped active">
					<div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
						<span class="sr-only">45% Complete</span>
					</div>
				</div>

				<h2 class="title-4">Boxes Genéricos</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="well well-lg arrow-up">
							Texto de exemplo
						</div>
						<div class="well well-lg no-bg">
							Texto de exemplo
						</div>
					</div>
					<div class="col-md-6">
						<div class="well well-sm">
							Texto de exemplo
						</div>
						<div class="well well-sm no-bg">
							Texto de exemplo
						</div>
					</div>
				</div>




			</div>
		</main>

		<%= javascript_include_tag "locastyle" %>
		<script src="<%= base_url + bootstrap_js %>"></script>
	</body>
</html>
