---
title: Exemplos de uso do Locaweb Style
layout: no-sidebar
---
<header>
	<h1>Exemplos</h1>
	<h3>Exemplos de telas usando Locaweb Style</h3>
</header>

<div class="row bs-examples">
	<div class="col-xs-6 col-md-4">
		<% link_to "#{base_url}/manual/exemplos/home", :target => '_blank', :class => 'thumbnail' do %>
		<%= image_tag 'manual/example-thumb1.jpg', :alt => 'Exemplo de duas colunas' %>
		<% end %>
		<h4>Duas colunas</h4>
		<p>Exemplo duas colunas, com sidebar e conteúdo principal</p>
	</div>

	<div class="col-xs-6 col-md-4">
		<% link_to "#{base_url}/manual/exemplos/uma-coluna", :target => '_blank', :class => 'thumbnail' do %>
		<%= image_tag 'manual/example-thumb2.jpg', :alt => 'Exemplo de uma coluna' %>
		<% end %>
		<h4>Uma coluna</h4>
		<p>Exemplo com apenas uma coluna, sem sidebar.</p>
	</div>

	<div class="clearfix visible-xs"></div>

	<div class="col-xs-6 col-md-4">
		<% link_to "#{base_url}/manual/exemplos/estrutura-inicial", :target => '_blank', :class => 'thumbnail' do %>
		<%= image_tag 'manual/example-thumb3.jpg', :alt => 'Exemplo da estrutura inicial' %>
		<% end %>
		<h4>Estrutura inicial</h4>
		<p>Estrutura inicial para iniciar uma view da maneira correta.</p>
	</div>
</div>

<div class="row bs-examples">
	<div class="col-xs-6 col-md-4">
		<% link_to "#{base_url}/manual/exemplos/erro-404", :target => '_blank', :class => 'thumbnail' do %>
		<%= image_tag 'manual/example-thumb404.jpg', :alt => 'Exemplo de erro 404' %>
		<% end %>
		<h4>Erro 404</h4>
		<p>Exemplo com página de Erro 404</p>
	</div>

	<div class="col-xs-6 col-md-4">
		<% link_to "#{base_url}/manual/exemplos/erro-500", :target => '_blank', :class => 'thumbnail' do %>
		<%= image_tag 'manual/example-thumb500.jpg', :alt => 'Exemplo de erro 500' %>
		<% end %>
		<h4>Erro 500</h4>
		<p>Exemplo com página de Erro 500</p>
	</div>

	<div class="col-xs-6 col-md-4">
		<% link_to "#{base_url}/manual/exemplos/login", :target => '_blank', :class => 'thumbnail' do %>
		<%= image_tag 'manual/example-login.jpg', :alt => 'Exemplo de Tela de Login' %>
		<% end %>
		<h4>Tela de Login</h4>
		<p>Exemplo da pagina de login</p>
	</div>

	<div class="col-xs-6 col-md-4">
		<% link_to "#{base_url}/manual/exemplos/confirmacao", :target => '_blank', :class => 'thumbnail' do %>
		<%= image_tag 'manual/example-confirmation.jpg', :alt => 'Exemplo de Tela de Login' %>
		<% end %>
		<h4>Tela de Confirmação</h4>
		<p>Exemplo da pagina de confirmação</p>
	</div>

	<div class="clearfix visible-xs"></div>
</div>
