<% if current_page.data.pre_panel %>
  <h1 class="ls-brand-name ls-ico-earth"><%= link_to current_page.data.title_product, '../home' %></h1>
<% else %>
  <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
    <a href="#" class="ls-ico-user">
      João
      <small>(fmolina)</small>
    </a>
    <nav class="ls-dropdown-nav ls-user-menu">
      <ul>
        <li><a href="#">Sair</a></li>
       </ul>
    </nav>
  </div>
  <!-- Dropdown com detalhes da conta de usuário -->
  <div class="ls-area-account ls-ico-user">
    <h2 class="ls-title-2">Administrando</h2>
    <h3 class="ls-title-3">João da Silva</h3>
    <a href="<%= base_url %>/documentacao/exemplos/painel3/pre-painel" class="ls-btn-xs ls-btn-dark">VER TODOS</a>
  </div>
  <nav class="ls-menu">
    <ul>
    <li><a href="<%= base_url %>/documentacao/exemplos/painel3/nameservers" class="ls-ico-globe">Servidores de DNS</a></li>
      <!-- <li><a href="<%= base_url %>/documentacao/exemplos/painel3/base" class="ls-ico-home">Primeiros passos</a></li> -->
      <li><a href="<%= base_url %>/documentacao/exemplos/painel3/clients" class="ls-ico-users">Contatos</a></li>
      <li><a href="<%= base_url %>/documentacao/exemplos/painel3/stats" class="ls-ico-cog">Transferência de domínio</a></li>
    </ul>
  </nav>
<% end %>
