---
title: Results
layout: panel
show_topbar_title: true
pre_panel: true
panel: painel3
theme_name: ls-theme-orange
title_product: Registro de Domínio
html_class: ls-main-full
no_show_sidebar: true
topbar_gray: true
---

<h1 class="ls-title-intro">Registros</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<a href="#" class="ls-btn-primary ls-btn-lg">Registrar ou Transferir</a>

<div class="ls-box-filter">
  <form action="results/" class="ls-form ls-float-right">
    <label class="ls-label ls-no-margin" role="search">
    <!-- <label class="ls-label ls-no-margin ls-display-inline-block-sm col-xs-8" role="search"> -->
      <b class="ls-label-text ls-hidden-accessible">Buscar por domínio</b>
      <input type="text" id="q" name="q" aria-label="Faça sua busca por domínio" accesskey="s" placeholder="Buscar por domínio" required="">
    </label>
    <input type="submit" value="Buscar" class="ls-btn" title="Buscar">
  </form>
  
  <form action="" class="ls-form ls-form-inline row">
    <label class="ls-label col-xs-12 col-md-3">
      <b class="ls-label-text">Status</b>
      <div class="ls-custom-select">
        <select class="ls-custom" name="">
          <option selected="selected" value="/resale/clients">Todos</option>
          <option value="#">Ativos</option>
          <option value="#">Desativados</option>
          <option value="#">Bloqueados por bounce</option>
        </select>
      </div>
    </label>
  </form>
</div>

<p>A busca por <strong>"adidas"</strong> retornou <strong>2 resultados</strong>. - <a href="" title="">Listar todos os domínios</a></p>

<%- 2.times do |num| %>
  <div class="ls-list">
    <header class="ls-list-header">
      <div class="ls-list-title col-sm-9">
        <a href="<%= base_url %>/documentacao/exemplos/painel3/nameservers">locatransfertest014<%= num %>.com</a>
        <small>Registro de Domínio Internacional</small>
      </div>
      <div class="col-sm-3 ls-txt-right">
        <div data-ls-module="dropdown" class="ls-dropdown">
          <a href="#" class="ls-btn-primary">Administrar</a>
          <ul class="ls-dropdown-nav">
              <li><a href="<%= base_url %>/documentacao/exemplos/painel3/nameservers">Servidores DNS</a></li>
              <li><a href="#">Zona de DNS</a></li>
              <li><a href="<%= base_url %>/documentacao/exemplos/painel3/contacts">Contatos</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="ls-list-content ">
      <div class="col-xs-12 col-md-4">
        <span class="ls-list-label">Período de renovação</span>
        <strong>1 ano</strong>
      </div>
      <div class="col-xs-12 col-md-4">
        <span class="ls-list-label">Data de expiração</span>
        <strong>01/09/2015</strong>
      </div>
      <div class="col-xs-12 col-md-4">
        <span class="ls-list-label">Status</span>
        <strong>Ativo</strong>
      </div>
    </div>
  </div>
<% end %>

<div class="ls-pagination-filter">
  <ul class="ls-pagination">
    <li><a href="#">&laquo; Anterior</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Próximo &raquo;</a></li>
  </ul>

  <div class="ls-filter-view">
      Exibir
      <div class="ls-custom-select">
        <select name="" id="" class="ls-select">
          <option value="10">10</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      ítens por página
  </div>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel3/sidebar' %>
<% end %>
