---
layout: false
title_product: Fake Product Name
---
<!DOCTYPE html>
<html lang="pt-br" class="ls-theme-green ls-html-nobg ls-main-full">

<head>
  <title><%= current_page.data.title_product %></title>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="<%= current_page.data.description %>" />
  <meta name="keywords" content="<%= current_page.data.keywords %>" />
  <link rel="icon" sizes="192x192" href="<%= base_url %>/assets/images/ico-boilerplate.png">
  <link rel="apple-touch-icon" href="<%= base_url %>/assets/images/ico-boilerplate.png">
  <%= stylesheet_link_tag "locastyle" %>
</head>
<body>
  <div class="ls-topbar">

  <!-- Barra de Notificações -->
  <div class="ls-notification-topbar">

    <!-- Dropdown com detalhes da conta de usuário -->
    <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
      <a href="#" class="ls-ico-user">
        João
      <small>(fmolina)</small>
      </a>
      <nav class="ls-dropdown-nav ls-user-menu">
        <ul>
          <li><a href="#">Meus dados</a></li>
          <li><a href="#">Faturas</a></li>
          <li><a href="#">Planos</a></li>
          <li><a href="#">Sair</a></li>
         </ul>
      </nav>
    </div>
  </div>

  <!-- Nome do produto/marca -->
  <%- unless current_page.data.show_topbar_title %>
    <h1 class="ls-brand-name"><%= link_to current_page.data.title_product, '../home', :class => 'ls-ico-earth' %></h1>
  <% end %>
</div>

  <main class="ls-main">
    <div class="container-fluid">
      <div class="ls-box ls-no-bg ls-box-error">
        <h1 class="ls-title-intro ls-ico-close">Erro interno do sistema</h1>
        <p class="ls-message-error">Ocorreu uma instabilidade do sistema que impediu a exibição do conteúdo. Nossa equipe técnica foi notificada e está trabalhando para resolver o problema.</p>

        <p><strong>Você pode:</strong></p>
        <ol>
          <li>Verificar se digitou corretamente o endereço desejado.</li>
          <li>Retornar à <a href="#" class="ls-color-theme">página inicial.</a></li>
        </ol>
        <p>Se o problema persistir, entre em contato através de um dos <a href="#">canais de atendimento</a>.</p>
      </div>

    </div>
    <%= partial 'documentacao/shared/footer' %>
  </main>

  <aside class="ls-notification">
    <nav class="ls-notification-list" id="ls-notification-curtain">
      <h3 class="ls-title-2">Notificações</h3>
      <ul>
        <%- 5.times do %>
          <li class="ls-dismissable">
            <a href="#"><%= lorem.sentence %></a>
            <a href="#" data-ls-module="dismiss" class="ls-ico-close ls-close-notification"></a>
          </li>
        <% end %>
      </ul>
      <p class="ls-no-notification-message">Não há notificações.</p>
    </nav>
    <nav class="ls-notification-list" id="ls-help-curtain">
      <h3 class="ls-title-2">Feedback</h3>
      <ul>
        <%- 2.times do %>
          <li><a href="#">> <%= lorem.words 6 %></a></li>
        <% end %>
      </ul>
    </nav>
    <nav class="ls-notification-list" id="ls-feedback-curtain">
      <h3 class="ls-title-2">Ajuda</h3>
      <ul>
        <li class="ls-txt-center hidden-xs">
          <a href="#" class="ls-btn-dark ls-btn-tour">Fazer um Tour</a>
        </li>
        <li><a href="#">> Guia</a></li>
        <li><a href="#">> Wiki</a></li>
      </ul>
    </nav>
  </aside>

  <%= javascript_include_tag  "libs/jquery-2.1.0.min" %>
  <%= javascript_include_tag  "locastyle" %>
  <%= javascript_include_tag  "example" %>
</body>
</html>
