---
title: Exemplos e modelos
description: Estas telas são modelos de protótipos com códigos funcionais de telas usando o Locaweb Style.
---

<section class="col-md-12">
  <div class="row doc-examples">
    <div class="col-xs-6 col-md-4">
      <a href="<%= base_url %>/documentacao/exemplos/boilerplate" target="_blank">
        <span class="doc-thumbnail"><img src="<%= base_url %>/assets/images/docs/thumb-boilerplate.jpg" alt="Imagem de Exemplo utilizando Locaweb Style"></span>
        <h2 class="doc-title-5">Boilerplate</h2>
        <p>Comece seu projeto por aqui. <br>O boilerplate é um exemplo básico da nossa estutura.</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a href="<%= base_url %>/documentacao/exemplos/painel1/pre-painel" target="_blank">
        <span class="doc-thumbnail"><img src="<%= base_url %>/assets/images/docs/thumb-revenda-emailmkt.png" alt="Imagem de Exemplo utilizando Locaweb Style"></span>
        <h2 class="doc-title-5">Painel modelo 1</h2>
        <p>Exemplo de painel navegável. Esse é nosso painel modelo, onde testamos e mantemos códigos funcionais de exemplo.</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="<%= base_url %>/documentacao/exemplos/painel2/home" target="_blank">
        <span class="doc-thumbnail"><img src="<%= base_url %>/assets/images/docs/thumb-smtp.png" alt="Imagem de Exemplo utilizando Locaweb Style"></span>
        <h2 class="doc-title-5">Painel modelo 2</h2>
        <p>Exemplo de painel navegável. Esse é nosso painel modelo, onde testamos e mantemos códigos funcionais de exemplo.</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="<%= base_url %>/documentacao/exemplos/login-screen" target="_blank">
        <span class="doc-thumbnail"><img src="<%= base_url %>/assets/images/docs/thumb-login-screen.png" alt="Imagem de Exemplo utilizando Locaweb Style"></span>
        <h2 class="doc-title-5">Tela de Login</h2>
        <p>Exemplo de tela de login do Locastyle.</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="<%= base_url %>/documentacao/exemplos/erro-404" target="_blank">
        <span class="doc-thumbnail"><img src="<%= base_url %>/assets/images/docs/thumb-erro404.jpg" alt="Imagem de Exemplo utilizando Locaweb Style"></span>
        <h2 class="doc-title-5">Página de erro 404</h2>
        <p>Exemplo de tela de página não encontrada.</p>
      </a>
    </div>
  </div>
</section>
