---
title: Como usar o Locaweb Style
menu_page: sidebar-informacoes-iniciais.erb
---
<header>
	<!-- <h2 class="ico-edit">Aprenda o básico</h2> -->
	<h1>Download do Locaweb Style</h1>
	<h3>Use direto pelo CDN ou baixe uma versão estável para usar em projetos offline.</h3>
</header>

<h2>Download do CSS e JS compilados</h2>
<p>O caminho mais rápido para você utilizar o Locaweb Style é baixando o CSS e o JS compilados e minificados prontos para utilizar. Deste modo você apenas baixa apenas o CSS e JS para usar em seu projeto, sem documentação, arquivos originais e etc...</p>
<p><a href="<%= settings.only_assets %>" class="btn btn-primary btn-large btn-download">Baixar Locaweb Style</a></p>

<hr>
<h2>Mais opções de download</h2>
<p>Você também pode baixar os arquivos por estes meios:</p>
<ul>
	<li>
		<h4><a href="<%= settings.download_github %>">Pelo GitHub</a></h4>
		<p>Baixe direto pelo nosso GitHub</p>
	</li>
	<li>
		<h4><a href="https://github.com/locaweb/locawebstyle">Clone ou Fork pelo Github</a></h4>
		<p>Clone o projeto pelo GitHub ou Fork sua própria versão</p>
	</li>
</ul>

<hr>

<h2>Use nosso servidor</h2>
<p>Adicione as tags abaixo para adicionar o pacote de CSS e Javascript.</p>

<p>No Header, coloque o CSS.</p>
<pre class="lang-html prettyprint-code linenums">
<!-- Se estiver usando bootstrap, coloque o CSS do Locastyle logo após a sua chamada -->
<link rel="stylesheet" type="text/css" href="<%= bootstrap_cdn_css %>">
<link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/<%= stable %>/stylesheets/locastyle.css">
</pre>

<p>Coloque no final do documento o JS.</p>
<pre class="lang-html prettyprint-code linenums">
<!-- Atente-se para a ordem: primeiro jquery, depois locastyle, depois o JS do Bootstrap. -->
<script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="//assets.locaweb.com.br/locastyle/<%= stable %>/javascripts/locastyle.js"></script>
<script type="text/javascript" src="<%= bootstrap_cdn_js %>"></script>
</pre>

<p>Se você quiser utilizar sempre a versão mais atual, use os caminhos dos assets sem a versão travada:</p>
<pre class="lang-html prettyprint-code linenums">
<link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/edge/stylesheets/locastyle.css">
<script type="text/javascript" src="//assets.locaweb.com.br/locastyle/edge/javascripts/locastyle.js"></script>
</pre>

<hr>

<h3>Versionamento</h3>
<p>O versionamento do Locaweb Style é simples: O nome dos arquivos tem essa estrutura: locastyle-[número do pacote stable].css. O resultado é este: locastyle-[major].[minor].[patch].css. O resultado fica locastyle-0.30.0.css.</p>

<p>De acordo com as mudanças e atualizações, nós vamos mudando a versão do arquivo. O número do minor sempre será um número par. Internamente trabalhamos com a versão de desenvolvimento utilizando o número ímpar. Logo, se a versão stable mais atual é 1.30.0, estamos trabalhando aqui na versão 1.31.0, 1.31.1 e etc. Quando terminarmos, vai para o ar a versão stable 1.32.0.</p>

<hr>
<h1>Boilerplate do Template básico</h1>
<p>Utilize este código para iniciar seu projeto. Aqui você tem a estrutura básica para fazer o Locaweb Style funcionar perfeitamente:</p>

<%= partial "partials/boilerplate"%>