---
title: Endereço do site
layout: panel
theme_name: ls-theme-cyanogen
panel: painel4
title_product: Criador de Sites 2.0
---
<h1 class="ls-title-intro ls-ico-link">Endereço do site</h1>


<div class="ls-alert-info">
  Você adicionou o domínio <b>dominioqualquer.com.br</b>, os servidores estão atualizando a informação e em até 24h ele será o endereço principal do seu site.
</div>

<div class="ls-alert-warning">
  Você iniciou um processo de registro. Em até 1h após finalizar a contratação, seu endereço principal será dominioqualquer.com.br
</div>
<div class="ls-alert-danger">
  Ops! O domínio <b>dominioqualquer.com.br</b> não foi definido. Por favor certifique-se de ter finalizado a contratação.<br>
Apague o endereço não identificado e depois tente alterar novamente.
</div>
<div class="ls-alert-success ls-dismissable">
  <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
  Tudo ok! Seu endereço principal foi definido com sucesso, você já pode compartilhar ele por aí :)
</div>

<div class="ls-alert-success ls-dismissable">
  <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
  Endereço apagado com sucesso! Seu site não irá mais responder neste endereço.
</div>

<div class="ls-alert-success ls-dismissable">
  <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
  Novo endereço principal definido com sucesso!
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/domains-config">murilo.lwsite.com.br</a> <span class="ls-ico-help" data-ls-module="popover" data-trigger="hover"  data-content="Este é seu endereço<br>Ele será substituído após você adicionar o seu domínio" data-placement="top" data-target="#ls-popover-0"></span>
      <small>Endereço temporário</small>
    </div>
    <div class="col-md-3 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/domains-config" class="ls-btn-primary">Alterar</a>
    </div>
  </header>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/domains-config">dominioqualquer.com.br</a> <span class="ls-tag-warning">Confirmando registro</span>
    </div>
  </header>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/domains-config">dominioqualquer.com.br</a> <span class="ls-tag-info">Em andamento</span>
    </div>
  </header>
</div>


<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/domains-config">dominioqualquer.com.br</a> <span class="ls-tag-danger">Registro não identificado</span>
    </div>
    <div class="col-md-3 ls-txt-right">
    <button data-ls-module="modal" data-action="<%= base_url %>/documentacao/exemplos/painel4/domains-list" data-content="<p>Seu site ficará respondendo apenas para o endereço temporário: usuario.lwsite.com.br
      Será necessário adicionar um novo endereço principal.</p><br><br><p><b>Tem certeza que deseja apagar?</b></p>" data-title="Apagar endereço: dominioqualquer.com.br" data-class="ls-btn-danger" data-save="Apagar" data-close="Cancelar" class="ls-btn-danger ls-float-right">Apagar endereço</button>
    </div>
  </header>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/domains-config">dominioqualquer.com.br</a>
      <small>Endereço principal</small>
    </div>
    <div class="col-md-3 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/domains-config" class="ls-btn-primary">Alterar</a>
      <div data-ls-module="dropdown" class="ls-dropdown ls-pos-right">
        <button  class="ls-btn"></button>
        <ul class="ls-dropdown-nav">
          <li><a href="#" data-ls-module="modal" data-action="<%= base_url %>/documentacao/exemplos/painel4/domains-list" data-content="<p>Seu site ficará respondendo apenas para o endereço temporário: usuario.lwsite.com.br
      Será necessário adicionar um novo endereço principal.</p><br><br><p><b>Tem certeza que deseja apagar?</b></p>" data-title="Apagar endereço: dominioqualquer.com.br" data-class="ls-btn-danger" data-save="Apagar" data-close="Cancelar" class="ls-color-danger">Apagar endereço</a></li>
        </ul>
      </div>
    </div>
  </header>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/domains-config">dominioqualquer.com.br</a>
      <small>Endereço alternativo</small>
    </div>
    <div class="col-md-3 ls-txt-right">
      <button data-ls-module="modal" data-action="<%= base_url %>/documentacao/exemplos/painel4/domains-list" data-content="<p>Seu site ficará respondendo apenas para o endereço temporário: usuario.lwsite.com.br
      Será necessário adicionar um novo endereço principal.</p><br><br><p><b>Tem certeza que deseja apagar?</b></p>" data-title="Apagar endereço: dominioqualquer.com.br" data-class="ls-btn-danger" data-save="Apagar" data-close="Cancelar" class="ls-btn-danger">Apagar endereço</button>

      <div data-ls-module="dropdown" class="ls-dropdown ls-pos-right">
        <button  class="ls-btn"></button>
        <ul class="ls-dropdown-nav">
          <li><a href="#">Definir como principal</a></li>
        </ul>
      </div>
    </div>
  </header>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel4/sidebar' %>
<% end %>
