---
title: Pré Painel - Criador de Sites 2.0
layout: panel
show_topbar_title: true
pre_panel: true
theme_name: ls-theme-cyanogen
panel: painel4
title_product: Criador de Sites 2.0
topbar_gray: true
---

<h1 class="ls-title-intro ls-ico-list2 ls-no-bg">Meus sites</h1>

<div class="ls-alert-warning">
  Você tem 2 plugins Multi-idioma para serem usados no plano Criador de Sites 2.0 Multi. Escolha o site em que deseja ativá-lo.
</div>

<p>Selecione o que deseja administrar</p>
<div class="ls-list">
  <header class="ls-list-header">
    <div class="col-sm-10">
      <div class="ls-list-title">
        <a href="#">site1.com.br</a>
      </div>
      <div class="ls-list-description">
        <p>Crie versões deste site em outros idiomas. <a href="#">Contrate o plugin Multi-idiomas</a> agora mesmo.</p>
      </div>
    </div>
    <div class="col-sm-2 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/home-first-access" class="ls-btn-primary">Administrar</a>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Status</span>
      <strong>Publicado</strong>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Plano:</span>
      <strong>Criador de Sites 2.0 Start</strong>
    </div>
  </div>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="col-sm-10">
      <div class="ls-list-title">
        <a href="#">site2.com.br</a>
         <span class="ls-tag-primary">Multi-idioma</span>
      </div>
      <div class="ls-list-description">
        <ul>
          <li>saasdev32.lvh.me/en_US | Não publicado</li>
          <li>saasdev32.lvh.me/es_ES | Não publicado</li>
          <li>saasdev32.lvh.me/pt_BR | Não publicado</li>
        </ul>
        <p><a href="#" title="">Crie mais uma versão</a></p>
      </div>
    </div>
    <div class="col-sm-2 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/home" class="ls-btn-primary">Administrar</a>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Status</span>
      <strong>Não Publicado</strong>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Plano:</span>
      <strong>Criador de Sites 2.0 Start</strong>
    </div>
  </div>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="col-sm-10">
      <div class="ls-list-title">
        <a href="#">site3.com.br</a>
      </div>
      <div class="ls-list-description">
        <p><a href="#" title="">Ativar Multi-idioma neste site</a></p>
      </div>
    </div>
    <div class="col-sm-2 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/home" class="ls-btn-primary">Administrar</a>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Status</span>
      <strong>Não Publicado</strong>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Plano:</span>
      <strong>Criador de Sites 2.0 Start</strong>
    </div>
  </div>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="col-sm-10">
      <div class="ls-list-title">
        <a href="#">site4.com.br</a>
      </div>
      <div class="ls-list-description">
        <p>Ainda não há versões deste site em outros idiomas. <a href="#" title="">Crie agora mesmo.</a></p>
      </div>
    </div>
    <div class="col-sm-2 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/home" class="ls-btn-primary">Administrar</a>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Status</span>
      <strong>Não Publicado</strong>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Plano:</span>
      <strong>Criador de Sites 2.0 Start</strong>
    </div>
  </div>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="col-sm-10">
      <div class="ls-list-title">
        <a href="#">site5.com.br</a>
      </div>
      <div class="ls-list-description">
        <p>Crie versões deste site em outros idiomas. Para contratar, entre em contato com um dos nossos <a href="#" title="">canais de atendimento.</a></p>
      </div>
    </div>
    <div class="col-sm-2 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/painel4/home" class="ls-btn-primary">Administrar</a>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Status</span>
      <strong>Não Publicado</strong>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Plano:</span>
      <strong>Criador de Sites 2.0 Start</strong>
    </div>
  </div>
</div>


<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel4/sidebar' %>
<% end %>
