---
title: Alertas
description: Os Alertas são usados para enviar um feedback contextual de sucesso, erro, warning ou apenas uma notificação de novas features no sistema.
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/alerts/alerts' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/alerts/alerts' %><% end %>

  <h2 class="doc-title-3">Fechando alertas</h2>

  <p>Basicamente, se você tiver boxes de notificações, alertas ou qualquer outro tipo de elemento e gostaria de dar a opção do usuário remover da tela, você vai usar essa função.</p>

  <div class="ls-box ls-box-gray">
    <h2 class="doc-title-4">Atenção</h2>
    <p>Nós não tratamos cookies ou qualquer solução back-end que previna o reaparecimento do elemento removido se o usuário der refresh na página. Você vai precisar fazer sua própria solução caso queira que o elemento não reapareça quando a página for atualizada.</p>
  </div>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Seletor</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>.ls-dismissable</td>
        <td>É o elemento que será dispensado.</td>
      </tr>
      <tr>
        <td>data-ls-module="dismiss"</td>
        <td>É o nosso trigger. É ele que ativa o script. Precisa estar no elemento que irá ser clicado para remover o <code>.ls-dismissable</code>, por exemplo um link, botão etc...</td>
      </tr>
      <tr>
        <td>data-target="#target-id"</td>
        <td>Necessário quando o elemento que será o trigger não for filho direto de <code>.ls-dismissable</code>, que é o elemento que será removido. Ele aceita IDs ou CLASSES.</td>
      </tr>
    </tbody>
  </table>

  <div class="ls-box ls-box-gray">
    <h2 class="doc-title-4">Acessibilidade</h2>
    <p>Via javascript é adicionada a ARIA <code>role="alert"</code></p>
  </div>

  <p>Veja primeiro o exemplo abaixo: ao clicar no <strong>X</strong> do lado direito, o alerta é fechado.</p>
  <div class="ls-box-demo">
    <div class="ls-alert-warning ls-dismissable">
      <span class="ls-dismiss" data-ls-module="dismiss">&times;</span>
      <strong>Olá!</strong> Este é um alerta que pode ser dispensado.
    </div>
  </div>
  <% code("html") do %>
<div class="ls-alert-warning ls-dismissable">
  <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
  <strong>Olá!</strong> Este é um alerta que pode ser dispensado.
</div>
  <% end %>

  <p>A classe <code>ls-dismissable</code> avisa nosso script que ele será removido pelo elemento com a classe <code>ls-dismiss</code> e com o atributo <code>data-ls-module="dismiss"</code>. Perceba que nesse formato o elemento <code>.ls-dismiss</code> é filho direto do elemento que será removido.</p>

  <h2 class="doc-title-3">Tamanhos dos alertas</h2>
  <p>O Locaweb Style tem algumas classes funcionais para nos ajudar a aumentar o espaçamento dos elementos. Basta usar uma das classes abaixo para aumentar o tamanho dos alertas:</p>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th><th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>.ls-xs-space</td><td>Coloca um padding de 5px na caixa</td></tr>
      <tr><td>.ls-sm-space</td><td>Coloca um padding de 10px na caixa</td></tr>
      <tr><td>.ls-md-space</td><td>Coloca um padding de 20px na caixa</td></tr>
      <tr><td>.ls-lg-space</td><td>Coloca um padding de 40px na caixa</td></tr>
    </tbody>
  </table>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/alerts/width-alerts' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/alerts/width-alerts' %><% end %>

  <h2 class="doc-title-3">Fixando alertas</h2>
  <p>Para fixar alertas, tanto em cima quanto em baixo, basta utilizar as classes <code>.ls-alert-fixed-top</code> (em cima) ou <code>.ls-alert-fixed-bottom</code> (em baixo).</p>

  <% code("html") do %><%= partial 'documentacao/shared/alerts/fixed-alerts' %><% end %>

</section>
