---
title: Botão Switch
description: É um elemento que simula um liga/desliga, que verifica se o checkbox está checado, alternando visualmente o seu estado.
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

	<%= partial 'partials/doc-intro-content' %>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/switch' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/switch' %><% end %>
  <p>Você pode definir que será escrito na label utilizando os atributos <code>ls-switch-on</code> quando estiver checado e <code>ls-switch-off</code> quando não estiver checado.</p>

  <h2 class="doc-title-3">Botão switch com link</h2>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/switch-with-link' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/switch-with-link' %><% end %>

</section>
