---
title: Box genérico
description: Um box genérico usado para dividir ou agrupar conteúdos
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

<%= partial 'partials/doc-intro-content' %>

    <p>Geralmente precisamos agrupar ou dividir algumas informações em caixas no layout. Essas caixas são simples e bem genéricas que podem conter qualquer outro elemento. </p>

    <table class="ls-table">
      <thead>
        <tr>
          <th>Classes</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Classes de tamanho: ls-xs-space, ls-sm-space, ls-md-space e ls-lg-space</td>
          <td>Aumenta ou diminui o espaço do box.</td>
        </tr>
        <tr>
          <td>.ls-ico-bg</td>
          <td>Faz com que o ícone do :before de ls-box seja posicionado à direita, com uma opacidade baixa. Como se fosse um background.</td>
        </tr>
        <tr>
          <td>.ls-box-gray</td>
          <td>O box tem background cinza.</td>
        </tr>
        <tr>
          <td>.ls-box-filter</td>
          <td>Faz um box preparado para receber elementos de filtro. Ela herda as classes <strong>.ls-box-gray</strong>, <strong>.ls-sm-space</strong> e <strong>.ls-box</strong></td>
        </tr>
        <tr>
          <td>.ls-box-group</td>
          <td>
            Agrupa os boxes genéricos
          </td>
        </tr>
      </tbody>
    </table>

  <h2 class="ls-title-2">Box genérico</h2>
  <p>Para criar um box genérico, basta adicionar a classe <code>.ls-box</code> em algum elemento, de preferência em um elemento DIV.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/box/box' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/box/box' %>
  </code>

  <h2 class="ls-title-2">Box com a classe .ls-box-gray</h2>
  <p>Por padrão o background do elemento <code>.ls-box</code> é branco, mas você mudar para cinza se usar a classe <code>.ls-box-gray</code>.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/box/box-gray' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/box/box-gray' %>
  </code>

  <h2 class="ls-title-2">Box com Grids</h2>
  <p>É possível usar grids dentro do <code>.ls-box</code>: basta inserir um <code>.row</code> dentro dele e usar os elementos como colunas normalmente.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/box/_box-grid' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/box/_box-grid' %>
  </code>

  <h2 class="ls-title-2">Box com ícones à esquerda</h2>
  <p>Esse não tem segredo: se quiser colocar ícones à esquerda, basta fazer um grid com duas colunas: na primeira coluna vai o elemento com o ícone. Na segunda coluna vai seu conteúdo. Veja abaixo: </p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/box/_box-group' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/box/_box-group' %>
  </code>

  <h2 class="ls-title-2">Box com ícone de background</h2>
  <p>Se o elemento <code>.ls-box</code> já tiver alguma classe de ícones, basta inserir a classe <code>.ls-ico-bg</code>. Isso fará com que o ícone fique alinhado à direita, com uma opacidade baixa.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/box/_box-bg-icon' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/box/_box-bg-icon' %>
  </code>

  <h2 class="ls-title-2">Vários espaçamentos</h2>
  <p>Como outros elementos, você pode usar as classes <code>.ls-xs-space</code>, <code>.ls-sm-space</code>, <code>.ls-md-space</code> e <code>.ls-lg-space</code> para aumentar ou diminuir o tamanho do <code>.ls-box</code>.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/box/box-big-small' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/box/box-big-small' %>
  </code>

  <h2 class="ls-title-2">Box de filtro</h2>
  <p>A caixa de filtro não usa a classe <code>.ls-box</code> mas uma classe chamada <code>.ls-box-filter</code>. Isso já deixa o elemento preparado para receber a estrutura e os elementos abaixo.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/box/box-filter' %>
  </div>
  <code class="language-html ls-well-example">
    <%= partial 'documentacao/shared/box/box-filter' %>
  </code>
  </div>
</section>
