---
title: Breadcrumb
description: Indica a localização da página atual dentro de uma hierarquia de navegação.
keywords: documentação, locastyle, breadcrumb
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/breadcrumb/breadcrumb-more' %>
  </div>

  <% code("html") do %><%= partial 'documentacao/shared/breadcrumb/breadcrumb-more' %><% end %>

  <p>Quando estiver no primeiro nível, o nível deve aparecer sem link, assim:</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/breadcrumb/breadcrumb' %>
  </div>

  <% code("html") do %><%= partial 'documentacao/shared/breadcrumb/breadcrumb' %><% end %>

</section>
