---
title: Collapse & Accordeon
description: Um painel com título visível e conteúdo oculto
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">



  <%= partial 'partials/doc-intro-content' %>


  <div class="ls-box-demo">
    <%= partial('documentacao/shared/collapse/collapse', :locals => { :quant => 2, :header => "Título", content: (lorem.paragraphs 1)  }) %>
  </div>

  <% code("html") do %><%= partial('documentacao/shared/collapse/collapse', :locals => { :quant => 1, :header => "Título", content: (lorem.words 1)}) %><% end %>

  <p>Os títulos, vísiveis quando o <i>collapse</i> está fechado, podem conter qualquer conteúdo, por exemplo:</p>

  <div class="ls-box-demo">
    <%= partial('documentacao/shared/collapse/collapse', :locals => { :quant => 1, :header => { title: 'Titulo', desc: "Descrição para este collapse" }, content: (lorem.paragraphs 1)  }) %>
  </div>
  <% code("html") do %><%= partial('documentacao/shared/collapse/collapse', :locals => { :quant => 1, :header => { title: 'Titulo', desc: "Descrição para este collapse" }, content: (lorem.words 3)  }) %><% end %>

  <div class="ls-box ls-background-info">
    <h5 class="ls-title-4">Atenção</h5>
    <p>Nos exemplos usamos o elemento <code>a</code> com a classe <code>.ls-collapse-header</code>, mas qualquer elemento, como um DIV por exemplo, pode receber essa classe.</p>
  </div>

  <h2 class="doc-title-3">Parâmetros adicionais</h2>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ls-collapse-open-always</td>
        <td>classe</td>
        <td>mantém um <i>collapse</i> sempre aberto</td>
      </tr>
      <tr>
        <td>ls-collapse-open</td>
        <td>classe</td>
        <td>inicia um <i>collapse</i> aberto</td>
      </tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Exemplos:</h2>

  <div class="ls-box-demo">
      <%= partial('documentacao/shared/collapse/collapse', :locals => { :quant => 1, :header => 'Collapse inicia aberto com a classe .ls-collapse-open', content: (lorem.paragraphs 2), startOpen: false  }) %>
  </div>
  <% code("html") do %><%= partial('documentacao/shared/collapse/collapse', :locals => { :quant => 1, :header => 'Collapse inicia aberto com a classe .ls-collapse-open', content: (lorem.words 2), startOpen: false  }) %><% end %>

  <div class="ls-box-demo">
    <%= partial('documentacao/shared/collapse/collapse', :locals => { :quant => 1, :header => 'Collapse inicia aberto e não fecha com a classe .ls-collapse-open-always', content: (lorem.paragraphs 2), startOpen: false, alwaysOpen: true  }) %>
  </div>
  <% code("html") do %><%= partial('documentacao/shared/collapse/collapse', :locals => { :quant => 1, :header => 'Collapse inicia aberto e não fecha com a classe .ls-collapse-open-always', content: (lorem.words 2), startOpen: false, alwaysOpen: true  }) %><% end %>

  <h2 class="doc-title-3">Accordeon</h2>
  <p><i>Accordeon</i> é um conjunto de <i>collapses</i> agrupados, onde apenas um deles permanece aberto.</p>
  <p>Um <i>accordeon</i> é um conjunto de <i>collapses</i>, como mostrados acima, com um elemento que os agrupa, com a classe <code>.ls-collapse-group</code>.</p>

  <div class="ls-box-demo">
    <div class="ls-collapse-group">
      <%= partial('documentacao/shared/collapse/collapse', :locals => { :quant => 5, :header => "Título", content: (lorem.paragraphs 1)  }) %>
    </div>
  </div>
  <% code("html") do %><%= partial('documentacao/shared/collapse/collapse', :locals => { :quant => 5, :header => "Título", content: (lorem.paragraphs 1)  }) %><% end %>

  <p>Os <i>collapses</i> agrupados em um <i>accordeon</i> aceitam as mesmas configurações que um <i>collapse</i> normal.</p>

  <h2 class="doc-title-3">Abrir com ação externa</h2>
  <p>Para usar um botão ou <i>link</i> para controlar um <i>collapse</i> utilize o atributo <code>data-toggle-collapse</code> com o valor do <b>id</b> do collapse.</p>

  <div class="ls-box-demo">
    <button type="button" class="ls-btn-primary" data-toggle-collapse="#collapse1">Abre/Fecha o <i>collapse</i> <b>#collapse1</b></button>
    <br>
    <br>
    <%= partial('documentacao/shared/collapse/collapse', :locals => { id: "collapse1",:quant => 1, :header => "Título", content: (lorem.paragraphs 1)  }) %>
  </div>

  <p>Para abrir/fechar um <i>collapse</i> usando javascript, use:</p>

  <% code("javascript") do %>locastyle.collapse.toggle('#collapse1')<% end %>


  <h2 class="doc-title-3">Accordeon com <code>input[radio]</code> ou <code>input[checkbox]</code></h2>

  <p>Para vincular um collapse ou accordeon a um <i>input</i>, o elemento <code>.ls-collapse-header</code> precisar ser necessariamente um <code>label</code>. A estrutura do collapse ainda continua normal.

  <p>Accordeon com <i>radio</i>:</p>

  <div class="ls-box-demo">
    <%= partial('documentacao/shared/collapse/collapse_input', :locals => { :quant => 2, :header => "Título", content: (lorem.paragraphs 1), type: "radio" }) %>
  </div>
  <% code("html") do %><%= partial('documentacao/shared/collapse/collapse_input', :locals => { :quant => 1, :header => "Título", content: (lorem.paragraphs 1), type: "radio" }) %><% end %>

  <p>Accordeon com <i>checkbox</i>:</p>

  <div class="ls-box-demo">
    <%= partial('documentacao/shared/collapse/collapse_input', :locals => { :quant => 3, :header => "Título", content: (lorem.paragraphs 1), type: "checkbox" }) %>
  </div>
  <% code("html") do %><%= partial('documentacao/shared/collapse/collapse_input', :locals => { :quant => 1, :header => "Título", content: (lorem.paragraphs 1), type: "checkbox" }) %><% end %>
</section>
