---
title: Abas
description: Abas são perfeitas para organizar informações em painéis de conteúdo, onde o acesso precisa ser rápido e quando há muito conteúdo sobre um determinado assunto.
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Seletor</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>.ls-tabs-nav</td>
        <td>Vai no elemento pai da navegação das abas, normalmente "ul".</td>
      </tr>
      <tr>
        <td>data-ls-module="tabs"</td>
        <td>Vai no elemento que servirá de "trigger" da ativação das abas, normalmente um link "a".</td>
      </tr>
      <tr>
        <td>.ls-tab-container</td>
        <td>Vai no elemento que servirá de "container" para o conteúdo das abas, normalmente uma "div".</td>
      </tr>
      <tr>
        <td>.ls-tab-content</td>
        <td>Vai no elemento que contém o conteúdo, normalmente uma "div".</td>
      </tr>
      <tr>
        <td>.ls-active</td>
        <td>É a classe que indica qual aba está ativa, ela vai na "li" ativa da navegação e também no ".ls-tab-content" ativo.</td>
      </tr>
    </tbody>
  </table>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/abas' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/abas' %><% end %>

  <div class="ls-box ls-box-gray">
    <h2 class="doc-title-4">Acessibilidade</h2>
    <p>Via javascript é adicionada as ARIAs abaixo:</p>
    <table class="ls-table">
      <thead>
        <tr>
          <th>Estado da Aba</th>
          <th>Elemento</th>
          <th>Wai-aria</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fixa</td>
          <td>ls-tabs-nav</td>
          <td>role="tablist"</td>
        </tr>
        <tr>
          <td>Fixa</td>
          <td>.ls-tabs-nav a</td>
          <td>role="tab"</td>
        </tr>
        <tr>
          <td>Fixa</td>
          <td>ls-tab-content</td>
          <td>role="tabpanel"</td>
        </tr>
        <tr>
          <td>Ativa</td>
          <td>.ls-tabs-nav .ls-active a</td>
          <td>aria-hidden="false"</td>
        </tr>
        <tr>
          <td>Desativada</td>
          <td>.ls-tabs-nav .ls-active a</td>
          <td>aria-hidden="true"</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="doc-title-3">Navegação de Abas em forma de dropdown</h2>
  <p>Em dispositivos com telas pequenas, a navegação das abas são apresentadas em forma de dropdown.</p>

  <p>Não é comum, mas caso queira usar a navegação em forma de dropdown também em telas maiores, basta usar o html conforme exemplo abaixo, utilizando a classe <code>.ls-dropdown-tabs</code>. Perceba que apenas a parte da navegação muda, a parte do conteúdo continua da mesma forma.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/abas-dropdown-nav' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/abas-dropdown-nav' %><% end %>

  <h2 class="doc-title-3">Combinação de abas normais com dropdown</h2>
  <p>Você também pode juntar os dois itens acima e fazer uma combinação de abas normais com abas em formato de dropdown. Para isso, a estrutura muda um pouco. Confira abaixo.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/abas-dropdown' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/abas-dropdown' %><% end %>

  <h2 class="doc-title-3">Eventos</h2>
  <table class="ls-table">
    <thead>
      <tr>
        <th width="200">Evento</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>tab:activated</th>
        <td><p>Quando uma aba é clicada, o evento <code>tab:activated</code> é disparado.</p></td>
      </tr>
      <tr>
        <th>tab:deactivated</th>
        <td><p>Quando uma aba que está ativa é clicada, o evento <code>tab:deactivated</code> é disparado.</p></td>
      </tr>
    </tbody>
  </table>

  <p>Exemplo: </p>
  <% code("javascript") do %>
  $('[data-ls-module="tabs"]').on('tab:activated', function(){
    // Do whatever you want.
  });
  <%end%>

  <div class="ls-alert-warning" role="alert">
    <strong>Atenção:</strong> Tanto os eventos de abas quanto os de dropdown continuam funcionando normalmente com as abordagens acima apresentadas.
  </div>

</section>
