---
title: Listas
description: Descrição e listagem de informações
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">


  <%= partial 'partials/doc-intro-content' %>


    <p>
      Informações de utilização <br>
      A lista é utilizada para localizar um dado específico a ser gerenciado. O destino pode ser uma página interna ou outro painel.
    </p>

  <div class="row">
    <div class="col-md-7">
      <div class="ls-box">
        <h2 class="ls-title-5">Quando <strong>usar?</strong></h2>
        <p>- Há necessidade de acesso a outro painel ou página interna.</p>
        <p>- Há necessidade de exibir um resumo das informações sem colunas.</p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="ls-box">
        <h2 class="ls-title-5">Quando <strong>não</strong> usar?</h2>
        <p>- Os dados apresentados sejam comparáveis.</p>
        <p>- Há necessidade de ordenação de colunas.</p>
      </div>
    </div>
  </div>


  <h2 class="doc-title-3">Lista com identificador simples</h2>
  <p>O identificador deve ter a mesma ação do botão principal.</p>
  <div class="ls-box-demo">

    <h3 class="doc-title-6">Desktop</h3>
    <%= partial 'documentacao/shared/lists/lists-simple' %>
    <h3 class="doc-title-6">Mobile</h3>
    <iframe width="320" src="<%= base_url %>/documentacao/shared/lists/lists-simple-mobile" frameborder="0"></iframe>


  </div>
  <% code("html") do %>
<%= partial 'documentacao/shared/lists/lists-simple' %>
  <% end %>

  <h2 class="doc-title-3">Lista com informações secundárias e ação principal</h2>
  <p>O identificador deve ter a mesma ação do botão principal.</p>
  <div class="ls-box-demo">
    <h3 class="doc-title-6">Desktop</h3>
    <%= partial 'documentacao/shared/lists/lists' %>
    <h3 class="doc-title-6">Mobile</h3>
    <iframe width="320" height="1000" src="<%= base_url %>/documentacao/shared/lists/lists-mobile" frameborder="0"></iframe>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/lists/lists' %><% end %>



  <h2 class="doc-title-3">Lista com botão múltiplo</h2>
  <p>O identificador não deve ter link.</p>
  <div class="ls-box-demo">
    <h3 class="doc-title-6">Desktop</h3>
    <%= partial 'documentacao/shared/lists/lists-actions' %>
    <h3 class="doc-title-6">Mobile</h3>
    <iframe width="320" height="900" src="<%= base_url %>/documentacao/shared/lists/lists-actions-mobile" frameborder="0"></iframe>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/lists/lists-actions' %><% end %>


  <hr class="doc-hr" id="doc-ux">

  <h2 class="doc-title-2">Especificação de comportamento</h2>
  <p>Estas são informações que explicam como o Locaweb Style trata a listas e seus componentes. Todos estes comportamentos já estão previstos no framework.</p>

  <h4 class="doc-title-4">Definição</h4>
  <p>A lista é utilizada para localizar um dado específico para ser gerenciado. O destino pode ser um outro painel/produto ou página interna.</p>
  <%= image_tag "ux/listas/image00.png" %>
  <p>E no mobile fica assim:</p>
  <%= image_tag "ux/listas/image01.png" %>

  <h4 class="doc-title-5">Quando usar?</h4>
  <ul>
    <li>Há necessidade de acesso a outro painel ou página interna do produto.</li>
    <li>Há necessidade de exibir um resumo das informações sem colunas.</li>
  </ul>
  <h4 class="doc-title-5">Quando não usar?</h4>
  <ul>
    <li>Os dados apresentados sejam comparáveis.</li>
    <li>Há necessidade de ordenação de colunas.</li>
  </ul>

  <h4 class="doc-title-4">Opções e variações</h4>
  <h5 class="doc-title-5">Exibição de informações secundárias e ação principal</h5>
  <%= image_tag "ux/listas/image02.png" %>
  <%= image_tag "ux/listas/image03.png" %>

  <ul>
    <li><strong>Ação principal</strong> - É exibida em um botão separado das ações secundárias.</li>
    <li><strong>Identificador</strong> -  Sempre deve ter um link para um destino que o UX do produto definir.</li>
    <li><strong>Informações secundários</strong> - Podem ser exibidas com label ou não de acordo com a necessidade do produto.</li>
  </ul>

  <p>No mobile:</p>
  <%= image_tag "ux/listas/image05.png" %>
  <p>Ação principal é sempre exibida no botão múltiplo.</p>

  <h4 class="doc-title-4">Lista com botão múltiplo</h4>
  <p>Opção quando não houver uma ação principal específica.</p>
  <%= image_tag "ux/listas/image04.png" %>


</section>
