---
title: Modal
description: Boxes simplificados e flexíveis de diálogo que necessitam do minímo de funcionalidades para funcionar.
keywords: documentação, locastyle, modal
type: component
---
<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">
  <%= partial 'partials/doc-intro-content' %>

  <h3 class="ls-title-4">Criando modal</h3>
  <p>Você precisa passar no <code>data-target</code> o ID da modal.</p>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Padrão</th>
        <th class="ls-width-500">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>target</td>
        <td>#myTarget</td>
        <td>--</td>
        <td>
          <p>Abre a modal com o mesmo nome do target</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h3 class="ls-title-4">Criando modal via template</h3>
  <p>Para criar uma modal via template, você não precisa passar o <code>data-target</code>, somente os atributos abaixo.</p>
  <table class="ls-table ls-table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Padrão</th>
        <th class="ls-width-500">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>content</td>
        <td>um texto curto</td>
        <td>--</td>
        <td>
          <p>Abre a modal com o texto inserido</p>
        </td>
      </tr>
      <tr>
        <td>title</td>
        <td>um titulo curto</td>
        <td>--</td>
        <td>
          <p>Abre a modal com o titulo inserido</p>
        </td>
      </tr>
      <tr>
        <td>save</td>
        <td>texto</td>
        <td>--</td>
        <td>
          <p>Coloca um texto no botão de salvar</p>
        </td>
      </tr>
      <tr>
        <td>close</td>
        <td>texto</td>
        <td>--</td>
        <td>
          <p>Coloca um texto no botão de fechar</p>
        </td>
      </tr>
      <tr>
        <td>action</td>
        <td>link</td>
        <td>--</td>
        <td>
          <p>Coloca um link no botão de salvar</p>
        </td>
      </tr>
      <tr>
        <td>class</td>
        <td>texto</td>
        <td>--</td>
        <td>
          <p>Coloca uma classe no botão de salvar</p>
        </td>
      </tr>
      <tr>
        <td>data-custom-attrs</td>
        <td>texto</td>
        <td>--</td>
        <td>
          <p>Adiciona qualquer novo atributo no <code>botão(type='button')</code> ou no <code>link</code></p>
        </td>
      </tr>
      <tr>
        <td>data-action-type</td>
        <td>link/form</td>
        <td>--</td>
        <td>
          <p>Se for <code>link</code> não é adicionado form nem button de submit, caso contrário
          terá um <code>form</code> e o submit será um button.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="ls-box ls-box-gray">
    <h2 class="doc-title-4">Acessibilidade</h2>
    <p>Via javascript, o modal recebe <code>focus()</code> e o atributo <code>tabindex="-1"</code> além de ser adicionada as ARIAs abaixo:</p>
    <table class="ls-table">
      <thead>
        <tr>
          <th>Estado do modal</th>
          <th>Elemento</th>
          <th>Wai-aria</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Escondido</td>
          <td>.ls-modal</td>
          <td>aria-hidden="true"</td>
        </tr>
        <tr>
          <td>Exibindo</td>
          <td>.ls-modal</td>
          <td>aria-hidden="false"</td>
        </tr>
        <tr>
          <td>Aberto/Fechado</td>
          <td>.ls-modal</td>
          <td>role="dialog"</td>
        </tr>
        <tr>
          <td>Aberto/Fechado</td>
          <td>.ls-modal</td>
          <td>aria-labelledby="ID_DO_TITULO"</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 class="doc-title-3">Abrindo a modal via URL</h3>
    <p>Para abrir a modal automaticamente assim que a página for carregada, basta passar na URL o nome da modal. Tente aqui mesmo, no final da URL desta página, adicione <code>#myAwesomeModal</code> e aperte ENTER.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/modal' %>
  </div>
  <% code("html") do %>
<button data-ls-module="modal" data-target="#myAwesomeModal" class="ls-btn-primary">Ative a modal</button>

<div class="ls-modal" id="myAwesomeModal">
  <div class="ls-modal-box">
    <div class="ls-modal-header">
      <button data-dismiss="modal">&times;</button>
      <h4 class="ls-modal-title">Modal title</h4>
    </div>
    <div class="ls-modal-body" id="myModalBody">
      <p><%= lorem.sentences 15 %></p>
    </div>
    <div class="ls-modal-footer">
      <button class="ls-btn ls-float-right" data-dismiss="modal">Close</button>
      <button type="submit" class="ls-btn-primary">Save changes</button>
    </div>
  </div>
</div><!-- /.modal -->
  <% end %>

  <p>Você pode chamar nossa modal padrão. Nesse caso, o próprio elemento que aciona a modal, irá montar o código automaticamente a partir do nosso template.</p>

  <div class="ls-box-demo">
    <button data-ls-module="modal" data-action="http://locaweb.com.br/" data-content="<h2>Título feito dentro do data-content</h2><p>Conteúdo feito dentro do data-content</p>" data-title="Este título é o atributo data-title" data-class="ls-btn-danger" data-save="Salvar" data-close="Fechar" class="ls-btn-primary"> Ative a modal</button>
  </div>
  <% code("html") do %>
<button data-ls-module="modal" data-action="http://locaweb.com.br/" data-content="<h2>Título feito dentro do data-content</h2><p>Conteúdo feito dentro do data-content</p>" data-title="Este título é o atributo data-title" data-class="ls-btn-danger" data-save="Salvar" data-close="Fechar" class="ls-btn-primary"> Modal sem target </button>
  <% end %>
  <hr>

  <h3 class="ls-title-4">Abrindo a modal via javascript</h3>
    <% code("javascript") do %>
locastyle.modal.open({target: "#myAwesomeModal"});
    <% end %>
  <p class="ls-alert-warning"><strong>Atenção:</strong> Você deve sempre especificar o <code>target</code> do modal em seu javascript.</p>
  <hr>

  <h3 class="ls-title-4">Abrindo a modal via css class</h3>
    <% code("html") do %>
<div class="ls-modal ls-opened" id="myAwesomeModal">
    <% end %>
  <p class="ls-alert-warning"><strong>Atenção:</strong> Você deve sempre especificar o css class <code>.ls-opened</code> do modal, no mesmo lugar do <code>.ls-modal</code>.</p>
  <hr>

  <h3 class="ls-title-4">Modal sempre ativa depois de aberta</h3>
  <p>Se você quer manter uma modal sempre ativa depois de aberta, basta inserir esse código <code>data-modal-blocked</code> na sua modal, no mesmo elemento onde fica a <code>.ls-modal</code>.</p>
  <% code("html") do %>
<div class="ls-modal" data-modal-blocked id="myAwesomeModal">
  <% end %>
  <p class="ls-alert-warning"><strong>Atenção:</strong> Se você for fechar sua modal depois de uma determinada ação, você precisa chamar <code>locastyle.modal.close()</code></p>
  <hr>

  <h3 class="ls-title-4">Modal pequena</h3>
  <p>Se precisar de uma modal menor, basta adicionar a classe <code>.ls-modal-small</code> no mesmo lugar do <code>.ls-modal-box</code>.</p>
    <div class="ls-box-demo">
    <%= partial 'documentacao/shared/modal-small' %>
  </div>
  <% code("html") do %>
<%= partial 'documentacao/shared/modal-small' %>
  <% end %>

  <h2 class="doc-title-3">Eventos</h2>
  <p>Você pode utilizar os eventos abaixo para um determinado momento do modal, veja a referência abaixo:</p>
  <table class="ls-table">
    <thead>
      <tr>
        <th width="200">Evento</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>modal:opened</td>
        <td>
          <p>Quando um modal é aberto por completo, o evento <code>modal:opened</code> é disparado com dois argumentos: o primeiro argumento é o evento. O segundo argumento é o botão que foi clicado.</p>
        </td>
      </tr>
      <tr>
        <td>modal:closed</td>
        <td>
          <p>Quando um modal é fechado por completo, o evento <code>modal:closed</code> é disparado com um argumento: o único argumento é o event.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <p>Para acessar o conteúdo do modal, basta usar o <code>this</code>.</p>

  <p>Exemplo: </p>
<% code("javascript") do %>
// Um modal específico pelo ID
$('body').on('modal:opened', '#myAwesomeModal', function(evt, button){
  console.log(evt, button, this);
});

// Todos os elementos de modal
$('body').on('modal:closed', '.ls-modal', function(evt){
  console.log(evt, this);
});
<% end %>
</section>
