---
title: Filtro de exibição e paginação
description: Exibição de navegação por páginas e controle de quantidade.
keywords: documentação, locastyle, filtro, exibição, paginação
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p>Navegação entre páginas e controle de quantidade de elementos que serão exibidos por página.</p>

  <div class="ls-box-demo ls-overflow-hidden">
    <%= partial 'documentacao/shared/pagination/pagination' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/pagination/pagination' %><% end %>

  <h2 class="doc-title-3">Paginação com muitos elementos</h2>
  <p>Quando houver mais de 5 páginas, utilizamos um span com a classe <code>.ls-gap</code> para especificar que há mais páginas.</p>

  <div class="ls-box-demo ls-overflow-hidden">
    <%= partial 'documentacao/shared/pagination/pagination-gap' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/pagination/pagination-gap' %><% end %>

  <h2 class="doc-title-3">Estados Ativado e Desativado</h2>
  <p>Customize os links em diferentes circunstâncias. Utiliza a classe <code>.ls-disabled</code> para links desativados e <code>.ls-active</code> para indicar uma próxima página.</p>

  <div class="ls-box-demo ls-overflow-hidden">
    <%= partial 'documentacao/shared/pagination/pagination-status' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/pagination/pagination-status' %><% end %>

  <h2 class="doc-title-3">Tamanhos</h2>
  <p>Para alterar o tamanho, utilize as classes <code>.ls-pagination-lg</code> ou <code>.ls-pagination-sm</code>.</p>

  <div class="ls-box-demo ls-overflow-hidden">
    <%= partial 'documentacao/shared/pagination/pagination-widths' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/pagination/pagination-widths' %><% end %>

  <h2 class="doc-title-3">Pager</h2>
  <p>Links rápidos para uma simples implementação de paginação com links de <strong>anterior</strong> e <strong>próximo</strong>.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/pagination/pager' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/pagination/pager' %><% end %>

  <h2 class="doc-title-3">Links Alinhados</h2>
  <p>Você tem a opcão de alinhar um de cada lado</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/pagination/pager-align' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/pagination/pager-align' %><% end %>

  <h2 class="doc-title-3">Estado desabilitado opcional</h2>
  <p>Esses links também usam a classe <code>.ls-disabled</code> que é uma utilidade da paginação.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/pagination/pager-option-disabled' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/pagination/pager-option-disabled' %><% end %>
</section>
