---
title: Passo a passo
description: Elemento para ser utilizado quando há necessidade de fragmentar uma tarefa em etapas.
keywords: documentação, locastyle, passo a passo, steps
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>
  <div class="row">
    <div class="col-md-7">
      <div class="ls-box">
        <h2 class="ls-title-5">Quando <strong>usar?</strong></h2>
        <p>- Há necessidade de dividir uma tarefa extensa em passos.</p>
        <p>- Há necessidade de mostrar para o usuário quantas etapas faltam para concluir a tarefa.</p>
        <p>- Existe a possibilidade do usuário escolher um passo anterior para editar as informações inseridas.</p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="ls-box">
        <h2 class="ls-title-5">Quando <strong>não</strong> usar?</h2>
        <p>- A tarefa puder ser resolvida em apenas um passo.</p>
        <p>- O usuário não tiver possibilidade de editar as informações inseridas em passos anteriores.</p>
      </div>
    </div>
  </div>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Seletor</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>.ls-steps-nav <b>.ls-active</b></td>
        <td>Basta adicionar a classe na <b>&lt;li&gt;</b> de navegacão, pra ativar o botão e seu conteúdo respectivo ao carregar a página.</td>
      </tr>
      <tr>
        <td>.ls-steps-nav <b>.ls-actived</b></td>
        <td>É adicionado via javascript sempre que um passo for habilitado, liberando a navegação das etapas anteriores.</td>
      </tr>
      <tr>
        <td>ls-steps-content <b>.ls-active</b></td>
        <td>Classe adicionada via javascript que mostra o conteúdo respectivo da navegacão que está ativa.</td>
      </tr>
      <tr>
        <td>[data-action="next"]</td>
        <td>Atributo inserido no botão que segue o próximo fluxo do passo a passo.</td>
      </tr>
      <tr>
        <td>[data-action="prev"]</td>
        <td>Atributo inserido no botão que volta o fluxo anterior do passo a passo.</td>
      </tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Métodos públicos</h2>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Método</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>init()</td>
        <td>Prepara os elementos pra funcionar como steps e adiciona os binds automáticos.</td>
      </tr>
      <tr>
        <td>nextStep()</td>
        <td>Faz a troca para o próximo passo.</td>
      </tr>
      <tr>
        <td>prevStep()</td>
        <td>Faz a troca para o passo anterior.</td>
      </tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Eventos</h2>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Evento</th>
        <th>Target</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>NextStepEvent</td>
        <td>document</td>
        <td>Lançado no método <code>nextStep()</code> antes de trocar o passo.</td>
      </tr>
      <tr>
        <td>PrevStepEvent</td>
        <td>document</td>
        <td>Lançado no método <code>prevStep()</code> antes de trocar o passo.</td>
      </tr>
    </tbody>
  </table>

  <p>Você pode utilizar os eventos acima para impedir a troca de um determinado passo, veja um exemplo de como adicionar uma validação:</p>

  <div class="ls-box-demo">
<% code("html") do %>
$(document).on('NextStepEvent', function(e){
  if (!valid) {
    e.preventDefault();
  }
});

$(document).on('PrevStepEvent', function(e){
  if (!valid) {
    e.preventDefault();
  }
});
<% end %>
  </div>

  <div class="ls-box-demo">
    <h3 class="doc-title-6">Desktop</h3>
    <div class="ls-overflow-hidden"><%= partial 'documentacao/shared/passo-a-passo/passo' %></div>
    <br>
    <br>
    <br>
    <br>
    <h3 class="doc-title-6">Mobile</h3>
    <iframe class="doc-border-silver" width="320" height="300" src="<%= base_url %>/documentacao/shared/passo-a-passo/passo-mobile" frameborder="0"></iframe>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/passo-a-passo/passo' %><% end %>

  <div class="ls-box ls-box-gray">
    <h2 class="doc-title-4">Acessibilidade</h2>
    <p>Via javascript é adicionada as ARIAs abaixo:</p>
    <table class="ls-table">
      <thead>
        <tr>
          <th>Estado do passo a passo</th>
          <th>Elemento</th>
          <th>Wai-aria</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td>.ls-steps-btn</td>
          <td>aria-label="Texto inserido no botão"</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>ls-steps-nav</td>
          <td>role="tablist"</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>.ls-steps-nav .ls-steps-btn</td>
          <td>role="tab"</td>
        </tr>
        <tr>
          <td>Default</td>
          <td>ls-steps-content</td>
          <td>role="tabpanel"</td>
        </tr>
        <tr>
          <td>Navegação ativada</td>
          <td>.ls-steps-nav .ls-active .ls-steps-btn</td>
          <td>aria-selected="true"</td>
        </tr>
        <tr>
          <td>Navegação desativada</td>
          <td>.ls-steps-nav .ls-steps-btn</td>
          <td>aria-selected="false"</td>
        </tr>
        <tr>
          <td>Conteúdo exibido</td>
          <td>.ls-steps-content .ls-active </td>
          <td>aria-hidden="false"</td>
        </tr>
        <tr>
          <td>Conteúdo não exibido</td>
          <td>.ls-steps-content</td>
          <td>aria-hidden="true"</td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
