---
title: Tabelas
description: Padrão de tabelas
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <h2 class="doc-title-3">Tabela básica</h2>
  <p>Fizemos uma classe customizada para fazer nosso estilo, essa classe é a <code>ls-table</code>. Basta inserir essa classe em uma tabela para deixá-la com o visual abaixo:</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/table/table' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/table/table' %><% end %>

  <h2 class="doc-title-3">Classes adicionais</h2>
  <p>Logo abaixo segue as classes que modificam diretamente a tabela. Logo após você pode ver o exemplo de cada uma dessas classes.</p>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Classe</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>ls-table</th>
        <td>Formatação padrão da classe. Sem essa classe, a tabela fica sem formatação, o que possibilita que você faça seu estilo.</td>
      </tr>
      <tr>
        <th>ls-xs-space, ls-sm-space, ls-md-space, ls-lg-space</th>
        <td>Aumenta ou diminui o espaçamento entre linhas e colunas.</td>
      </tr>
      <tr>
        <th>ls-no-hover</th>
        <td>Desabilita o hover nas linhas.</td>
      </tr>
      <tr>
        <th>ls-bg-header</th>
        <td>Insere um background no header da tabela.</td>
      </tr>
      <tr>
        <th>ls-table-striped</th>
        <td>Deixa a tabela com visual listrado como zebra.</td>
      </tr>
      <tr>
        <th>ls-table-bordered</th>
        <td>Coloca uma borda em todos os lados da tabela.</td>
      </tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Tabela sem hover</h2>
  <p>A classe <code>.ls-no-hover</code>, remove o estilo de hover das tabelas, mesmo quando ela for zebrada.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/table/table-hover' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/table/table-hover' %><% end %>


  <h2 class="doc-title-3">Tabela zebrada</h2>
  <p>Se quiser que as linhas da tabela fiquem com o background colorido alternadamente, basta adicionar a classe <code>.ls-table-striped</code>.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/table/table-striped' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/table/table-striped' %><% end %>

  <h2 class="doc-title-3">Tamanho dos espaçamentos</h2>
  <p>Definimos 2 espaçamentos extra, além do espaçamento padrão. Para mudar o tamanho dos espaçamentos, basta inserir a classe <code>ls-md-space</code> ou <code>ls-sm-space</code>. Veja o resultado abaixo com dois exemplos:</p>

  <table class="ls-table ls-sm-space">
    <thead>
      <tr>
        <th>Título</th>
        <th class="hidden-xs">Campanha</th>
        <th>Status</th>
        <th class="hidden-xs">Data de envio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
    </tbody>
  </table>

  <table class="ls-table ls-md-space">
    <thead>
      <tr>
        <th>Título</th>
        <th class="hidden-xs">Campanha</th>
        <th>Status</th>
        <th class="hidden-xs">Data de envio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Ordenação nas tabelas</h2>
  <p>Perceba que para deixar os títulos de colunas com marcação de ordenação, é necessário ter uma tag <code>a</code> dentro da tag <code>th</code>, depois disso, basta utilizar as classes <code>.ls-data-descending</code> ou <code>.ls-data-ascending </code>.</p>
  <p>Isso <strong>não adiciona uma funcionalidade de ordenação</strong>, apenas as setinhas de marcação.</p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Título</th>
        <th class="hidden-xs ls-data-descending"><a href="#">Campanha</a></th>
        <th class="ls-data-ascending"><a href="#">Status</a></th>
        <th class="hidden-xs ls-data-ascending"><a href="#">Data de envio</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Cabeçalho colorido</h2>
  <p>Para deixar o cabeçalho da tabela com um background maneiro, basta inserir a classe <code>ls-bg-header</code> na tag <code>table</code>.</p>
  <table class="ls-table ls-bg-header">
    <thead>
      <tr>
        <th>Título</th>
        <th class="hidden-xs ls-data-descending"><a href="#">Campanha</a></th>
        <th class="ls-data-ascending"><a href="#">Status</a></th>
        <th class="hidden-xs ls-data-ascending"><a href="#">Data de envio</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Seleção de Checkboxes</h2>
  <p>Para utilizar a seleção através de checkboxes, basta adicioná-los em todas as linhas (inclusive na thead) e iniciar o módulo na tabela utilizando o atributo <code>data-ls-module="table"</code>. Note que o checkbox presente na thead possui a classe <code>ls-main-check</code> para ser registrado como o checkbox principal que irá selecionar ou deselecionar todos os outros.</p>
  <p>Esse comportamento <strong>não adiciona a funcionalidade de seleção</strong> a linha da tabela através do clique na mesma. Esse controle é feito somente através do checkbox.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/table/checkbox-table' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/table/checkbox-table' %><% end %>

</section>
