---
title: Tabelas
description: Padrão de tabelas
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <h2 class="doc-title-3">Tabela básica</h2>
  <p>Fizemos uma classe customizada para fazer nosso estilo, essa classe é a <code>ls-table</code>. Basta inserir essa classe em uma tabela para deixá-la com o visual abaixo:</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/table/table' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/table/table' %><% end %>

  <h2 class="doc-title-3">Classes adicionais</h2>
  <p>Logo abaixo segue as classes que modificam diretamente a tabela. Logo após você pode ver o exemplo de cada uma dessas classes.</p>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Classe</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>ls-table</th>
        <td>Formatação padrão da classe. Sem essa classe, a tabela fica sem formatação, o que possibilita que você faça seu estilo.</td>
      </tr>
      <tr>
        <th>ls-xs-space, ls-sm-space, ls-md-space, ls-lg-space</th>
        <td>Aumenta ou diminui o espaçamento entre linhas e colunas.</td>
      </tr>
      <tr>
        <th>ls-no-hover</th>
        <td>Desabilita o hover nas linhas.</td>
      </tr>
      <tr>
        <th>ls-bg-header</th>
        <td>Insere um background no header da tabela.</td>
      </tr>
      <tr>
        <th>ls-table-striped</th>
        <td>Deixa a tabela com visual listrado como zebra.</td>
      </tr>
      <tr>
        <th>ls-table-bordered</th>
        <td>Coloca uma borda em todos os lados da tabela.</td>
      </tr>
    </tbody>
  </table>


  <h2 class="doc-title-3">Tabela zebrada</h2>
  <p>Se quiser que as linhas da tabela fiquem com o background colorido alternadamente, basta adicionar a classe <code>.ls-table-striped</code>.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/table/table-striped' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/table/table-striped' %><% end %>

  <h2 class="doc-title-3">Tamanho dos espaçamentos</h2>
  <p>Definimos 2 espaçamentos extra, além do espaçamento padrão. Para mudar o tamanho dos espaçamentos, basta inserir a classe <code>ls-md-space</code> ou <code>ls-sm-space</code>. Veja o resultado abaixo com dois exemplos:</p>

  <table class="ls-table ls-sm-space">
    <thead>
      <tr>
        <th>Título</th>
        <th class="hidden-xs">Campanha</th>
        <th>Status</th>
        <th class="hidden-xs">Data de envio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
    </tbody>
  </table>

  <table class="ls-table ls-md-space">
    <thead>
      <tr>
        <th>Título</th>
        <th class="hidden-xs">Campanha</th>
        <th>Status</th>
        <th class="hidden-xs">Data de envio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Ordenação nas tabelas</h2>
  <p>Perceba que para deixar os títulos de colunas com marcação de ordenação, basta utilizar as classes <code>.ls-data-descending</code> ou <code>.ls-data-ascending </code>.</p>
  <p>Isso <strong>não adiciona uma funcionalidade de ordenação</strong>, apenas as setinhas de marcação.</p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>Título</th>
        <th class="hidden-xs ls-data-descending"><a href="#">Campanha</a></th>
        <th class="ls-data-ascending"><a href="#">Status</a></th>
        <th class="hidden-xs ls-data-ascending"><a href="#">Data de envio</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
    </tbody>
  </table>

  <h2 class="doc-title-3">Cabeçalho colorido</h2>
  <p>Para deixar o cabeçalho da tabela com um background maneiro, basta inserir a classe <code>ls-bg-header</code> na tag <code>table</code>.</p>
  <table class="ls-table ls-bg-header">
    <thead>
      <tr>
        <th>Título</th>
        <th class="hidden-xs ls-data-descending"><a href="#">Campanha</a></th>
        <th class="ls-data-ascending"><a href="#">Status</a></th>
        <th class="hidden-xs ls-data-ascending"><a href="#">Data de envio</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
      <tr>
        <td><a href="" title="">Mensagem Teste Locastyle</a></td>
        <td class="hidden-xs">Campanha</td>
        <td>Enviada</td>
        <td class="hidden-xs">21/09/2013 as 20:00 PM</td>
      </tr>
    </tbody>
  </table>

  <hr class="doc-hr" id="doc-ux">

  <h2 class="doc-title-2">Especificação de comportamento</h2>
  <p>Estas são informações que explicam como o Locaweb Style trata a tabela e seus componentes. Todos estes comportamentos já estão previstos no framework.</p>

  <h4 class="doc-title-5">Definição</h4>
  <p>A tabela é utilizada para consultar e comparar dados. Pode ser acompanhada por outros componentes como: filtro, ações em massa, paginação e outros.</p>
  <%= image_tag "ux/tabelas/image07.png" %>

  <h4 class="doc-title-5">Mobile</h4>
  <p>Para visualizar as colunas "ocultas", deverá ter interação na linha, ou na opção "Visualizar", dentro do botão de ação múltiplo.</p>
  <%= image_tag "ux/tabelas/image05.png" %>

  <h5 class="doc-title-5">Quando usar?</h5>
  <ul>
    <li>Há necessidade de comparação ou consulta de vários dados em uma mesma página.</li>
    <li>Há necessidade de uma ação ou mais referente a linha específica.</li>
    <li>Há necessidade de ações em massa para os itens selecionados da mesma tabela.</li>
    <li>Há necessidade de ordenação de colunas</li>
    <li>Se inclusão da informação seja direta na tabela sem necessidade de uma outra página/modal para inclusão.</li>
  </ul>
  <h5 class="doc-title-5">Quando não usar?</h5>
  <ul>
    <li>Os dados apresentados não sejam comparáveis.</li>
    <li>Não há necessidade de ordenação de colunas.</li>
  </ul>

  <h4 class="doc-title-4">Opções e variações do elemento</h4>

  <h5 class="doc-title-5">Botão de ação - Linha</h5>
  <p>Botão com uma ação principal e botão múltiplo de ações secundárias- Quando houver mais de uma ação, deverá exibir botão da ação principal e botão múltiplo com ações secundárias. Botão simples - Quando houver apenas uma ação deverá exibir a label específica. Ex: "Excluir"; "Renomear".</p>

  <p>Obs: A cor da label da ação "Excluir" deverá ser vermelha.</p>
  <%= image_tag "ux/tabelas/image01.png" %>

  <h4 class="doc-title-4">Botão no Mobile</h4>
  <p>O botão de ação para mobile não tem variação conforme a especificação acima. Deverá sempre exibir o botão múltiplo sem label quando houver uma ou mais ações.</p>
  <%= image_tag "ux/tabelas/image06.png" %>

  <h4 class="doc-title-4">Barra de ações em massa</h4>
  <p>Será visível após uma seleção no componente de selectbox, e ficará fixa no topo da página.
  <%= image_tag "ux/tabelas/image04.png" %>

  <p>Na versão mobile será exibido o botão "Ações" com todas as opções.</p>
  <%= image_tag "ux/tabelas/image03.png" %>

  <h4 class="doc-title-4">Edição</h4>
  <p>A edição de uma linha específica deverá abrir no modal em ambas versões.</p>
  <%= image_tag "ux/tabelas/image02.png" %>

  <h4 class="doc-title-4">Tag</h4>
  <p>A tag pode ser utilizada na frente do identificador.</p>
  <%= image_tag "ux/tabelas/image00.png" %>

  <h4 class="doc-title-4">Acessibilidade</h4>
  <p>Levantar com Deivid que informações referentes a acessibilidade são relevantes para o elemento.</p>

</section>
