---
title: Tags
description: Servem para marcar informações importantes de forma discreta e organizada.
type: component
---

<%= partial 'partials/doc-menu-components'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p>As tags servem para marcar informações importantes de forma discreta e organizada e podem ser utilizadas em links ou qualquer outro elemento, além de ser facilmente implementadas.</p>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/tags' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/tags' %><% end %>

  <h2 class="doc-title-3">Variações em forma de links</h2>

  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/tags-links' %>
  </div>
  <% code("html") do %><%= partial 'documentacao/shared/tags-links' %><% end %>

</section>
