---
title: Dashboard
html_class: ls-html-nobg
layout: panel
theme_name: ls-theme-gold
panel: painel1
title_product: Revenda do Email Marketing
---

<h1 class="ls-title-intro ls-ico-dashboard">Dashboard</h1>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <p class="ls-float-right ls-float-none-xs ls-small-info">Valido até <strong>01.05.2014</strong></p>
    <h2 class="ls-title-3">Consumo de envios</h2>
  </header>

  <div id="sending-stats" class="row">
    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Contratado</h6>
        <span class="ls-board-data">
          <strong>1 <small>milhão</small></strong>
        </span>
        <a href="#" class="ls-btn ls-btn-xs">Alterar plano</a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Avulso</h6>
        <span class="ls-board-data">
          <strong>0</strong>
        </span>
        <a href="#" class="ls-btn ls-btn-xs">Contratar mais envios</a>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4">Distribuído</h6>
        <span class="ls-board-data">
          <strong>10.743</strong>
        </span>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <h6 class="ls-title-4 color-default">Disponível</h6>
        <span class="ls-board-data">
          <strong class="ls-color-theme">81%</strong>
          <small>989.257</small>
        </span>
      </div>
    </div>
  </div>

</div>

<div class="ls-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3">Clientes que mais contrataram</h2>
    <a href="#" class="ls-btn ls-btn-sm">Ver mais relatórios</a>
  </header>

  <div id="panel-charts"></div>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="ls-box">
      <header class="ls-info-header">
        <h2 class="ls-title-3">Clientes que mais contrataram</h2>
        <a href="#" class="ls-btn ls-btn-sm">Ver todos</a>
      </header>

      <table class="ls-table">
        <thead>
          <th>Nome do cliente</th>
          <th>Data de expiração</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="<%= base_url %>/documentacao/exemplos/painel1/client">João da Silva</a> </td>
            <td>10.04.2014</td>
          </tr>
          <tr>
            <td><a href="<%= base_url %>/documentacao/exemplos/painel1/client">João da Silva</a> </td>
            <td>10.04.2014</td>
          </tr>
          <tr>
            <td><a href="<%= base_url %>/documentacao/exemplos/painel1/client">João da Silva</a> </td>
            <td>10.04.2014</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="ls-box">
      <a href="#" class="ls-lnk-nav ls-ico-chevron-right">Política da conta</a>
    </div>

  </div>
  <div class="col-md-6">
    <div class="ls-box">
      <header class="ls-info-header">
        <h2 class="ls-title-3">Clientes bloqueados por bounce</h2>
        <a href="<%= base_url %>/documentacao/exemplos/painel1/clients" class="ls-btn ls-btn-sm">Ver todos</a>
      </header>

      <table class="ls-table">
        <thead>
          <th>Nome do cliente</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="<%= base_url %>/documentacao/exemplos/painel1/client">João da Silva</a> </td>
          </tr>
          <tr>
            <td><a href="<%= base_url %>/documentacao/exemplos/painel1/client">João da Silva</a> </td>
          </tr>
          <tr>
            <td><a href="<%= base_url %>/documentacao/exemplos/painel1/client">João da Silva</a> </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="ls-box">
      <a href="#" class="ls-lnk-nav ls-ico-chevron-right">Política de bounce</a>
    </div>
  </div>
</div>

<% content_for :sidebar_panel do %>
  <%= partial 'documentacao/exemplos/painel1/sidebar' %>
<% end %>
