---
title: Práticas de escrita front-end
description: Padrões e boas práticas para escrever códigos HTML, CSS e Javascript
---

<%= partial 'partials/doc-menu-intro'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p>Quando definimos um padrão de escrita de código, queremos que o código seja uniforme. Isso quer dizer que o código precisa parecer que foi escrito por uma única pessoa. Assim, conseguimos manter a manutenção mais simples, garantindo que o projeto seja flexível e escalável de forma consistente.</p>

  <p>Estes padrões são usados por todos os times de desenvolvimento de produtos da Locaweb. Você pode também colaborar com essas boas práticas discutindo e melhorando nosso projeto no Github.</p>

  <p>Pode ser que você não siga algumas dessas práticas ou utiliza outras diferentes. Infelizmente não há como seguirmos todos os gostos pessoais de cada um por isso precisamos escolher apenas um.</p>

  <h3 class="doc-title-4">Leia as boas práticas sobre os seguintes assuntos:</h3>
  <ul>
    <li><%= link_to("HTML", "#{base_url}/documentacao/praticas/html")%></li>
    <li><%= link_to("CSS", "#{base_url}/documentacao/praticas/css")%></li>
    <li><%= link_to("Javascript", "#{base_url}/documentacao/praticas/javascript")%></li>
  </ul>

</section>
