---
title: Guia de estilo
menu_page: sidebar-praticas-padroes.erb
---
  <header>
    <h1>Práticas de escrita front-end</h1>
    <h3>Padrões e boas práticas para escrever códigos HTML, CSS e Javascript</h3>
  </header>

  <p>Quando definimos um padrão de escrita de código, queremos que o código seja uniforme. Isso quer dizer que o código precisa parecer que foi escrito por uma única pessoa. Assim, conseguimos manter a manutenção mais simples, garantindo que o projeto seja flexível e escalável de forma consistente. </p>

	<p>Estes padrões são usados por todos os times de desenvolvimento de produtos da <strong>Locaweb</strong>. Você pode também colaborar com essas boas práticas discutindo e melhorando nosso projeto no <a href="http://github.com/locaweb/locawebstyle/">Github</a>.</p>

  <p>Pode ser que você não siga algumas dessas práticas ou utiliza outras diferentes. Infelizmente não há como seguirmos todos os gostos pessoais de cada um por isso precisamos escolher apenas um.</p>

  <p>Leia as boas práticas sobre os seguintes assuntos:</p>

  <ul>
    <li><%= link_to "HTML", "#{base_url}/manual/praticas-padroes/html" %></li>
    <li><%= link_to "CSS", "#{base_url}/manual/praticas-padroes/css" %></li>
    <li><%= link_to "Javascript", "#{base_url}/manual/praticas-padroes/javascript" %></li>
    <!-- <li><%= link_to "Performance", "#{base_url}/manual/praticas-padroes/performance" %></li>
    <li><%= link_to "Acessibilidade", "#{base_url}/manual/praticas-padroes/acessibilidade/tabindex" %></li> -->
  </ul>

