---
title: Home de um sistema
layout: false
---
<!DOCTYPE html>
<html class="color-green-light no-menu">
<head>
	<title>Locaweb Style</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucid">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="apple-touch-icon" href="/assets/images/locastyle/ico_app_114.png">
	<link rel="stylesheet" type="text/css" href="<%= base_url + bootstrap_css %>">
	<%= stylesheet_link_tag "locastyle" %>
	<!-- CSS do manual apenas -->
	<%= stylesheet_link_tag "manual", media: "all" %>
</head>

<body>

	<header class="header" role="banner">
		<div class="container">
			<h1 class="project-name"><a href="/">Nome do projeto</a></h1>
			<a href="#" class="help-suggestions ico-question hidden-xs">Ajuda e Sugestões</a>
		</div>
	</header>

	<main class="main">
		<div class="container">
			<div class="element-example">
				<div class="row">
					<div class="col-md-12 content" role="main">
						<header class="header-content">
							<h1 class="title-1">Página não encontrada</h1>
							<p>O conteúdo pode ter sido removido ou não estar mais disponível.</p>
						</header>

						<h2 class="title-5">Você pode:</h2>
						<ol>
							<li>Verificar se digitou corretamente o endereço desejado.</li>
							<li>Retornar à <a href="/">página inicial</a>.</li>
						</ol>
						<p>Se o problema persistir, entre em contato através de um dos <a href="#">canais de atendimento</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<%= javascript_include_tag "locastyle" %>
	<script src="<%= base_url + bootstrap_js %>"></script>

	<!-- JS do manual apenas -->
	<script src="<%= base_url + '/assets/google-code-prettify/src/prettify.js' %>"></script>
	<%= javascript_include_tag "manual" %>
	<script src="//assets.locaweb.com.br/lwbar/<%= stable_lwbar %>/lwbar.js"></script>


</body>
</html>
