---
title: Home de um sistema
layout: false
---
<!DOCTYPE html>
<html lang="pt-br" class="color-green">
<head>
	<title>Locaweb Style</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="<%= base_url + bootstrap_css %>">
	<%= stylesheet_link_tag "locastyle" %>
</head>
<body>

<header class="header">
	<div class="container">
		<span class="control-menu ico-align-justify"></span>
		<span class="control-sidebar ico-list"></span>
		<h1 class="project-name"><a href="#">Email Marketing</a></h1>
<!-- 		<a href="#" class="show-account">emkt2013</a>
		<ul class="account">
			<li>option 1</li>
			<li>option 2</li>
			<li>option 3</li>
		</ul> -->
	</div>
	<div class="nav-content">
		<menu class="menu">
			<ul class="container">
				<li><a href="#" class="active ico-home">Home</a></li>
				<li><a href="#">Lista de contatos</a></li>
				<li><a href="#">Mensagens</a></li>
				<li><a href="#">Campanhas</a></li>
				<li><a href="#">Templates</a></li>
				<li><a href="#">Relatórios</a></li>
				<li><a href="#">Configurações</a></li>
			</ul>
		</menu>
	</div>

</header>

<!-- <main class="container">
<div class="row">

	<div class="col-md-9">

		<div class="shortcut row">
			<div class="col-md-4">
				<h1><a href="#">Cadastre seus contatos</a></h1>
			</div>
			<div class="col-md-4">
				<h1><a href="#">Crie e Envie mensagens</a></h1>
			</div>
			<div class="col-md-4">
				<h1><a href="#">Acompanhe os resultados</a></h1>
			</div>
		</div>

	</div>
	<aside id="sidebar" class="sidebar col-md-3">

		<section class="sidebox">
			<h1 class="sidebox-title"> <span class="ico-user-star"></span> Dados da conta</h1>
			<div class="bg-layer-1">
				<span class="status-text">Plano
					<b>Email Marketing III</b>
				</span>
				<hr>
				<span class="status-text">Saldo Mensal
					<b>10.000 envios</b>
					<small>*Válido até 31/01/2012</small>
				</span>
			</div>
			<a href="#" class="ico-right-circle">Alterar Plano</a>
		</section>

		<section class="sidebox">
			<h1 class="sidebox-title"><span class="ico-lamp"></span>Dicas</h1>
			<div class="bg-layer-1">
				<h2 class="title-6">Cuidado com os bounces</h2>
				<p>Bounces são tipos diversos de problemas que impedem que um contato receba a mensagem enviada.</p>
				<p>Por exemplo: e-mail inválido, caixa postal cheia, lentidão no servidor do destinatário, etc.</p>
			</div>
		</section>

		<section class="sidebox">
			<h1 class="sidebox-title"><span class="ico-config"></span>Ajuda e suporte</h1>
			<ul class="sidebox-list">
				<li><a href="" class="ico-link-out ico-pos-right">Central de Ajuda (Wiki)</a></li>
				<li><a href="" class="ico-link-out ico-pos-right">Suporte 24hs</a></li>
			</ul>
		</section>

	</aside>

</div>
</main>
 -->

	<%= javascript_include_tag "libs" %>
	<%= javascript_include_tag "locastyle" %>
	<script src="<%= base_url + bootstrap_js %>"></script>

</body>
</html>