---
title: Home de um sistema
layout: false
---
<!DOCTYPE html>
<html lang="pt-br" class="color-green">
<head>
	<title>Locaweb Style</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucid">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="apple-touch-icon" href="/assets/images/locastyle/ico_app_114.png">
	<link rel="stylesheet" type="text/css" href="<%= base_url + bootstrap_css %>">
	<%= stylesheet_link_tag "locastyle" %>
</head>
<body>
	<header class="header" role="banner">
		<div class="container">
			<span class="control-menu visible-xs ico-menu-2"></span>
			<span class="control-sidebar visible-xs ico-list"></span>
			<h1 class="project-name"><a href="#">Email Marketing</a></h1>
			<a href="#" class="help-sugestions ico-help-circle hidden-xs">Ajuda e Sugestões</a>

			<div class="dropdown hidden-xs">
				<a href="#" data-toggle="dropdown" class="title-dropdown">emkt2013</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li><a href="#" role="menuitem">Option 1</a></li>
					<li><a href="#" role="menuitem">Option 2</a></li>
					<li><a href="#" role="menuitem">Option 3</a></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="nav-content">
		<menu class="menu">
			<ul class="container">
				<li><a href="#" class="active ico-home" role="menuitem">Home</a></li>
				<li><a href="#" role="menuitem">Lista de contatos</a></li>
				<li><a href="#" role="menuitem">Mensagens</a>
					<ul>
						<li><a href="#">Enviar</a></li>
						<li><a href="#">Criar</a></li>
						<li><a href="#">Editar</a></li>
						<li><a href="#">Relatórios</a></li>
					</ul>
				</li>
				<li><a href="#" role="menuitem">Campanhas</a></li>
				<li><a href="#" role="menuitem">Templates</a></li>
				<li><a href="#" role="menuitem">Relatórios</a></li>
				<li><a href="#" role="menuitem">Configurações</a></li>
			</ul>
		</menu>
		<h2 class="title-sep visible-xs">Mais</h2>
		<ul class="nav-mob-list visible-xs">
			<li><a href="#" class="ico-help-circle">Ajuda e sugestões</a></li>
		</ul>
	</div>


	<main class="main">

		<div class="container">
			<div class="row">
				<div class="col-md-9 content" role="main">

					<div class="shortcut-box row">
						<header class="header-content">
							<h1 class="title-2">Comece aqui suas ações de marketing</h1>
							<p class="hidden-xs">It is a long established fact that a reader will be distracted</p>
						</header>
						<div class="shortcuts">
							<div class="col-md-4 col-xs-4">
								<a href="#"><h2 class="shortcut-title ico-user">Cadastre seus contatos</h2></a>
							</div>
							<div class="col-md-4 col-xs-4">
								<a href="#"><h2 class="shortcut-title ico-download">Crie e Envie mensagens</h2></a>
							</div>
							<div class="col-md-4 col-xs-4">
								<a href="#"><h2 class="shortcut-title ico-flag">Acompanhe os resultados</h2></a>
							</div>
						</div>
					</div>
					<div class="well hidden well-sm clearfix">
						<p>
							<strong data-counter="true">8</strong>
							itens selecionados
						</p>
						<div class="actions">
							<div class="btn-group">
								<button type="button" class="btn btn-default">Duplicar</button>
								<a href="#" class="btn btn-default">Relatorio</a>
								<a href="#" class="btn btn-default">Arquivar</a>
							</div>
							<button type="button" class="btn btn-danger">Excluir</button>
						</div>
					</div>
					<table class="table table-style">
						<thead>
							<tr>
								<th class="txt-center"><input type="checkbox"></th>
								<th>Título</th>
								<th class="hidden-xs">Campanha</th>
								<th>Status</th>
								<th class="hidden-xs">Data de envio</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<%- 4.times do |i| %>
								<tr>
									<td class="txt-center"><input type="checkbox"></td>
									<td><a href="" title="">Mensagem Teste Locastyle <%= i %></a></td>
									<td class="hidden-xs">Campanha <%= i %></td>
									<td>Enviada</td>
									<td class="hidden-xs">21/09/2013 as 20:00 PM</td>
									<td>
										<div class="table-actions ico-grid">
											<ul class="ico-grid">
												<li><a href="#">Duplicar</a></li>
												<li><a href="#">Relatório</a></li>
												<li><a href="#">Arquivar</a></li>
											</ul>
										</div>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<ul id="myTab" class="nav nav-tabs">
						<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
						<li><a href="#profile" data-toggle="tab">Profile</a></li>
					</ul>

					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active in" id="home">
							<p><strong>HOME</strong>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
						</div>
						<div class="tab-pane" id="profile">
							<p><strong>PROFILE</strong>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
						</div>
					</div>

<!-- 				<ul class="nav nav-tabs">
					<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
					<li class="dropdown"><a href="#profile" data-toggle="tab">Profile</a></li>
				</ul> -->



<!-- 	        <div class="dropdown">
	          <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Tabs <b class="caret"></b></a>
	          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
	            <li><a href="#home" tabindex="-1" data-toggle="tab">Home</a></li>
	            <li><a href="#profile" tabindex="-1" data-toggle="tab">Profile</a></li>
	          </ul>
	        </div> -->

<!-- 				<div class="tab-content">
					<div class="tab-pane active" id="home">
							<p>Content Home</p>
					</div>
					<div class="tab-pane" id="profile">
						<p>Content Profile</p>
					</div>
				</div>
			-->
			<h1>Teste</h1>
			<p>There may be times when you need to hide the overflow (scrollbars) being visible on a page. You can specify to have all scrollbars hidden or the x and y scroll bars separately. When trying to hide the overflow of a project I was working on I realized that the ‘overflow:hidden’ was not working on the Safari browser. This was very frustrating because it worked on all other browsers except Safari. Well, there is a very simple solution to solve this problem… All you have to do is set that element to have a relative position. For instance, if you were to specify for the body to hide the horizontal scrollbars you would want to have the following css in your stylesheet:</p>
			<p>There may be times when you need to hide the overflow (scrollbars) being visible on a page. You can specify to have all scrollbars hidden or the x and y scroll bars separately. When trying to hide the overflow of a project I was working on I realized that the ‘overflow:hidden’ was not working on the Safari browser. This was very frustrating because it worked on all other browsers except Safari. Well, there is a very simple solution to solve this problem… All you have to do is set that element to have a relative position. For instance, if you were to specify for the body to hide the horizontal scrollbars you would want to have the following css in your stylesheet:</p>
			<p>3There may be times when you need to hide the overflow (scrollbars) being visible on a page. You can specify to have all scrollbars hidden or the x and y scroll bars separately. When trying to hide the overflow of a project I was working on I realized that the ‘overflow:hidden’ was not working on the Safari browser. This was very frustrating because it worked on all other browsers except Safari. Well, there is a very simple solution to solve this problem… All you have to do is set that element to have a relative position. For instance, if you were to specify for the body to hide the horizontal scrollbars you would want to have the following css in your stylesheet:</p>
			<p>3There may be times when you need to hide the overflow (scrollbars) being visible on a page. You can specify to have all scrollbars hidden or the x and y scroll bars separately. When trying to hide the overflow of a project I was working on I realized that the ‘overflow:hidden’ was not working on the Safari browser. This was very frustrating because it worked on all other browsers except Safari. Well, there is a very simple solution to solve this problem… All you have to do is set that element to have a relative position. For instance, if you were to specify for the body to hide the horizontal scrollbars you would want to have the following css in your stylesheet:</p>
		</div>
		<aside class="sidebar col-md-3" role="complementary">
			<section class="sidebox">
				<h1 class="sidebox-title ico-user">Dados da conta</h1>
				<div class="bg-layer-1">
					<span class="status-text">Plano
						<b>Email Marketing III</b>
					</span>
					<hr>
					<span class="status-text">Saldo Mensal
						<b>10.000 envios</b>
						<small>*Válido até 31/01/2012</small>
					</span>
				</div>
				<a href="#" class="ico-arrow-right">Alterar Plano</a>
			</section>

			<section class="sidebox">
				<h1 class="sidebox-title ico-flag">Dicas</h1>
				<div id="carousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="item active bg-layer-1">
							<h2 class="title-6">Cuidado com os bounces</h2>
							<p>Bounces são tipos diversos de problemas que impedem que um contato receba a mensagem enviada.</p>
							<p>Por exemplo: e-mail inválido, caixa postal cheia, lentidão no servidor do destinatário, etc.</p>
						</div>
						<div class="item bg-layer-1">
							<h2 class="title-6">Cuidado com os bounces 2</h2>
							<p>Bounces são tipos diversos de problemas que impedem que um contato receba a mensagem enviada.</p>
							<p>Por exemplo: e-mail inválido, caixa postal cheia, lentidão no servidor do destinatário, etc.</p>
						</div>
					</div>
					<div class="carousel-nav">
						<a href="#carousel" class="left carousel-control ico-direction-left" data-slide="prev"></a>
						<b>1</b> de <i>2</i>
						<a href="#carousel" class="right carousel-control ico-direction-right" data-slide="next"></a>
					</div>
				</div>
			</section>

			<section class="sidebox">
				<h1 class="sidebox-title ico-question">Ajuda e suporte</h1>
				<ul class="sidebox-list">
					<li><a href="" class="ico-redo-2 ico-pos-right">Central de Ajuda (Wiki)</a></li>
					<li><a href="" class="ico-redo-2 ico-pos-right">Suporte 24hs</a></li>
				</ul>
			</section>
		</aside>
	</div>
</div>
</main>

<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<nav>
				<h2 class="f-left">atendimento</h2>
				<ul class="no-liststyle">
					<li><a href="#" class="ico-monitor">HelpDesk</a></li>
					<li><a href="#" class="ico-bubble">Chat</a></li>
					<li><a href="#" class="ico-phone">Telefone</a></li>
				</ul>
				<a href="#" class="ico-arrow-right f-right">Ver todas as formas de atendimento</a>
			</nav>
		</div>
	</div>
	<div class="footer-base">
		<div class="container">
			<span class="last-access ico-monitor-screen">
				<strong>Último acesso: </strong>7/8/2011 22:35:49 <strong>IP:</strong> 201.87.65.217
			</span>
			<span class="copy-right f-right">Copyright © 1997-2011 Locaweb Serviços de Internet S/A.</span>
		</div>
	</div>
</footer>
<%= javascript_include_tag "locastyle" %>
<script src="<%= base_url + bootstrap_js %>"></script>

</body>
</html>
