---
title: Home de um sistema
layout: false
---
<!DOCTYPE html>
<html lang="pt-br" class="color-green">
<head>
	<title>Locaweb Style</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="<%= base_url + bootstrap_css %>">
	<%= stylesheet_link_tag "locastyle" %>

	<style type="text/css">

		.menu{margin: 0; padding: 0;}
		.menu ul {padding-left: 0;}
		.menu li {
			display: inline-block;
			list-style: none;
		}


		.header {
			margin-bottom: 20px;
		}

		.menu {
			background: #94c83c;
			border-bottom: 5px solid rgba(0,0,0,0.1);
		}

		.menu ul {
			padding: 0;
			margin-bottom: -5px;
		}

		.menu li {
			float: left;
		}

		.menu a {
			color: #FFF;
			text-decoration: none;
			display: inline-block;
			padding: 10px;
			border-bottom: 5px solid rgba(0,0,0,0);
		}
		.menu a:hover {
			background-color: rgba(0,0,0,0.18);
			border-bottom: 5px solid rgba(0,0,0,0.4);
		}


	</style>

</head>
<body>

<header class="header">
	<div class="container">
		<h1>Logo</h1>
	</div>
	<menu class="menu">
		<ul class="container">
			<li><a href="#">Home</a></li>
			<li><a href="#">Lista de contatos</a></li>
			<li><a href="#">Mensagens</a></li>
			<li><a href="#">Campanhas</a></li>
			<li><a href="#">Templates</a></li>
			<li><a href="#">Relatórios</a></li>
			<li><a href="#">Configurações</a></li>
			<li class="btn-sidebar" style="float: right;"><a href="#sidebar">Sidebar</a></li>
		</ul>
	</menu>
</header>

<main class="container">
<div class="row">

	<div class="col-md-9">

		<div class="shortcut row">
			<div class="col-md-4">
				<h1><a href="#">Cadastre seus contatos</a></h1>
			</div>
			<div class="col-md-4">
				<h1><a href="#">Crie e Envie mensagens</a></h1>
			</div>
			<div class="col-md-4">
				<h1><a href="#">Acompanhe os resultados</a></h1>
			</div>
		</div>

	</div>
	<aside id="sidebar" class="sidebar col-md-3">

		<section class="sidebox">
			<h1 class="title-sidebar"> <span class="ico-user-star"></span> Dados da conta</h1>
			<div class="bg-gray">
				<span class="sub-title">Plano</span>
				<strong>Email Marketing III</strong>
				<hr>
				<span class="sub-title">Saldo Mensal</span>
				<strong>10.000 envios</strong>
				<small>*Válido até 31/01/2012</small>
			</div>
			<a href="#" class="ico-right-circle">Alterar Plano</a>
		</section>

		<section class="sidebox">
			<h1 class="title-sidebar"><span class="ico-lamp"></span>Dicas</h1>
			<div class="bg-gray">
				<p><strong>Cuidado com os bounces</strong></p>
				<p>Bounces são tipos diversos de problemas que impedem que um contato receba a mensagem enviada.</p>
				<p>Por exemplo: e-mail inválido, caixa postal cheia, lentidão no servidor do destinatário, etc.</p>
			</div>
		</section>

		<section class="sidebox">
			<h1 class="title-sidebar"><span class="ico-config"></span>Ajuda e suporte</h1>
			<ul class="no-style">
				<li class="bg-gray"><a href="">Central de Ajuda (Wiki) <span class="ico-link-out"></span> </a></li>
				<li class="bg-gray"><a href="">Suporte 24hs <span class="ico-link-out"></span> </a></li>
			</ul>
		</section>

	</aside>

</div>
</main>


	<%= javascript_include_tag "libs" %>
	<%= javascript_include_tag "locastyle" %>
	<script src="<%= base_url + bootstrap_js %>"></script>

</body>
</html>