---
title: Box genérico
description: Um box genérico usado para dividir ou agrupar conteúdos
type: css
---

<div class="doc-section">
  <p>Geralmente precisamos agrupar ou dividir algumas informações em caixas no layout. Essas caixas são simples e bem genéricas que podem conter qualquer outro elemento. </p>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Classes</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>.ls-md-space</td>
        <td>Aumenta o espaço do box.</td>
      </tr>
      <tr>
        <td>.ls-sm-space</td>
        <td>Diminui o espaço do box.</td>
      </tr>
      <tr>
        <td>.ls-box-gray</td>
        <td>O box tem background cinza.</td>
      </tr>
      <tr>
        <td>.ls-box-filter</td>
        <td>Faz um box preparado para receber elementos de filtro. Ela herda as classes <strong>.ls-box-gray</strong>, <strong>.ls-sm-space</strong> e <strong>.ls-box</strong></td>
      </tr>
    </tbody>
  </table>

<h2 class="ls-title-2">Box genérico</h2>

<div class="ls-box-demo">
  <%= partial 'documentacao/shared/box/box' %>
</div>
<code class="language-html ls-well-example">
  <%= partial 'documentacao/shared/box/box' %>
</code>

<h2 class="ls-title-2">Box com a classe .ls-gray</h2>
<div class="ls-box-demo">
  <%= partial 'documentacao/shared/box/box-gray' %>
</div>
<code class="language-html ls-well-example">
  <%= partial 'documentacao/shared/box/box-gray' %>
</code>

<h3 class="title-3">Box com as classes ls-md-space e ls-sm-space</h3>
<div class="ls-box-demo">
  <%= partial 'documentacao/shared/box/box-big-small' %>
</div>
<code class="language-html ls-well-example">
  <%= partial 'documentacao/shared/box/box-big-small' %>
</code>

<h3 class="title-3">Box de filtro</h3>
<div class="ls-box-demo">
  <%= partial 'documentacao/shared/box/box-filter' %>
</div>
<code class="language-html ls-well-example">
  <%= partial 'documentacao/shared/box/box-filter' %>
</code>
</div>
