---
title: Cartilha de elementos
description:
---
<div class="doc-content container">
  <h2 class="ls-title-2">Abas</h2>
  <hr>
  <%= partial 'documentacao/shared/abas' %>

  <h2 class="ls-title-2">Alertas</h2>
  <hr>
  <%= partial 'documentacao/shared/alerts/alerts' %>
  <%= partial 'documentacao/shared/alerts/close-alerts' %>

  <h2 class="ls-title-2">Barra de progresso</h2>
  <hr>
  <%= partial 'documentacao/shared/progress-bar/progress' %>
  <hr class="ls-no-border">

  <h2 class="ls-title-2">Botão Switch</h2>
  <hr>
  <%= partial 'documentacao/shared/switch' %>
  <hr class="ls-no-border">

  <h2 class="ls-title-2">Botões</h2>
  <hr>
  <%= partial 'documentacao/shared/botoes/botoes' %>
  <hr class="ls-no-border">
  h2 class="ls-title-2">Box</h2>
  <hr>
  <%= partial 'documentacao/shared/box/box' %>

  <h2 class="ls-title-2">Breadcrumb</h2>
  <hr>
  <%= partial 'documentacao/shared/breadcrumb/breadcrumb-more' %>
  <hr class="ls-no-border">

  <h2 class="ls-title-2">Campos Personalizados</h2>
  <hr>
  <%= partial 'documentacao/shared/custom-fields', locals: {field: 'select'} %>
  <br>
  <hr>
  <h2 class="ls-title-2">Collapses</h2>
  <hr >
  <%= partial('documentacao/shared/collapse', :locals => { :quant => 2, :header => "Título", content: (lorem.paragraphs 1)  }) %>
  <hr class="ls-no-border">

  <h2 class="ls-title-2">Dropdown</h2>
  <hr>
  <%= partial 'documentacao/shared/dropdown' %>
  <hr class="ls-no-border">

  <h2 class="ls-title-2">Footer</h2>
  <hr>
  <%= partial 'documentacao/shared/footer' %>
  <hr class="ls-no-border">

  <h2 class="ls-title-2">Icones</h2>
  <hr>
  <%= partial 'documentacao/shared/icons' %>

  <h2 class="ls-title-2">Modal</h2>
  <hr>
  <%= partial 'documentacao/shared/modal' %>
  <hr class="ls-no-border">

  <h2 class="ls-title-2">Filtro de exibição e Paginação</h2>
  <hr>
  <%= partial 'documentacao/shared/pagination/pagination' %>

  <h2 class="ls-title-2">Listas</h2>
  <hr>
  <%= partial 'documentacao/shared/lists' %>
  <hr class="ls-no-border">

  <h2 class="ls-title-2">Popover</h2>
  <hr>
  <%= partial 'documentacao/shared/popover' %>
  <hr class="ls-no-border">

  <h2 class="ls-title-2">Tags</h2>
  <hr>
  <%= partial 'documentacao/shared/tags' %>
  <hr class="ls-no-border">
  <%= partial 'documentacao/shared/tags-links' %>
  <hr class="ls-no-border">

  <h2 class="ls-title-2">Toltiop</h2>
  <hr>
  <%= partial 'documentacao/shared/tooltip' %>

</div>
