---
title: Collapse & Accordeon
description: Um painel com título visível e conteúdo oculto
type: component
---
<div class="ls-alert-info">
  Para abrir um collapse automaticamente basta na url passar esse parametro com o target do Collapse ou o Href.
  <strong><a href="/documentacao/collapse/#!/#collapse1" target="blank">/#!/#collapse1</a></strong>
</div>
<div class="doc-section">
  <h3 class="ls-title-3">Collapse simples</h3>

  <p>A aparência e comportamento de um collapse são:</p>

  <div class="doc-example doc-example-markup">
    <%= partial('documentacao/shared/collapse', :locals => { :quant => 2, :header => "Título", content: (lorem.paragraphs 1)  }) %>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/collapse', :locals => { :quant => 1, :header => "Título", content: (lorem.words 1)}))%>
    </code>
  </div>

  <p>Os títulos, vísiveis quando o <i>collapse</i> está fechado, podem conter qualquer conteúdo, por exemplo:</p>

  <div class="doc-example doc-example-markup">
    <%= partial('documentacao/shared/collapse', :locals => { :quant => 1, :header => { title: 'Titulo', desc: "Descrição para este collapse" }, content: (lorem.paragraphs 1)  }) %>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/collapse', :locals => { :quant => 1, :header => { title: 'Titulo', desc: "Descrição para este collapse" }, content: (lorem.words 3)  })) %>
    </code>
  </div>

</div>

<div class="doc-section">
  <h3 class="ls-title-3">Parâmetros adicionais</h3>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tr>
      <td>
          ls-collapse-open-always
      </td>
      <td>classe</td>
      <td>mantém um <i>collapse</i> sempre aberto</td>
    </tr>
    <tr>
      <td>ls-collapse-open</td>
      <td>classe</td>
      <td>inicia um <i>collapse</i> aberto</td>
    </tr>
  </table>

  <h2 class="ls-title-2">Exemplos:</h2>

  <div class="doc-example doc-example-markup">
    <%= partial('documentacao/shared/collapse', :locals => { :quant => 1, :header => 'Collapse inicia aberto com a classe .ls-collapse-open', content: (lorem.paragraphs 2), startOpen: false  }) %>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/collapse', :locals => { :quant => 1, :header => 'Collapse inicia aberto com a classe .ls-collapse-open', content: (lorem.words 2), startOpen: false  })) %>
    </code>
    <%= partial('documentacao/shared/collapse', :locals => { :quant => 1, :header => 'Collapse inicia aberto e não fecha com a classe .ls-collapse-open-always', content: (lorem.paragraphs 2), startOpen: false, alwaysOpen: true  }) %>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/collapse', :locals => { :quant => 1, :header => 'Collapse inicia aberto e não fecha com a classe .ls-collapse-open-always', content: (lorem.words 2), startOpen: false, alwaysOpen: true  })) %>
    </code>
  </div>

</div>

<div class="doc-section">
  <h2 class="ls-title-2">Accordeon</h2>

  <p><i>Accordeon</i> é um conjunto de <i>collapses</i> agrupados, onde apenas um deles pernace aberto</p>

  <p>Um <i>accordeon</i> é um conjunto de <i>collapses</i>, como mostrados acima, com um elemento que os agrupa, com a classe <i>ls-collapse-group</i>.</p>

  <div class="doc-example doc-example-markup">
    <div class="ls-collapse-group">
        <%= partial('documentacao/shared/collapse', :locals => { :quant => 5, :header => "Título", content: (lorem.paragraphs 1)  }) %>
    </div>
  </div>

  <p>Os <i>collapses</i> agrupados em um <i>accordeon</i> aceitam as mesmas configurações que um <i>collapse</i> normal.</p>

</div>

<div class="doc-section">
  <h3 class="ls-title-3">Abrir com ação externa</h3>

  <p>Para usar um botão ou <i>link</i> para controlar um <i>collapse</i> utilize o atributo <i>data-toggle-collapse</i> com o valor do <b>id</b> do collapse.</p>

  <div class="doc-example doc-example-markup">
    <button type="button" class="ls-btn-primary" data-toggle-collapse="#collapse1">Abre/Fecha o <i>collapse</i> <b>#collapse1</b></button>
    <%= partial('documentacao/shared/collapse', :locals => { id: "collapse1",:quant => 1, :header => "Título", content: (lorem.paragraphs 1)  }) %>
  </div>

  <p>Para abrir/fechar um <i>collapse</i> usando javascript, use:</p>

  <code class="language-javascript">
    locastyle.collapse.toggle('#collapse1')
  </code>

  <p>Exemplo</p>
  <div class="doc-example doc-example-markup">
    <button class="ls-btn-primary" type="button" onclick="javascript:locastyle.collapse.toggle('#collapse1')">Abre/Fecha o <i>collapse</i> <b>#collapse1</b> com <i>javascript</i></button>
  </div>

</div>
