---
title: Collapse
description: collapse
---

<div class="row">
  <h1 class="ls-title-intro">Collapse</h1>
  <p class="ls-title-2">
    Collapse é um componente para exibir conteúdo comparte dele oculto.
  </p>
  <br>
</div>

<div class="row doc-block">
  <h2 class="ls-title-2">Collapse simples</h2>

  <p>Um <i>collapse</i> usa a seguinte estrutura no html:</p>

  <code class="language-html">
    <div id="teste" class="ls-collapse">
      <div class="ls-collapse-title">
        Título
      </div>
      <div class="ls-collapse-body">
        Conteúdo
      </div>
    </div>
  </code>

  <p>Que é exibido da seguinte forma:</p>

  <div id="teste" class="ls-collapse">
    <div class="ls-collapse-title">
      Título
    </div>
    <div class="ls-collapse-body">
      <% 5.times do |num| %>
      Conteúdo <br>
      <% end %>
    </div>
  </div>

  <p>Os títulos, vísiveis quando o <i>collapse</i> está fechado, podem conter qualquer conteúdo, por exemplo:</p>

  <div id="teste" class="ls-collapse">
    <div class="ls-collapse-title">
      <h3>Título</h3>
      <p>Texto adicional</p>
    </div>
    <div class="ls-collapse-body">
      <% 5.times do |num| %>
      Conteúdo <br>
      <% end %>
    </div>
  </div>

  <br>

  <div id="teste" class="ls-collapse">
    <div class="ls-collapse-title">
      <div class="row ls-overflow-hidden">
        <div class="col-md-3">
          <img src="holder.js/180x50/sky/text:Imagem qualquer">
        </div>
        <div class="col-md-4">
          <h2>Título</h2>
        </div>
      </div>
    </div>
    <div class="ls-collapse-body">
      <% 5.times do |num| %>
      Conteúdo <br>
      <% end %>
    </div>
  </div>

</div>

<div class="row doc-block">
  <h2 class="ls-title-2">Parâmetros adicionais</h2>
  <ul>
    <li>
      .ls-collapse-always-open: mantem um collapse sempre aberto
    </li>
    <li>
      ls-collapse-open: inicia aberto
    </li>
  </ul>

  <p>collapse seguidos</p>

</div>


<br>
<br>
<br>





<h2>collapse Group / accordeon</h2>
<div class="ls-collapse-group">
  <% 5.times do |num| %>
  <div class="ls-collapse">
    <div class="ls-collapse-title">
      <%= lorem.words num+1 %>
    </div>
    <div class="ls-collapse-body">
      <p><%= lorem.paragraphs num+1%></p>
    </div>
  </div>
  <% end %>
</div>


<br>
<br>
<br>

<h2>collapse Group, abertos</h2>
<div class="ls-collapse-group">
  <% 5.times do |num| %>
  <div class="ls-collapse<% if num == 3 %> ls-collapse-open<% end%>">
    <div class="ls-collapse-title">
      <%= lorem.words num+1 %>
    </div>
    <div class="ls-collapse-body">
      <p><%= lorem.paragraphs num+1%></p>
    </div>
  </div>
  <% end %>
</div>

<br>
<br>
<br>

<h2>collapse Group, XXX</h2>
<div class="ls-collapse-group">
  <% 5.times do |num| %>
  <div class="ls-collapse<% if num == 3 %> ls-collapse-open<% end%>">
    <div class="ls-collapse-title">
      <%= lorem.words num+1 %>
    </div>
    <div class="ls-collapse-body">
      <p><%= lorem.paragraphs num+1%></p>
    </div>
  </div>
  <% end %>
</div>

<br>
<br>
<br>

<h2>Abrir com acao externa</h2>

<button type="button" data-toggle-collapse="#collapse1"></button>
 <div id="collapse1" class="ls-collapse">
    <div class="ls-collapse-title">
      <%= lorem.words 2 %>
    </div>
    <div class="ls-collapse-body">
      <p><%= lorem.paragraphs 2 %></p>
    </div>
  </div>
