---
title: Collapse
description: Um painel com título visível e contenúdo oculto
---

<div class=" doc-block">
  <h2 class="ls-title-2">Collapse simples</h2>

  <p>A aparência e comportamento de um collapse são:</p>

  <div class="doc-example doc-example-markup">
  <div class="ls-collapse">
    <a href="#" class="ls-collapse-header">
      <h2 class="ls-collapse-title">Título</h2>
    </a>
    <div class="ls-collapse-body">
      <% 5.times do |num| %>
      Conteúdo <br>
      <% end %>
    </div>
  </div>
  </div>


  <p>Os títulos, vísiveis quando o <i>collapse</i> está fechado, podem conter qualquer conteúdo, por exemplo:</p>

  <div class="ls-collapse">
    <a href="#" class="ls-collapse-header">
      <h3 class="ls-collapse-title">Título</h3>
      <p>Texto adicional</p>
    </a>
    <div class="ls-collapse-body">
      <% 5.times do |num| %>
      Conteúdo <br>
      <% end %>
    </div>
  </div>

  <br>

</div>

<div class=" doc-block">
  <h2 class="ls-title-2">Parâmetros adicionais</h2>

  <table class="ls-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tr>
      <td>
          ls-collapse-always-open
      </td>
      <td>classe</td>
      <td>mantém um <i>collapse</i> sempre aberto</td>
    </tr>
    <tr>
      <td>ls-collapse-open</td>
      <td>classe</td>
      <td>inicia um <i>collapse</i> aberto</td>
    </tr>
  </table>

  <h2 class="ls-title-2">Exemplos</h2>

  <div class="ls-collapse ls-collapse-open">
    <div class="ls-collapse-header">
      Collapse inicia aberto com a classe .ls-collapse-open
    </div>
    <div class="ls-collapse-body">
      <% 5.times do |num| %>
      Conteúdo <br>
      <% end %>
    </div>
  </div>
  <div class="ls-collapse">
    <div class="ls-collapse-header">
      Collapse normal, inicia fechado
    </div>
    <div class="ls-collapse-body">
      <% 5.times do |num| %>
      Conteúdo <br>
      <% end %>
    </div>
  </div>
  <div class="ls-collapse ls-collapse-always-open">
    <div class="ls-collapse-header">
      Collapse inicia aberto e não fecha com a classe .ls-collapse-always-open
    </div>
    <div class="ls-collapse-body">
      <% 5.times do |num| %>
      Conteúdo <br>
      <% end %>
    </div>
  </div>

</div>

<div class=" doc-block">
  <h2 class="ls-title-2">Accordeon</h2>
  <p><i>Accordeon</i> é um conjunto de <i>collapses</i> agrupados, onde apenas um deles pernace aberto</p>

  <p>Um <i>accordeon</i> é um conjunto de <i>collapses</i>, como mostrados acima, com um elemento que os agrupa, com a classe <i>ls-collapse-group</i>.</p>

  <div class="doc-example doc-example-markup">
  <div class="ls-collapse-group">
    <% 5.times do |num| %>
    <!-- início do collapse <%= num+1 %> -->
    <div class="ls-collapse">
      <div class="ls-collapse-header">
        Título do collapse <%= num+1 %>
      </div>
      <div class="ls-collapse-body">
        <%= lorem.paragraphs 1%>
      </div>
    </div>
    <!-- fim do collapse <%= num+1 %> -->
    <% end %>
  </div>
  </div>



  <p>Os <i>collapses</i> agrupados em um <i>accordeon</i> aceitam as mesmas configurações que um <i>collapse</i> normal.</p>

</div>

<div class=" doc-block">
  <h2 class="ls-title-2">Abrir com ação externa</h2>

  <p>Para usar um botão ou <i>link</i> para controlar um <i>collapse</i> utilize o atributo <i>data-toggle-collapse</i> com o valor do <b>id</b> do collapse.</p>

  <div class="doc-example doc-example-markup">
  <button type="button" class="ls-btn-primary" data-toggle-collapse="#collapse1">Abre/Fecha o <i>collapse</i> <b>#collapse1</b></button>

  <div id="collapse1" class="ls-collapse">
    <div class="ls-collapse-header">
      <i>Collapse</i> com id <b>#collapse1</b>
    </div>
    <div class="ls-collapse-body">
      <p><%= lorem.paragraphs 2 %></p>
    </div>
  </div>
  </div>

  <p>Para abrir/fechar um <i>collapse</i> usando javascript, use:</p>

  <code class="language-javascript">
    locastyle.collapse.toggle('#collapse1')
  </code>

  <p>Exemplo</p>

  <button class="ls-btn-primary" type="button" onclick="javascript:locastyle.collapse.toggle('#collapse1')">Abre/Fecha o <i>collapse</i> <b>#collapse1</b> com <i>javascript</i></button>

</div>
