---
title: Collapse
description: collapse
---

<h1>Collapse</h1>
<h1 class="ls-title-intro ls-ico-home">Página inicial</h1>

<h2>Um collapse</h2>

<div class="ls-collapse">
  <div class="ls-collapse-title">
    <%= lorem.words 3 %>
  </div>
  <div class="ls-collapse-body">
    <p><%= lorem.paragraphs 3%></p>
  </div>
</div>

<br>
<br>
<br>

<h2>Um collapsesempre aberto</h2>

<div class="ls-collapse ls-collapse-always-open">
  <div class="ls-collapse-title">
    <%= lorem.words 3 %>
  </div>
  <div class="ls-collapse-body">
    <p><%= lorem.paragraphs 3%></p>
  </div>
</div>

<br>
<br>
<br>

<h2>dois collapses</h2>
<% 2.times do |num| %>
<div class="ls-collapse">
  <div class="ls-collapse-title">
    <%= lorem.words num+1 %>
  </div>
  <div class="ls-collapse-body">
    <p><%= lorem.paragraphs 3%></p>
  </div>
</div>
<% end %>

<br>
<br>
<br>

<h2>tres collapses</h2>
<% 3.times do |num| %>
<div class="ls-collapse">
  <div class="ls-collapse-title">
    <%= lorem.words num+1 %>
  </div>
  <div class="ls-collapse-body">
    <p><%= lorem.paragraphs 3%></p>
  </div>
</div>
<% end %>

<br>
<br>
<br>

<h2>Collapse titulo duas linhas</h2>
<div class="ls-collapse">
  <div class="ls-collapse-title">
    <h5><%= lorem.words 2 %></h5>
    <p><%= lorem.words 5 %></p>
  </div>
  <div class="ls-collapse-body">
    <p><%= lorem.paragraphs 3 %></p>
  </div>
</div>

<br>
<br>
<br>

<h2>Collapse titulo tres linhas</h2>
<div class="ls-collapse">
  <div class="ls-collapse-title">
    <h5><%= lorem.words 2 %></h5>
    <p><%= lorem.words 3 %></p>
    <p><%= lorem.words 5 %></p>
  </div>
  <div class="ls-collapse-body">
    <p><%= lorem.paragraphs 3 %></p>
  </div>
</div>

<br>
<br>
<br>


<h2>Um collapse, aberto</h2>

<div class="ls-collapse ls-collapse-open">
  <div class="ls-collapse-title">
    <%= lorem.words 2 %>
  </div>
  <div class="ls-collapse-body">
    <p><%= lorem.paragraphs 3%></p>
  </div>
</div>


<br>
<br>
<br>


<h2>collapse Group / accordeon</h2>
<div class="ls-collapse-group">
  <% 5.times do |num| %>
  <div class="ls-collapse">
    <div class="ls-collapse-title">
      <%= lorem.words num+1 %>
    </div>
    <div class="ls-collapse-body">
      <p><%= lorem.paragraphs num+1%></p>
    </div>
  </div>
  <% end %>
</div>


<br>
<br>
<br>

<h2>collapse Group, abertos</h2>
<div class="ls-collapse-group">
  <% 5.times do |num| %>
  <div class="ls-collapse<% if num == 3 %> ls-collapse-open<% end%>">
    <div class="ls-collapse-title">
      <%= lorem.words num+1 %>
    </div>
    <div class="ls-collapse-body">
      <p><%= lorem.paragraphs num+1%></p>
    </div>
  </div>
  <% end %>
</div>

<br>
<br>
<br>

<h2>collapse Group, XXX</h2>
<div class="ls-collapse-group">
  <% 5.times do |num| %>
  <div class="ls-collapse<% if num == 3 %> ls-collapse-open<% end%>">
    <div class="ls-collapse-title">
      <%= lorem.words num+1 %>
    </div>
    <div class="ls-collapse-body">
      <p><%= lorem.paragraphs num+1%></p>
    </div>
  </div>
  <% end %>
</div>

<br>
<br>
<br>

<h2>Abrir com acao externa</h2>

<button type="button" data-toggle-collapse="#collapse1"></button>
 <div id="collapse1" class="ls-collapse">
    <div class="ls-collapse-title">
      <%= lorem.words num+1 %>
    </div>
    <div class="ls-collapse-body">
      <p><%= lorem.paragraphs num+1%></p>
    </div>
  </div>
