---
title: Downloads
description: Aqui você pode baixar separadamente os módulos do Locastyle para usar em seu projeto.
---

  <div class="doc-block">
    <h2 class="ls-title-2">Downloads</h2>
  </div>
  <h2 class="ls-title-2">Javascripts</h2>
  <form action="http://162.248.164.209/zipper/" method="post">
    <div class="col-md-4">
      <table class="ls-table ls-table-striped js-modules">
        <thead>
          <tr>
            <th> # </th>
            <th>Módulo</th>
          </tr>
        </thead>
        <tbody>
          <% assets_files('assets/javascripts/locastyle').each do |resource| %>
            <% resource.match('_?([^\/]+)\.[\w]+$').tap do |path| %>
              <tr>
                <td>
                  <input name="files[]" type="checkbox" data-file="<%= path %>" value="https://raw.githubusercontent.com/locaweb/locawebstyle/reboot/<%= resource %>" data-dependence="">
                </td>
                <td>
                  <%= path %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h2 class="ls-title-2">Stylesheets</h2>
      <table class="ls-table ls-table-striped css-modules">
        <thead>
          <tr>
            <th> # </th>
            <th>Módulo</th>
          </tr>
        </thead>
        <tbody>
          <% assets_files('assets/stylesheets/locastyle/base').each do |resource| %>
            <% resource.match('_?([^\/]+)\.[\w]+$').tap do |path| %>
              <tr>
                <td>
                  <input name="files[]" type="checkbox" data-file="<%= path %>" value="https://raw.githubusercontent.com/locaweb/locawebstyle/reboot/<%= resource %>" data-dependence="">
                </td>
                <td>
                  <%= path %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <input type="submit" class="ls-btn-primary" value="Gerar">
    </div>
  </form>
