---
title: Formulários
description: Elementos padrão de formulários e disposição de campos
---

<div class="doc-menu-internal">
  <ol>
    <li><a href="#campos-de-formulario">Campos de formulário</a></li>
    <li><a href="#formularios-verticais">Formulários verticais</a></li>
    <li><a href="#formularios-horizontais">Formulários horizontais</a></li>
    <li><a href="#desabilitando-campos">Desabilitando campos</a></li>
    <li><a href="#formularios-como-texto">Formulários como texto</a></li>
    <li><a href="#habilitando-e-desabilitando-campos">Habilitando e desabilitando campos</a></li>
    <li><a href="#mascaras-de-campos">Máscaras</a></li>
    <li><a href="#prefixos-e-sufixos">Prefixos e sufixos</a></li>
  </ol>
</div>

<div id="campos-de-formulario" class="doc-section">
  <h3 class="ls-title-3">Campos de formulário</h3>

  <p>No <b>Locastyle</b> usamos <b>SEMPRE</b> o padrão de <i>input</i> dentro do <i>label</i> com um <code>span</code> separando o texto do <i>label</i>, para evitar <i>markup</i> adicional envolvendo o campo e seu nome e aproveitar o comportamento nativo de clique no label dando foco no campo, sem precisar adicionar o atributo <code>for="#id-do-elemento"</code>.</p>
  <p>Os formulários, por padrão são horizontais, um campo abaixo do outro, mas isos pode ser alterado usando classes de configuração mostradas nas seções baixo:</p>

  <div class="ls-box ls-box-gray">
    <h4>Lembre-se!</h4>
    <p>Nessa versão de formulário é necessário usar os grids pra definir a largura dos inputs.</p>
    <h4>Acessibilidade</h4>
    <p>Ao usar  o atributo<code>placeholder</code> adicionamos a classe <code>ls-txt-access </code> no <code>ls-label</code>, assim escondemos o elemento, porém os leitores de tela conseguem entender. Faça isso e a Acessibilidade agradece =)</p>
  </div>

  <p>Exemplo:</p>

  <div class="doc-example">
    <p>Campos sempre ocupam toda a largura disponível:</p>
    <form action="" class="ls-form">
      <%= partial('documentacao/shared/form/form-field.erb') %>
    </form>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/form/form-field.erb')) %>
    </code>
    <p>O elemento <code>textarea</code> tem a altura determinada pela propriedade padrão <code>rows="10"</code> com o número de linhas desejadas.</p>
    <form action="" class="ls-form">
      <%= partial('documentacao/shared/form/form-field-textarea.erb') %>
    </form>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/form/form-field-textarea.erb')) %>
    </code>
    <p>O <code>textarea</code> vem com o <i>resize</i> desabilitado por padrão, mas pode ser ativado usando as classes <code>ls-textarea-resize-both</code>, <code>ls-textarea-resize-horizontal</code>, <code>ls-textarea-resize-vertical</code>.</p>
    <p>Para um <code>textarea</code> com o comportamento de aumentar de acordo com o texto, insira a classe <code>ls-textarea-autoresize</code> no <code>textarea</code></p>
    <form action="" class="ls-form">
      <%= partial('documentacao/shared/form/form-field-textarea-autoresize.erb') %>
    </form>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/form/form-field-textarea-autoresize.erb')) %>
    </code>
  </div>

</div>

<div id="formularios-verticais" class="doc-section">
  <h3 class="ls-title-3">Formulários verticais</h3>
  <p>Basta usar o <i>grid</i> padrão.</p>
  <div class="doc-example">
    <%= partial('documentacao/shared/form/form-vertical.erb') %>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/form/form-vertical.erb')) %>
    </code>
  </div>
</div>

<div id="formularios-horizontais" class="doc-section">
  <h3 class="ls-title-3">Formulários horizontais</h3>
  <p>Basta usar o <i>grid</i> padrão, novamente:</p>
  <div class="doc-example">
    <%= partial('documentacao/shared/form/form-horizontal.erb') %>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/form/form-horizontal.erb')) %>
    </code>
  </div>
  <p>Ou usar a classe <code>.ls-field-inline</code> junto de <code>.ls-field</code> para um formulário <i>inline</i> com <i>label</i> ao lado do <i>input</i>.</p>
  <div class="doc-example">
    <%= partial('documentacao/shared/form/form-horizontal-inline.erb') %>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/form/form-horizontal-inline.erb')) %>
    </code>
  </div>
  <p>É possível fazer um formulário usando elementos verticais e horizontais, usando o <i>grid</i> padrão e a classe para <i>form inline</i>.</p>
</div>

<div id="desabilitando-campos" class="doc-section">
  <h3 class="ls-title-3">Desabilitando campos</h3>
  <p>Adicione a classe <code>ls-form-disable</code> para desabilitar tudo dentro do elemento (uma <code>div</code> ou todo o <code>form</code>) ou <code>ls-field-disable</code> para desabilitar um campo.</p>
  <div class="doc-example">
    <%= partial('documentacao/shared/form/form-disable.erb') %>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/form/form-disable.erb')) %>
    </code>
  </div>
</div>

<div id="formularios-como-texto" class="doc-section">
  <h3 class="ls-title-3">Formulários como texto</h3>
  <p>Adicione a classe <code>ls-form-disable</code> para desabilitar tudo dentro do elemento (uma <code>div</code> ou todo o <code>form</code>) ou <code>ls-field-disable</code> para desabilitar um campo.</p>
  <div class="doc-example">
    <%= partial('documentacao/shared/form/form-as-text.erb') %>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/form/form-as-text.erb')) %>
    </code>
    <p>Você pode combinar os comportamentos para ter um formulário como texto e não editável.</p>
    <%= partial('documentacao/shared/form/form-as-text-disabled.erb') %>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/form/form-as-text-disabled.erb')) %>
    </code>
  </div>
</div>

<div id="habilitando-e-desabilitando-campos" class="doc-section">
  <h3 class="ls-title-3">Habilitando e desabilitando campos</h3>
  <p>Coloque o atributo <code>data-ls-toggle-fields=".classe-ou-#id-do-container"</code> em um botão ou <i>link</i>.</p>
  <p>É comum usar esse comportamento associado a outros, como troca de textos e exibir/ocultar botões.</p>
  <div class="doc-example">
    <%= partial('documentacao/shared/form/fields-toggle.erb') %>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/form/fields-toggle.erb')) %>
    </code>
  </div>
</div>

<div id="mascaras-de-campos" class="doc-section">
  <h3 class="ls-title-3">Máscaras de campos</h3>
  <p>Para as máscaras utilizamos o plugin <a href="https://github.com/igorescobar/jQuery-Mask-Plugin">jQuery-Mask-Plugin</a> com alguns atalhos definidos</p>
  <table class="ls-table">
    <thead>
      <tr>
        <th>classe</th>
        <th>mascara</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr><td>ls-mask-date</td><td>11/11/1111</td></tr>
        <tr><td>ls-mask-time</td><td>00:00:00</td></tr>
        <tr><td>ls-mask-date_time</td><td>00/00/0000 00:00:00</td></tr>
        <tr><td>ls-mask-cep</td><td>00000-000</td></tr>
        <tr><td>ls-mask-phone</td><td>0000-0000</td></tr>
        <tr><td>ls-mask-phone_with_ddd</td><td>(00) 0000-0000</td></tr>
        <tr><td>ls-mask-cpf</td><td>000.000.000-00</td></tr>
        <tr><td>ls-mask-ip_address</td><td>0ZZ.0ZZ.0ZZ.0ZZ</td></tr>
        <tr><td>ls-mask-percent</td><td>##0,00%</td></tr>
      </tr>
    </tbody>
  </table>
  <div class="doc-example">
    <form action="" class="ls-form" data-ls-module="form">
      <%= partial('documentacao/shared/form/fields-masks.erb') %>
    </form>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/form/fields-masks.erb')) %>
    </code>

  </div>
</div>

<div id="prefixos-e-sufixos" class="doc-section">
  <h3 class="ls-title-3">Prefixos e sufixos de campo</h3>
  <p>Adicione um elemento extra, <code>span.ls-field-prefix</code> antes, ou <code>span.ls-field-sufix</code> depois do <i>input</i>, seguindo o <s>grid</s>.</p>
  <div class="doc-example">
    <%= partial('documentacao/shared/form/fields-prefix-sufix.erb') %>
    <code class="language-markup">
<%= escape_html(partial('documentacao/shared/form/fields-prefix-sufix.erb')) %>
    </code>

  </div>
</div>
<!--

<div class="row doc-section">
  <h3 class="doc-section-title">Indicando as validações</h3>
</div>

<div class="row doc-section">
  <h3 class="doc-section-title">Calendários</h3>
</div>

<div class="row doc-section">
  <h3 class="doc-section-title">Força de senha</h3>
</div>

Alternando campos
<div class="row doc-section">
  <h3 class="doc-section-title"></h3>
</div> -->

  <!--
  datalist
    list
  max
  maxlength
  min
  multiple
  readonly
  spellcheck
  step
  autofocus
  placeholder
  form
  required
  autocomplete
  pattern
  dirname
  novalidate
  formaction(input/button
  formnovalidate)
  accept
  autosave
  disabled
  inputmode
    verbatim: Alphanumeric, non-prose content such as usernames and passwords.
    latin: Latin-script input in the user's preferred language with typing aids such as text prediction enabled. For human-to-computer communication such as search boxes.
    latin-name: As latin, but for human names.
    latin-prose: As latin, but with more aggressive typing aids. For human-to-human communication such as instant messaging for email.
    full-width-latin: As latin-prose, but for the user's secondary languages.
    kana: Kana or romaji input, typically hiragana input, using full-width characters, with support for converting to kanji. Intended for Japanese text input.
    katakana: Katakana input, using full-width characters, with support for converting to kanji. Intended for Japanese text input.
    numeric: Numeric input, including keys for the digits 0 to 9, the user's preferred thousands separator character, and the character for indicating negative numbers. Intended for numeric codes, e.g. credit card numbers. For actual numbers, prefer using <input type="number">
    tel: Telephone input, including asterisk and pound key. Use <input type="tel"> if possible instead.
    email: Email input. Use <input type="email"> if possible instead.
    url: URL input. Use <input type="url"> if possible instead.

   -->
