---
title: Tags
description: Servem para marcar informações importantes de forma discreta e organizada.
type: css
---

<%= partial 'partials/doc-menu-layout'%>

<section class="col-md-9">

  <!-- Title page -->
  <div class="doc-intro-content">
    <h1><%= current_page.data.title %></h1>
    <p><%= current_page.data.description %></p>
  </div>

  <p>As tags servem para marcar informações importantes de forma discreta e organizada e podem ser utilizadas em links ou qualquer outro elemento, além de ser facilmente implementadas.</p>
  <div class="ls-box-demo">
    <%= partial 'documentacao/shared/tags' %>
  </div>
  <code class="language-html ls-well-example">
  <%= partial 'documentacao/shared/tags' %>
  </code>

  <h2 class="ls-title-2">Variações em forma de links</h2>
  <div class="ls-box-demo">
  <%= partial 'documentacao/shared/tags-links' %>
  </div>
  <code class="language-html ls-well-example">
  <%= partial 'documentacao/shared/tags-links' %>
  </code>
</section>
