<ul class="ls-tabs-nav" id="awesome-dropdown-tab">
  <li class="ls-active"><a data-ls-module="tabs" href="#tab3">Aba 1</a></li>
  <li><a data-ls-module="tabs" href="#tab4">Aba 2</a></li>
  <li>
    <div data-ls-module="dropdown" class="ls-dropdown-tabs">
      <a data-ls-module="tabs" class="ls-btn">Aba 3</a>
      <ul class="ls-tabs-nav ls-dropdown-nav in-dropdown">
        <li><a data-ls-module="tabs" href="#tab5">Aba 3</a></li>
        <li><a data-ls-module="tabs" href="#tab6">Aba 4</a></li>
        <li><a data-ls-module="tabs" href="#tab7">Aba 5</a></li>
      </ul>
    </div>
  </li>
</ul>
<div class="ls-tabs-container" id="awesome-tab-content">
  <div id="tab3" class="ls-tab-content ls-active">
    <p><%= lorem.paragraph %></p>
    <p><%= lorem.paragraph %></p>
  </div>
  <div id="tab4" class="ls-tab-content">
    <p><%= lorem.paragraph %></p>
  </div>
  <div id="tab5" class="ls-tab-content">
    <p><%= lorem.paragraph %></p>
    <p><%= lorem.paragraph %></p>
  </div>
  <div id="tab6" class="ls-tab-content">
    <p><%= lorem.paragraph %></p>
  </div>
  <div id="tab7" class="ls-tab-content">
    <p><%= lorem.paragraph %></p>
  </div>
</div>
