<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title><%= data.page.title %> - Guia de Hospedagem de Sites</title>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width,initial-scale=1' />
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="http://developer.locaweb.com.br/assets/1.1.4/bootstrap.css">
  <!-- <link rel="stylesheet" type="text/css" href="http://developer.locaweb.com.br/assets/edge/locastyle.css"> -->

  <%= stylesheet_link_tag "/assets/locastyle/stylesheets/application.css", "style" %>
  <%= javascript_include_tag "locastyle", "javascripts/manual" %>

</head>
<body class="<%= page_classes %>">

<!-- topbar header -->
<header id="topbar" class="clearfix">
  <div class="limit">
    <!-- <h1 class="logo"><a href="#"><img src="/assets/img/manual/logo.png" alt="Locaweb Hosting"></a></h1> -->
    <h1 class="logo"><a href="/">LOCAWEB STYLE</a></h1>
    <ul class="social-links">
      <li><a href="#"><%= image_tag 'ico-facebook.png', :alt => 'Nosso Facebook',:class => 'img-facebook' %></a>
      <li><a href="#"><%= image_tag 'ico-twitter.png', :alt => 'Nosso Twitter',:class => 'img-twitter' %></a>
    </ul>
  </div>
</header>
<!-- END topbar header -->

  <div><%= yield_content :assets %></div>
