---
title: Contribua
description: O que você precisa saber para iniciar sua contribuição
---
<%= partial 'partials/doc-menu-intro'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <p>Para contribuir, fique atento às informações abaixo e siga totalmente as informações que estão escritas em <%= link_to "Práticas e Padrões", base_url+"/documentacao/praticas/" %>. Você pode não querer escrever código, por isso, há espaço para reportar os problemas que você encontrar. Abaixo segue mais instruções de como continuar:</p>


  <h3 class="doc-title-4">Fork do projeto no GitHub</h3>
  <p>A primeira coisa que você precisa fazer é um <a href="http://github.com/locaweb/locawebstyle">fork do projeto no GitHub</a>. Feito isso, leia atentamente as instruções abaixo e mande bala!

  <h3 class="doc-title-4">Estilo de código</h3>
  <p>Uma boa prática é que embora um código esteja sendo escrito por várias pessoas, ele deve parecer que foi feito apenas por uma. Por isso o estilo e padrões são tão importantes. Se você quiser contribuir com código, tenha certeza de que está escrito no estilo que descrevemos na área <%= link_to "Práticas e Padrões", base_url+"/documentacao/praticas/" %>. </p>

  <p><%= link_to "Nessa área", base_url+"/documentacao/praticas/" %> você encontra todos os nossos padrões e boas práticas que usamos no projeto.</p>

  <h3 class="doc-title-4">Prefixo de Nomenclatura</h3>
  <p>Para evitar conflitos com o código alheio, usamos sempre o prefixo <code>ls-</code>. Dessa forma conseguimos ter uma série de vantagens ao migrar sistemas, corrigir bugs e conflitos com códigos de plugins ou do próprio projeto.</p>

  <h3 class="doc-title-4">Testes</h3>
  <p>Nós usamos <a href="http://jasmine.github.io/edge/introduction.html">Jasmine</a> para conduzir os testes em JavaScript. Se você contribuir com código JavaScript, tenha certeza de que fez os testes corretos para sua função. Não aceitamos Pull Requests sem testes. Ah, os códigos dos describes devem estar em inglês.</p>

  <h3 class="doc-title-4">Problemas e Sugestões</h3>
  <p>As issues do GitHub são o lugar certo caso você encontrar qualquer erro ou tiver alguma ideia genial para melhorar o framework. Sempre nos comunicamos por lá com os reporters e também para marcar nossas tarefas públicas.</p>
  <p><a href="https://github.com/locaweb/locawebstyle/issues">Abra suas issues aqui</a>.</p>

  <h3 class="doc-title-4">Como instalar o projeto localmente para desenvolvimento</h3>
  <p>Primeiramente você precisa do ruby >= 2.2 instalado.</p>
  <% code("bash") do %>
    # O comando abaixo vai mostrar a versão instalada, caso não tenha instale
    $ ruby -v

    # Atualiza o repositorio
    $ sudo apt-get update

    # Instala o ruby
    $ sudo apt-get install ruby
  <% end %>
  <p>Se você estiver tendo problemas com a versão do ruby do seu sistema operacional use o rvm (Ruby Version Manager)</p>
  <% code("bash") do %>
    # O comando abaixo instala uma chave gpg, necessário para instalar o rvm
    $ gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
    
    # Caso o comando acima não funcione tente
    $ curl -sSL https://rvm.io/mpapis.asc | gpg2 --import -

    # Baixa o script do rvm e manda instalar
    $ curl -sSL https://get.rvm.io | bash -s stable --ruby

    # Faz o comando rvm ser interpretado pelo terminal
    $ source /etc/profile

    # Lista as versões atuais do ruby
    $ rvm list known

    # Exemplo de instalação do ruby 2.3
    $ rvm install 2.3

    # Usando a versão instalada
    $ rvm use 2.3

    # Verifica qual a versão esta sendo usada pelo terminal
    $ ruby -v
  <% end %>
  <p>Precisa do Git instalado, caso não tenha instale usando o comando abaixo:</p>
  <% code("bash") do %>
    # Instala o Git
    $ sudo apt-get install git
  <% end %>
  <p>Pacotes para compilar, caso já não tenha instalado, instale os pacotes abaixo:</p>
  <% code("bash") do %>
    # Instala pacote necessario para compilações de gems
    $ sudo apt-get install ruby-all-dev

    # O middleman precisa de alguns pacotes do gcc para compilar, então instale o pacote abaixo
    $ sudo apt-get install build-essential
  <% end %>
  <p>Instale o middleman</p>
  <% code("bash") do %>
    # Instala o middleman, para rodar o servidor local
    $ sudo gem install middleman
  <% end %>
  <p>Clone o seu fork do projeto, no exemplo abaixo estou clonando o projeto real</p>
  <% code("bash") do %>
    # Clonando o projeto para a pasta local
    $ git clone https://github.com/locaweb/locawebstyle.git

    # Entrando na pasta do projeto
    $ cd locawebstyle
  <% end %>
  <p>Dentro da pasta do projeto instale as dependências</p>
  <% code("bash") do %>
    # Instala as gems de dependência do projeto
    $ bundle install
  <% end %>
  <p>Rode o servidor local com middleman</p>
  <% code("bash") do %>
    # Para rodar o servidor
    $ bundle exec middleman server
  <% end %>
  <p>Acesse no navegador o seguinte endereço: http://127.0.0.1:4567/</p>
  <p>Pronto agora você esta preparado para começar a codar.</p>
</section>
