---
title: Informações iniciais
description: Iniciando seu desenvolvimento com Locaweb Style
---
<%= partial 'partials/doc-menu-intro'%>

<section class="col-md-9">

  <%= partial 'partials/doc-intro-content' %>

  <h2 class="doc-title-4">Começando do zero? Comece por aqui</h2>
  <p>Se você quiser um começo ligeiro, copie o código do nosso boilerplate e cole em um arquivo HTML vazio. Com ele você já terá a estrutura inicial com tudo o que precisa para usar o Locaweb Style. Se quiser começar do zero, siga lendo o resto da página.</p>

  <a href="<%= base_url %>/documentacao/introducao/boilerplate" target="_blank" class="ls-btn-primary">Veja o código de Inicial</a>

  <h2 class="doc-title-4">Baixando o boilerplate via NPM</h2>
  <p>O <a href="http://emalherbi.com">Eduardo Malherbi</a> fez um <a href="https://www.npmjs.com/package/generator-locawebstyle">módulo para NPM que instala a última versão do LocaStyle</a> e também o HTML inicial, que serve como base para você começar seu projeto. Para instalar é simples:</p>

  <% code("bash") do %>
    npm install -g yo
    npm install -g generator-locawebstyle
    mkdir my-new-project
    cd my-new-project
    yo locawebstyle
  <% end %>

  <br>
  <br>
  <hr>

  <h2 class="doc-title-5">Use os assets pelo nosso servidor</h2>
  <p>Nós disponibilizamos as versões do Locaweb Style em nosso servidor de alta disponibilidade para qualquer desenvolvedor. Basta usar os links abaixo em seu projeto. A única de dependência é a <strong><a href="http://jquery.com/">jQuery</a></strong>.</p>

  <% code("html") do %>
<!-- Coloque o CSS no seu HEAD -->
<link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/<%= settings.stable %>/stylesheets/locastyle.css">

<!-- Coloque o JS no seu FOOTER, logo depois da jQuery -->
<script src="//assets.locaweb.com.br/locastyle/<%= settings.stable %>/javascripts/locastyle.js"></script>
  <% end %>

  <p>Se você quiser usar a versão mais atual que existe, use os assets em <strong>edge</strong>. Veja abaixo um exemplo:</p>

  <% code("html") do %>
<!-- Coloque o CSS no seu HEAD -->
<link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/edge/stylesheets/locastyle.css">

<!-- Coloque o JS no seu FOOTER, logo depois da jQuery -->
<script src="//assets.locaweb.com.br/locastyle/edge/javascripts/locastyle.js"></script>
  <% end %>

  <p>Sempre que há uma atualização, esses assets são atualizados automaticamente.</p>

  <h2 class="doc-title-5">Baixe os assets usando Bower</h2>

  <p>Para usar os assets do Locaweb Style pelo <%= link_to "Bower", "http://bower.io/", target: "_blank" %> é bem simples:</p>

  <% code("shell") do %>bower install locawebstyle<% end %>

  <p>Após a instalação, basta chamar os arquivos do diretório <code>bower_components</code>:</p>

  <% code("html") do %>
  <link href="bower_components/locawebstyle/dist/stylesheets/locastyle.css" rel="stylesheet" type="text/css">
  <script src="bower_components/locawebstyle/dist/javascripts/locastyle.js"></script>
  <% end %>

  <p>Caso queira alterar o diretório que o bower vai instalar o framework e suas dependências, crie um arquivo <code>.bowerrc</code> e coloque o conteúdo abaixo:</p>

  <% code("shell") do %>
{
  "directory": "assets/components"
}
  <% end %>

  <p>E depois basta chamar os arquivos:</p>

  <% code("html") do %>
  <link href="assets/components/locawebstyle/dist/stylesheets/locastyle.css" rel="stylesheet" type="text/css">
  <script src="assets/components/locawebstyle/dist/javascripts/locastyle.js"></script>
  <% end %>
  <hr>

  <h2 class="doc-title-5">Download da versão mais atual</h2>
  <p>Se você quiser baixar os assets para usar localmente ou em projetos offline, basta clicar no botão abaixo e baixe a versão estável mais atual publicada.<br><br>
  <a href="http://assets.locaweb.com.br/locastyle/<%= settings.stable %>.zip" class="ls-btn-primary ls-btn-large">Baixar versão atual</a>
  </p>

  <h2 class="doc-title-5">Pelo GitHub</h2>
  <p>Se você quiser fuçar no código ou contribuir esse é o melhor caminho. Nosso código está totalmente disponível no <a href="http://github.com/">GitHub</a> e você pode fazer o download desse código pelos meios abaixo:</p>
  <div class="row">
    <div class="col-md-6">
      <h4><a href="http://github.com/locaweb/locawebstyle" class="ls-color-theme">Clone ou Fork pelo GitHub</a></h4>
      <p>Faça um fork no GitHub e contribua.</p>
      <a href="https://github.com/locaweb/locawebstyle" class="ls-btn">Ir para GitHub</a>
    </div>
    <div class="col-md-6">
      <h4><a href="https://github.com/locaweb/locawebstyle/archive/master.zip" class="ls-color-theme">Baixe o repositório <strong>master</strong></a></h4>
      <p>Baixe branch master direto do GitHub.</p>
      <a href="https://github.com/locaweb/locawebstyle/archive/master.zip" class="ls-btn">Baixar</a>
    </div>
  </div>
  <hr>

  <h2 class="doc-title-3">A documentação</h2>
  <p>Nossa documentação vai ser o seu guia para aprender como funciona o Locaweb Style. Nós sempre nos esforçamos para que toda a implementação e o uso dos elementos seja tão fácil quanto um <strong>copy and paste</strong>. </p>

  <div class="row">
    <div class="col-md-4">
      <h4 class="doc-title-5">CSS</h4>
      <p>Aprenda sobre o GRID, Ícones e nossas Classes Funcionais.</p>
      <%= link_to 'CSS', "#{base_url}/documentacao/css/grid", :class => 'ls-btn-primary' %>
    </div>

    <div class="col-md-4">
      <h4 class="doc-title-5">Componentes</h4>
      <p>Conheça todos os componentes que fazem parte do Locaweb Style.</p>
      <%= link_to 'Ir para Componentes', "#{base_url}/documentacao/componentes/", :class => 'ls-btn-primary' %>
    </div>

    <div class="col-md-4">
      <h4 class="doc-title-5">Formulários</h4>
      <p>Saiba como manipular os campos e grupos de formulários com o Locaweb Style.</p>
      <%= link_to 'Formulários', "#{base_url}/documentacao/formularios/", :class => 'ls-btn-primary' %>
    </div>

  </div>

</section>
