<!DOCTYPE html>
<html class="guideLoca colorBlue" lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Este é o documento de padrões de estilo e código mantido pela Locaweb. Seria um Bootstrap da Locaweb para a interface administrativa de nossos produtos.">
  <title>Locaweb guia de estilos - Locaweb Style Guide</title>
  <%= stylesheet_link_tag :application %>
  <%= stylesheet_link_tag 'manual/application' %>
  <%= javascript_include_tag :application %>
  <%= javascript_include_tag 'manual/application' %>
</head>
<body>

<div class="all">
  <div class="headerPrincipalDoc">
    <h1 class="logo"><a href="http://style.locaweb.com.br/" title="Padrões de código e estilo">Locaweb</a></h1>
    <p>Locaweb Style - Padrões de código e UI</p>
  </div>

  <div><%= select_tag "themes", options_for_select(theme_options), id: "theme_selector" %></div>
    <aside class="boxes">
      <a href="/example" class="exampleLnk">Veja um exemplo</a>
      <nav role="navigation">
        <div class="collapseGroup">
          <h4 title="read the fucking manual">Informações</h4>
          <div class="details active">

            <summary data-toggle="collapse" class="active" data-target="#menuIntro">Introdução</summary>
            <div id="menuIntro" class="collapse in">
                <ul>
                    <li><a href="/">Informações iniciais</a></li>
                    <li><a href="/instalacao">Como instalar</a></li>
                    <li><a href="/changelog">Change log - Diário de bordo</a></li>
                    <li><a href="/simple_form">Simple form</a></li>
                    <li><a href="/boaspraticas">Guideline de escrita Front-end</a></li>
                </ul>
            </div>
          </div>

          <div class="details active">
            <summary data-toggle="collapse" class="active" data-target="#menuElementos">Elementos</summary>
            <div id="menuElementos" class="collapse in">
                <ul>
                    <li><a href="/collapse">Collapse</a></li>
                    <li><a href="/tabs">Tabs</a></li>
                    <li><a href="/filtro-paginacao">Filtro e paginação</a></li>
                    <li><a href="/modal">Modal ou Lightbox</a></li>
                    <li><a href="/botoes">Botões</a></li>
                    <li><a href="/tags-inline">Tags inline</a></li>
                    <li><a href="/icons">Elementos com ícones</a></li>
                    <li><a href="/classesfuncionais">Classes Funcionais</a></li>
                    <li><a href="/progressbar">Progress Bar</a></li>
                    <li><a href="/breadcrumb">Breadcrumbs</a></li>
                    <li><a href="/bubble">Bubbles de Informação</a></li>
                    <li><a href="/slider">Slider</a></li>
                    <li><a href="/listagem-infos">Listagem de Informações</a></li>
                </ul>
            </div>
          </div>

          <div class="details active">
            <summary data-toggle="collapse" class="active" data-target="#menuFormularios">Formulários</summary>
            <div id="menuFormularios" class="collapse in">
                <ul>
                  <li><a href="/campos">Campos de Formulários</a></li>
                  <li><a href="/maskedinput">Máscara de formulários</a></li>
                  <li><a href="/validacoes">Estados de validações</a></li>
                  <li><a href="/calendario">Calendários</a></li>
                  <li><a href="/selects">Selects e Combos customizáveis</a></li>
                </ul>
            </div>
          </div>
          <div class="details active">
            <summary data-toggle="collapse" class="active" data-target="#menuEstrutura">Layout</summary>
            <div id="menuEstrutura" class="collapse in">
                <ul>
                  <li><a href="/mobile">Mobile e Responsividade</a></li>
                  <li><a href="/grid">Grid</a></li>
                  <li><a href="/header-principal">Header Principal</a></li>
                  <li><a href="/footer-principal">Footer Principal</a></li>
                  <li><a href="/sidebar">Sidebar</a></li>
                  <li><a href="/paths">Passo a Passo - Paths</a></li>
                </ul>
            </div>
          </div>

          <div class="details active">
            <summary data-toggle="collapse" class="active" data-target="#menuConteudo">Conteúdo</summary>
            <div id="menuConteudo" class="collapse in">
                <ul>
                  <li><a href="/tabela-listagem">Tabela de listagem</a></li>
                  <li><a href="/chamadas">Chamadas</a></li>
                  <li><a href="/mensagens-alertas">Mensagens de Alertas</a></li>
                  <li><a href="/erro404">Erro 404</a></li>
                  <li><a href="/erro505">Erro 505</a></li>
                  <li><a href="/busca-avancada">Busca avançada</a></li>
                </ul>
            </div>
          </div>

      </div>
    </nav>
  </aside>

    <div class="main boxes clearfix">
      <%= yield %>
    </div>
  <footer class="site-footer">
    <p>If not you, who? If not now, when?</p>
    <p>Copyright © 1997-2012 Locaweb Serviços de Internet S/A -  <a href="/termo-uso">Termos de Uso</a> </p>
  </footer>
</div><!-- FIM GERAL -->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32633790-1']);
  _gaq.push(['_setDomainName', 'locaweb.com.br']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
