<!DOCTYPE html>
<html class="guideLoca" lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Locaweb Style Guide</title>
	<%= stylesheet_link_tag :application %>
	<%= stylesheet_link_tag 'manual/application' %>
	<%= javascript_include_tag :application %>
	<%= javascript_include_tag 'manual/application' %>
	<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
	<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"></script>
	<script src="http://alexgorbatchev.com.s3.amazonaws.com/pub/sh/3.0.83/scripts/shBrushCss.js" type="text/javascript"></script>
	<script src="http://alexgorbatchev.com.s3.amazonaws.com/pub/sh/3.0.83/scripts/shBrushXml.js" type="text/javascript"></script>
</head>
<body>

<div class="all">
	<div class="headerPrincipalDoc">
		<h1 class="logo"><a href="http://locaweb.com.br/">Locaweb</a></h1>
		<p>Guia visual e de estilo</p>
	</div>

    <aside class="boxes">
      <nav role="navigation">
        <div class="collapseGroup">
          <h4 title="read the fucking manual">Informações</h4>
          <div class="details selected">
            
            <summary data-toggle="collapse" data-target="#menuIntro" class="selected active">Introdução</summary>
            <div id="menuIntro" class="collapse in">
                <ul>
                    <li><a href="/">Informações iniciais</a></li>
                    <li><a href="/instalacao">Como instalar</a></li>
                    <li><a href="/simple_form">Simple form</a></li>
                </ul>
            </div>
          </div>


          <div class="details selected">
            
            <summary data-toggle="collapse" data-target="#menuEstrutura" class="selected active">Modos de estrutura</summary>
            <div id="menuEstrutura" class="collapse in">
                <ul>
                <li><a href="/estrutura-uma-coluna">Estrutura uma coluna</a></li>
                <li><a href="/estrutura-duas-colunas">Estrutura duas colunas</a></li>
                <li><a href="/header-principal">Header Principal</a></li>
                <li><a href="/footer-principal">Footer Principal</a></li>
                <li><a href="/sidebar">Sidebar</a></li>
                </ul>
            </div>
          </div>

          <div class="details selected">
            <summary data-toggle="collapse" data-target="#menuElementos" class="selected active">Elementos</summary>
            <div id="menuElementos" class="collapse in">
                <ul>
                    <li><a href="/collapse">Collapse</a></li>
                    <li><a href="/tabs">Tabs</a></li>
                    <li><a href="/filtro-paginacao">Filtro e paginação</a></li>
                    <li><a href="/modal">Modal ou Lightbox</a></li>
                    <li><a href="/botoes">Botões</a></li>
                    <li><a href="/calendario">Calendários</a></li>
                    <li><a href="/tags-inline">Tags inline</a></li>
                </ul>
            </div>
          </div>


          <div class="details selected">
            
            <summary data-toggle="collapse" data-target="#menuConteudo" class="selected active">Conteúdo</summary>
            <div id="menuConteudo" class="collapse in">
                <ul>
                <li><a href="/tabela-listagem">Tabela de listagem</a></li>
                <li><a href="/mensagens-alertas">Mensagens de Alertas</a></li>
                </ul>
            </div>
          </div>

          <div class="details selected">
            
            <summary data-toggle="collapse" data-target="#menuFormularios" class="selected active">Formulários</summary>
            <div id="menuFormularios" class="collapse in">
                <ul>
                <li><a href="/campos">Campos</a></li>
                <li><a href="/busca-avancada">Busca avançada</a></li>
                </ul>
            </div>
          </div>

          <h4 title="read the fucking manual">Específicos de Serviços</h4>
          <div class="details selected">
            <summary data-toggle="collapse" data-target="#menuGateway" class="selected active">Gateway</summary>
            <div id="menuGateway" class="collapse in">
                <ul>
                  <li><a href="/gateway-meios-pagamentos">Meios de Pagamento</a></li>
                </ul>
            </div>
          </div>



			</div>
		</nav>
	</aside>

    <div class="main boxes clearfix">
    	<%= yield %>
    </div>
  <footer role="footer" class="site-footer">
    <p>If not you, who? If not now, when?</p>
  </footer>
</div><!-- FIM GERAL -->


</body>
</html>
