<!DOCTYPE html>
<html class="guideLoca" lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Locaweb Style Guide</title>
	<%= stylesheet_link_tag :application %>
	<%= stylesheet_link_tag 'manual/application' %>
	<%= javascript_include_tag :application %>
	<%= javascript_include_tag 'manual/application' %>
	<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
	<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"></script>
	<script src="http://alexgorbatchev.com.s3.amazonaws.com/pub/sh/3.0.83/scripts/shBrushCss.js" type="text/javascript"></script>
	<script src="http://alexgorbatchev.com.s3.amazonaws.com/pub/sh/3.0.83/scripts/shBrushXml.js" type="text/javascript"></script>
</head>
<body>

<div class="destaque">
	<h1><img src="http://assets.locaweb.com.br/images/logo_locaweb_183x41.gif" width="183" height="41"></h1>
	<p>Guia visual e de estilo dos elementos que formam os layouts dos serviços Locaweb</p>
</div>

<aside class="guideAreas">
	<nav>
		<h6>Início</h6>
		<ul>
			<li><a href="/">Informações iniciais</a></li>
			<li><a href="/instalacao">Como instalar</a></li>
			<li><a href="/simple_form">Simple form</a></li>
		</ul>
		<h6>Estrutura</h6>
		<ul>
			<li><a href="/estrutura-uma-coluna">Estrutura uma coluna</a></li>
			<li><a href="/estrutura-duas-colunas">Estrutura duas colunas</a></li>
			<li><a href="/header-principal">Header Principal</a></li>
			<li><a href="/footer-principal">Footer Principal</a></li>
			<li><a href="/sidebar">Sidebar</a></li>
		</ul>

		<h6>Elementos</h6>
		<ul>
			<li><a href="/collapse">Collapse</a></li>
			<li><a href="/tabs">Tabs</a></li>
			<li><a href="/filtro-paginacao">Filtro e paginação</a></li>
			<li><a href="/modal">Modal ou Lightbox</a></li>
			<li><a href="/botoes">Botões</a></li>
			<li><a href="/calendario">Calendários</a></li>
		</ul>

		<h6>Conteúdo</h6>
		<ul>
			<li><a href="/tabela-listagem">Tabela de listagem</a></li>
		</ul>

		<h6>Formulários</h6>
		<ul>
			<li><a href="/forms">Campos</a></li>
			<li><a href="/busca-avancada">Busca avançada</a></li>
		</ul>
		<h6>Gateway</h6>
	    <ul>
	      <li><a href="/gateway-meios-pagamentos">Meios de Pagamento</a></li>
	    </ul>
	</nav>
</aside>

<%= yield %>

</body>
</html>
