<!DOCTYPE html>
<html>
<head>
  <title>Locaweb Style</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/assets/img/icoHomescreen.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8">
  <%= stylesheet_link_tag :bootstrap %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :bootstrap %>
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag 'manual/example' %>
  <%= javascript_include_tag 'manual/application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="toolbar">
    <div class="limiteToolbar">
      <h1 class="logoToolbar">Central do Cliente</h1>
      <ul id="select_themes" class="menuToolbar">
        <li>
          Selecione o tema: <%= select_tag "themes", options_for_select(theme_options), id: "theme_selector", include_blank: true %>
        </li>
      </ul>
    </div>
  </div>



  <div id="main">
    <div class="limite">
      <div class="row">
        <div class="span16">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32633790-1']);
    _gaq.push(['_setDomainName', 'locaweb.com.br']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
